<style>
    textarea:focus, input:focus {
        outline: none;
    }
    .share-pop-wrap {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 999;
        display: none;
    }
    .share-pop-container {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 1100px;
        border-radius: 4px;
        overflow: hidden;
    }
    .share-pop-container .share-pop-header {
    }
    .share-pop-container .share-pop-header img {
        display: block;
        width: 100%;
    }
    .share-pop-container .share-pop-main {
        padding-top: 80px;
        text-align: center;
        background: white;
    }
    .share-pop-container .share-pop-tips {
        margin-bottom: 40px;
    }
    .share-pop-container .share-pop-tips h3 {
        font-size: 34px;
        line-height: 1.2;
        font-weight: 700;
        color: black;
        margin-bottom: 12px;
    }
    .share-pop-container .share-pop-tips p {
        font-size: 20px;
        line-height: 1.5;
        color: #727272;
        margin: 0 auto 48px;
        width: 540px;
    }
    .share-pop-container .pop-email-input {
        width: 640px;
        height: 48px;
        border: none;
        border-bottom: 1px solid #e4e4e4;
        border-radius: 4px;
        padding: 0 16px;
        font-size: 16px;
        line-height: 1.5;
        color: #727272;
        margin-bottom: 24px;
    }
    .share-pop-footer {
        padding: 24px 0;
        text-align: center;
        background: black;
        position: relative;
        font-weight: 600;
        font-size: 24px;
        line-height: 1.5;
        color: white;
        cursor: pointer;
    }
    .share-pop-footer::after {
        content: '';
        position: absolute;
        top: -1px;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-top: 20px solid white;
        border-right: 16px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 16px solid transparent;
    }
    .share-pop-url {
        font-weight: 600;
        font-size: 24px;
        line-height: 1.5;
        color: #00CC88;
        margin-bottom: 24px;
        display: none;
    }
    .cs-custom-form {
        padding-bottom: 60px;
    }
    .cs-custom-form .help-block {
        color: red;
    }
    .share-pop-copy-link {
        display: none;
    }
    .share-pop-close {
        position: absolute;
        top: 0;
        right: 0;
        height: 40px;
        border: none;
        cursor: pointer;
        font-size: 32px;
        color: white;
    }
    .share-page-step2 {
        display: none;
    }
    @media(max-width: 767px) {

        .share-pop-container {
            width: 90%;
            border-radius: 0;
            overflow: initial;
            height: 75%;
        }
        .share-pop-container .share-pop-main {
            padding: 40px 20px 0;
        }
        .share-pop-container .share-pop-tips {
            margin-bottom: 24px;
        }
        .share-pop-container .share-pop-tips h3 {
            font-size: 24px;
        }
        .share-pop-container .share-pop-tips p {
            font-size: 16px;
            width: 100%;
            margin-bottom: 24px;
        }
        .share-pop-container .pop-email-input {
            width: 100%;
            height: 40px;
            padding: 0 12px;
            font-size: 14px;
        }
        .share-pop-footer {
            font-size: 16px;
        }
        .share-pop-url {
            font-size: 16px;
        }
        .share-pop-close {
            top: -44px;
            font-size: 28px;
        }
    }
</style>
<div class="share-pop-wrap">
    <div class="share-pop-container">
        <div class="share-pop-header">
            <picture>
                <source srcset="https://cdn.shopify.com/s/files/1/0573/0979/0291/files/pc_9660ca14-a5fc-4751-b590-554e629c444a.png?v=1679887934" media="(min-width: 768px)">
                <source srcset="https://cdn.shopify.com/s/files/1/0573/0979/0291/files/mobile_1ee37ca3-65f7-41ca-975c-5e168cd19633.png?v=1679887934" media="(max-width: 767px)">
                <img src="https://cdn.shopify.com/s/files/1/0573/0979/0291/files/pc_9660ca14-a5fc-4751-b590-554e629c444a.png?v=1679887934">
            </picture>
        </div>
        <div class="share-pop-main">
            <div class="share-pop-tips">
                <h3>Refer A Friend</h3>
                <div class="share-pop-url">https://eu.ugreen.com/products/15050</div>
                <p class="share-page-step1">Share the page link with your friends to receive a €45 discount coupon</p>
                <p class="share-page-step2">Copy the link and share it with your friends. After successfully sharing, the coupon will be sent directly to your email.</p>
            </div>
            <div class="center-col cs-custom-form s1326010630">
                <div class="form-col-wrap">
                    <form method="post" action="https://ecf.cirkleinc.com/api/form-submit"
                          class="cs-form-wrap share-pop-form"
                          id="574d032b-3f2e-4b03-bb6e-7ec02a67b94e">
                        <div class="Polaris-FormLayout">
                            <div class="Polaris-FormLayout__Item">
                                <div class="sc-jJEKmz">
                                    <div class="sc-citxvW sc-iUuxjF gYTLuO iidRym drop-area-warp">
                                        <div class="element-group  cs-width-100"><label for="email"
                                                                                        class="required"></label><input
                                                    type="email" id="email" name="email" placeholder="You Email *"
                                                    class="pop-email-input">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="share-pop-footer unlock">
            <div class="share-pop-copy-unlock">Unlock €45 Off</div>
            <div class="share-pop-copy-link">Copy Link Now</div>
        </div>
        <div class="share-pop-close">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-delete"></use>
            </svg>
        </div>
    </div>
</div>
<script src="https://ecf.cirkleinc.com/public/frontend/js/form-builder-helper-v2.js" defer></script>
{% comment %}<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>{% endcomment %}
<script>
    function beforeSubmit(form) {
        return true;
    }

    function afterSubmit(form) {
        $('.share-pop-wrap').remove()
        return true;
    }</script>
<script>
    $(function () {
        if (localStorage.getItem('600w-share-pop') === 'true') {
            $('.share-pop-wrap').remove()
            return
        } else {
            setTimeout(() => {
                $('.share-pop-wrap').show()
                localStorage.setItem('600w-share-pop', 'true')
            }, 1000)
        }
        $('.share-pop-close').on('click', () => {
            $('.share-pop-wrap').remove()
        })

        $('.share-pop-footer').on('click', (e) => {
            if ($('.share-pop-footer').hasClass('unlock')) {
                $('.share-pop-copy-link').show()
                $('.share-pop-copy-unlock').hide()
                $('.share-pop-url').show()
                $('.share-pop-footer').removeClass('unlock').addClass('copy')
                $('.share-page-step1').hide()
                $('.share-page-step2').show()
            } else if ($('.share-pop-footer').hasClass('copy')) {
                copyToClipboard($('.share-pop-url').text())
                $('form.share-pop-form').submit()
            }

        })

        function copyToClipboard(text) {
            var input = document.body.appendChild(document.createElement("input"));
            input.value = text;
            input.focus();
            input.select();
            document.execCommand('copy');
            input.parentNode.removeChild(input);
        }
    })


</script>