{% if template contains 'product' %}
<div style="display:none;"><a id="custom--app--btn" target="_blank" class="btn button"
    style="margin-bottom:10px;display:block"></a></div>
<script defer>
  document.addEventListener("DOMContentLoaded", function () {
    onloadCallFunction();
  });

  document.getElementById("custom--app--btn").addEventListener("click", function () {
    var guid = "{{shop.metafields.Linkify_GUID.guid}}";
    let product_id = "{{product.id}}";
    var url = "/apps/enimoh/api/register-product-click";
    fetch(url,
      {
        headers: {
          "Access-Control-Allow-Origin": '*',
          'Accept': 'application/json',
          'Content-Type': 'application/json',
          'guid': guid
        },
        method: "POST",
        body: JSON.stringify({ product_id })
      })
      .then(res => res.json())
      .then((data) => {

      })
  });


  function onloadCallFunction() {
    var guid = "{{shop.metafields.Linkify_GUID.guid}}";
    let product_id = "{{product.id}}";
    var url = "/apps/enimoh/api/" + guid + "/product/CheckProductExistOrNot";
    fetch(url,
      {
        headers: {
          "Access-Control-Allow-Origin": '*',
          'Accept': 'application/json',
          'Content-Type': 'application/json',
          'guid': guid
        },
        method: "POST",
        body: JSON.stringify({ product_id })
      })
      .then(res => res.json())
      .then((data) => {
        if (data.status_code == 200) {
          if (data.data != "" && data.data != null) {
            linkifyButtonAppend(data.data);
          }
        }
      })
  }

  function linkifyButtonAppend(data) {
    var parent = document.querySelector('form[action^="/cart/add"]');
    //var selector = document.querySelector('button[type^="submit"]');
    var selector = document.querySelector('form[action^="/cart/add"] button[type^="submit"]');
    var target = document.getElementById('custom--app--btn');
    var buyButton = document.querySelector(".shopify-payment-button");
    if (data.ButtonText === "") {
      data.ButtonText = "VIEW ON AMAZON";
    }
    target.innerHTML = data.ButtonText;
    //Add To cart Button hide
    var AddToCartButton = data.AddToCartButton;
    if (AddToCartButton != "Show" && AddToCartButton != "") {
      selector.style.display = "none";
      if (typeof (buyButton) != 'undefined' && buyButton != null) {
        setTimeout(function () {
          document.getElementsByClassName('shopify-payment-button')[0].style.display = 'none';
        }, 3000);
      }
    }

    let final_url = data.ProductUrlWithTag

    target.setAttribute('href', final_url);
    selector.parentNode.insertBefore(target, selector.nextSibling);
  }
  function localize(url) {
    if (url.includes('.com')) {
    } else if (url.includes('.co.uk')) {

    } else if (url.includes('.com.au')) {
      //      Australia
    } else if (url.includes('.in')) {
      //      India
    } else if (url.includes('.cn')) {
      //      China
    } else if (url.includes('.co.jp')) {
      //      Japan
    } else if (url.includes('.com.br')) {
      //      Brazil-com.br
    } else if (url.includes('.ca')) {
      //      Canada-ca
    } else if (url.includes('.fr')) {
      // France-fr
    } else if (url.includes('.de')) {
      // Germany-de
    } else if (url.includes('.it')) {
      // Italy-it
    } else if (url.includes('.com.mx')) {
      // Mexico-com.mx
    } else if (url.includes('.nl')) {
      // Netherlands-nl
    } else if (url.includes('.es')) {
      // Spain-es
    } else if (url.includes('.esae')) {
      // UAE-ae
    }
  }

</script>
{% endif %}

<style>
</style>