{% assign random_number = "now" | date: "%N" | modulo: 1000 | plus: 0 %}
<script>
    var sectionConfig=  (typeof sectionConfig == "undefined" || sectionConfig == null) ? {
  } : sectionConfig;
    var scmCustomData=  (typeof scmCustomData == "undefined" || scmCustomData == null) ? {
  } : scmCustomData;
    var scmCustomDataWigetAll= (typeof scmCustomDataWigetAll == "undefined" || scmCustomDataWigetAll == null) ? [] : scmCustomDataWigetAll;
    scmCustomDataWigetAll['{{ random_number }}'] ={
    "id_iframe" : "{{ random_number }}",
    "productId" : "",
    "typePage" : 'happyPage',
    "sectionConfig" : JSON.stringify(sectionConfig),
    "scmCustomData" : JSON.stringify(scmCustomData),
    'dataProduct' : []
  };
    sectionConfig= null;
    scmCustomData= null;
</script>
<div class="scm-container" style="display: none;">
  <div class="scm-reviews-importer">
    <iframe class="scm-reviews-importer-iframe" width="100%" title="Sma reviews section Happy Page" data-idIframe="{{ random_number }}"></iframe>
  </div>
</div>
