<style>
    .ug-product-short-desc {
        position: relative;
        overflow: hidden;
        transition: all 0.3s;
    }
    .ug-product-short-desc.fold {
        max-height: 120px;
        cursor: pointer;
    }
    .ug-product-short-desc ul {
        list-style: disc;
    }
    .ug-product-short-desc.fold:after {
        position: absolute;
        height: 30%;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(180deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, .75) 54%, #fff);
        clear: both;
        content: " ";
        display: block;
        font-size: 0;
    }
    .ug-product-short-desc ul li:first-child {
        color: #131414;
    }
    .foldBtn-wrap {
        display: none;
        align-items: center;
    }
    #foldBtn {
        color: #00CC88;
        font-size: 16px;
    }
    .foldBtn-arrow {
        width: 6px;
        height: 6px;
        border: 1px solid #00CC88;
        border-left: none;
        border-top: none;
        margin-left: 6px;
        transform: rotate(225deg);
        transition: all 0.3s;
    }
    .foldBtn-wrap.fold .foldBtn-arrow{
        transform: rotate(45deg);
    }
</style>
{% liquid
    assign hide_id = product.id
    assign description = product.description
%}
{% if product.metafields.custom.short_description != blank %}
    <div class="ug-product-short-desc fold">
        {% if product.id == 7037641162814 %}
            {%- assign description = product.metafields.custom.short_description | newline_to_br -%}
            {% assign descArr = description | split: '<br />' %}
            <ul>
                {% for item in descArr %}
                    <li>{{ item }}</li>
                {% endfor %}
            </ul>
        {% else %}
            {{ product.metafields.custom.short_description }}
        {% endif %}
    </div>
    <div class="foldBtn-wrap fold"><a href="javascript:void(0)" id="foldBtn">En savoir plus</a><span
                class="foldBtn-arrow"></span>
    </div>
{% endif %}


<script>
    $(function () {
        setTimeout(() => {
            init()
        })

        function init() {
            const foldEl = document.querySelector('.foldBtn-wrap')
            const descWrapEl = document.querySelector('.ug-product-short-desc');
            const descHeight = descWrapEl.querySelector('ul')?.getBoundingClientRect()?.height;
            if (!descHeight || descHeight < 120) {
                descWrapEl.removeChild(foldEl)
                return;
            }
            if (descHeight >= 120) {
                $('.foldBtn-wrap').css('display', 'flex')
            }
            expandShortDesc(foldEl, descWrapEl, descHeight)
        }

        function expandShortDesc(foldEl, descWrapEl, descHeight) {
            foldEl.addEventListener('click', function () {
                if (descWrapEl.classList.contains('fold')) {
                    descWrapEl.classList.remove('fold')
                    foldEl.classList.remove('fold')
                    descWrapEl.style.maxHeight = descHeight + 'px'
                    $('#foldBtn').text('Learn Less')
                } else {
                    descWrapEl.classList.add('fold')
                    foldEl.classList.add('fold')
                    descWrapEl.style.maxHeight = '120px'
                    $('#foldBtn').text('Learn More')
                }
            })
            descWrapEl.addEventListener('click', function () {
                if (descWrapEl.classList.contains('fold')) {
                    descWrapEl.classList.remove('fold')
                    foldEl.classList.remove('fold')
                    descWrapEl.style.maxHeight = descHeight + 'px'
                    $('#foldBtn').innerHTML = 'Learn Less'
                }
            })
        }
    })
</script>