{{ 'ug-com-share-footer.css' | asset_url | stylesheet_tag }}
<script src="https://cdn.jsdelivr.net/npm/sharer.js@latest/sharer.min.js"></script>
<div class="ug-com-share">
  <div class="ug-com-share-footer">
    <div class="ug-com-share-footer-title">{{ section.settings.title }} </div>
    <div class="ug-com-share-footer-share">{{ section.settings.sub }}</div>
    <ul>
      <li><img data-sharer="facebook" src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/Group_383.png?v=1659092076" data-url="https://www.ugreen.com/pages/new-iphones-need-ugreen"/></li>
      <li><img data-sharer="pinterest" src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/Group_384.png?v=1659092075" data-url="https://www.ugreen.com/pages/new-iphones-need-ugreen"/></li>
      <li><img data-sharer="twitter"  src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/Group_385.png?v=1659092075" data-url="https://www.ugreen.com/pages/new-iphones-need-ugreen"/></li>
    </ul>
  </div>
</div>
{% schema %}
  {
    "name": "ugreen share footer",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "sub",
        "label": "Sub Title"
      }
    ],
      "presets": [
      {
        "name": "ugreen share footer"
      }
    ],
    "templates": ["page"]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}