<style>
  .icon {
      width: 1em;
      height: 1em;
      vertical-align: -0.15em;
      fill: currentColor;
      overflow: hidden;
  }
  /*topImage*/
  .topImage {
      width: 100%;
      position: relative;
  }
  .mainBanner {
      width: 100%;
      height: 100%;
  }
  .mainBanner img {
      width: 100%;
  }
  .topImageText {
      position: absolute;
      top: 5.2vw;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      color: white;
  }
  .topImageText h1 {
      font-size: 2vw;
      font-weight: bold;
      color: #fff;

  }
  .topImageText h2 {
      font-size: 1.2vw;
      font-weight: 400;
      margin: .5vw 0 1.2vw 0;
      color: #fff;
  }
  .topImageText .btn {
      display: inline-block;
      height: 2.5vw;
      line-height: 2.5vw;
      text-align: center;
      padding: 0 1.67vw;
      border: 1px solid white;
      border-radius: 60px;
      font-size: 0.83vw;
      cursor: pointer;
      font-weight: 600;
  }
  .topImageText .btn:hover {
      background: #00CC88;
      color: white;
      border-color: #00CC88;
  }
  .topImageText .icon {
      width: .8em;
      height: .8em;
  }
  @media (max-width: 767px) {
      .topImageText {
          top: 25%;
          width: 100%;
          padding: 0 20px;
      }
      .topImageText h1 {
          font-size: 28px;
          line-height: 1.2;
      }
      .topImageText h2 {
          font-size: 16px;
          margin-top: 8px;
          line-height: 1.2;
      }
      .topImageText .btn {
          font-size: 16px;
          height: 40px;
          width: 140px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 25px auto 0;
          line-height: 1;
      }
  }
  /*topImage*/

  /*    why buy*/
  .green-home-whybar {
      height: 3.125vw;
      background-color: #000;
      max-width: 1200px;
      width: 100%;
  }
  .green-home-whybar-ship {
      font-size: .833vw;
      font-weight: 400;
      color: #858585;
      line-height: 2.292vw;
      margin-bottom: 0 !important;
      margin-left: 0;
      padding: 0;
  }
  .green-home-whybar-ship li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center
  }
  .green-home-whybar-ship img {
      margin-right: .625vw;
      width: 1.667vw;
      height: 1.667vw
  }
  .green-home-whybar-more {
      font-size: .833vw;
      font-weight: 400;
      color: #fff !important;
      margin-left: 3.646vw;
      text-decoration: none !important
  }
  @media (max-width: 767px) {
      .green-home-whybar {
          height: 60px;
      }
      .green-home-whybar-ship {
          font-size: 14px;
          line-height: 1.2;
          color: #00CC88;
      }
      .green-home-whybar-ship li {
          white-space: nowrap;
          font-size: 16px;
          margin-bottom: 0;
          line-height: 1;
      }
      .green-home-whybar-ship img {
          margin-right: 5px;
          width: 32px;
          height: 32px;
      }
      .green-home-whybar-more {
          font-size: 14px;
          margin-left: 10px;
      }
  }
  /*    why buy*/
</style>
<script src="//at.alicdn.com/t/c/font_3829374_9fbnj23d42i.js"></script>
<div>
  <a href="/collections/gan-chargeur">
    <div class="topImage">
      <div class="mainBanner">
        <picture>
          <source
            srcset="https://cdn.shopify.com/s/files/1/0573/0979/0291/files/1.3-_Mobile.png?v=1679541258"
            media="(max-width: 375px)"
          >
          <source
            srcset="https://cdn.shopify.com/s/files/1/0573/0979/0291/files/1.3-_Mobile.png?v=1679541258"
            media="(max-width: 768px)"
          >
          <source
            srcset="https://cdn.shopify.com/s/files/1/0573/0979/0291/files/1.2_-_Web.png?v=1679541263"
            media="(max-width: 1080px)"
          >
          <source
            srcset="https://cdn.shopify.com/s/files/1/0573/0979/0291/files/1.2_-_Web.png?v=1679541263"
            media="(max-width: 1200px)"
          >
          <source
            srcset="https://cdn.shopify.com/s/files/1/0573/0979/0291/files/1.2_-_Web.png?v=1679541263"
            media="(max-width: 1920px)"
          >
          <img
            src="https://cdn.shopify.com/s/files/1/0573/0979/0291/files/1.2_-_Web.png?v=1679541263"
            alt="image"
          >
        </picture>
      </div>
      <div class="topImageText">
        <h1 class="title">Superior GaN Technology"Sub: "Bolder, Faster Chargers</h1>
        <h2 class="subTitle"></h2>
        <div class="btn">
          <span>Shop Now</span>
          <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-xiayiye"></use>
          </svg>
        </div>
      </div>
    </div>
  </a>
  <section style="background:#000;">
    <div class="green-home-whybar swiper">
      <ul class="green-home-whybar-ship swiper-wrapper">
        <li class="swiper-slide">
          <a href="/pages/warehouse">
            <picture>
              <source
                srcset="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/1_a38141e5-3ba1-4aca-a605-5e0acf6ed117.png?v=1687256464"
                media="(max-width: 768px)"
              >
              <img
                src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/1_a38141e5-3ba1-4aca-a605-5e0acf6ed117.png?v=1687256464"
                alt="free icon"
              >
            </picture>
            Local Warehouse
          </a>
        </li>
        <li class="swiper-slide">
          <a href="/policies/refund-policy">
            <picture>
              <source
                srcset="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/3_72beac30-5c9a-4088-ab3b-787daa53e026.png?v=1687256465"
                media="(max-width: 768px)"
              >
              <img
                src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/3_72beac30-5c9a-4088-ab3b-787daa53e026.png?v=1687256465"
                alt="risk icon"
              >
            </picture>
            30-day Risk-Free Trial*
          </a>
        </li>
        <li class="swiper-slide">
          <picture>
            <source
              srcset="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/2_ffbc175e-64b9-42cb-bede-4802cac9db94.png?v=1687256464"
              media="(max-width: 768px)"
            >
            <img
              src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/2_ffbc175e-64b9-42cb-bede-4802cac9db94.png?v=1687256464"
              alt="price icon"
            >
          </picture>
          Two-year Product Warranty
        </li>
        <li class="swiper-slide">
          <picture>
            <source
              srcset="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/4_3aaf89b5-2af3-4948-a9de-fd7d79bfda25.png?v=1687256465"
              media="(max-width: 768px)"
            >
            <img
              src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/4_3aaf89b5-2af3-4948-a9de-fd7d79bfda25.png?v=1687256465"
              alt="price icon"
            >
          </picture>
          Product VAT Incl
        </li>
      </ul>
    </div>
  </section>
</div>

<script>
  if (isMobile()) {
      const whybarSwiper = new Swiper('.green-home-whybar', {
          slidesPerView: 1,
          loop: true,
          autoplay: {
              delay: 5000,
          },
      })
  } else {
      const whybarSwiper = new Swiper('.green-home-whybar', {
          slidesPerView: 3,
          spaceBetween: 30,
          pagination: {
              el: ".swiper-pagination",
              clickable: true,
          }
      })
  }
</script>
