<style>
  /*ug-benefit*/
  .ug-benefit {
      padding-top: 120px;
      padding-bottom: 120px;
      background: #F0F0F2;
  }
  .ug-benefit > .title {
      font-size: 36px;
      font-weight: bold;
      color: #000000;
      line-height: 1.2;
      text-align: center;
      margin-bottom: 36px;
  }
  .ug-benefit .all-box {
      display: flex;
      justify-content: center;
  }
  .ug-benefit-box {
      width: 300px;
      height: 300px;
      padding: 0 40px;
      margin-right: 20px;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
      text-align: center;
      display: grid;
      align-content: center;
  }
  .ug-benefit-box:hover {
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.16);
  }
  .ug-benefit-box.box1 {
      background: linear-gradient(180deg, rgba(251, 42, 34, 0.05) 0%, white 100%);
  }
  .ug-benefit-box.box2 {
      background: linear-gradient(180deg, rgba(0, 204, 136, 0.05) 0%, white 100%);
  }
  .ug-benefit-box.box3 {
      background: linear-gradient(180deg, rgba(68, 138, 255, 0.1) 0%, white 100%);
  }
  .ug-benefit-box.box4 {
      background: linear-gradient(180deg, rgba(82, 89, 255, 0.1) 0%, white 100%);
  }
  .ug-benefit-box:last-child {
      margin-right: 0;
  }

  .ug-benefit-box .title {
      font-size: 22px;
      font-weight: bold;
      color: #32363E;
      line-height: 1;
      margin-bottom: 20px;
  }
  .ug-benefit-box .desc {
      font-size: 16px;
      font-weight: 400;
      color: #727273;
      line-height: 1.5;
      height: 70px;
  }
  .ug-benefit-box .benefit-con {
      width: 80px;
      margin: 0 auto 10px;
  }
  .ug-benefit-box .benefit-con img {
      width: 100%;
      display: block;
  }
  .ug-benefit-box .learn-more {
      color: #012448;
      font-size: 18px;
      font-weight: 600;
      margin: 0;
  }

  @media (max-width: 767px) {
      .ug-benefit {
          padding-top: 50px;
          padding-bottom: 0;
      }
      .ug-benefit > .title {
          font-size: 24px;
          line-height: 1.2;
          margin-bottom: 0;
      }
      .ug-benefit .all-box {
          flex-wrap: nowrap;
          overflow-x: auto;
          justify-content: flex-start;
          padding-top: 24px;
          padding-bottom: 50px;
      }
      .ug-benefit-box {
          width: 200px;
          height: auto;
          padding: 20px;
          margin: 0 10px;
          flex: none;
      }
      .ug-benefit-box:first-child {
          margin-left: 20px;
      }
      .ug-benefit-box:last-child {
          margin-right: 20px;
      }
      .ug-benefit-box .title {
          font-size: 16px;
          line-height: 1.2;
          margin-bottom: 8px;
      }
      .ug-benefit-box .desc {
          font-size: 14px;
          line-height: 1.2;
          height: 52px;
      }
      .ug-benefit-box .benefit-con {
          width: 60px;
          margin: 0 auto 8px;
      }
      .ug-benefit-box .learn-more {
          font-size: 14px;
      }
  }

  /*ug-benefit*/
</style>

<section class="ug-benefit">
  <div class="title">Ugreen Benefit</div>
  <div class="all-box">
    <div class="ug-benefit-box box1">
      <a href="/pages/voucher">
        <div class="title">Ugreen-Vouchers</div>
        <div class="desc">Save Money with Discounts on Ugreen Products</div>
        <div class="benefit-con">
          <img
            src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/e0499a22d3b764477b6f0b29183620c9.png?v=1672917013"
            alt="benefit-icon"
          >
        </div>
        <p class="learn-more">
          Learn More
          <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-xiayiye"></use>
          </svg>
        </p>
      </a>
    </div>
    <div class="ug-benefit-box box2">
      <a href="/pages/affiliate">
        <div class="title">Affiliate Program</div>
        <div class="desc">Get 15% Commission with the Affiliate Program</div>
        <div class="benefit-con">
          <img
            src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/cbac91317d8a47f9fe47582942c3cee7.png?v=1672917013"
            alt="benefit-icon"
          >
        </div>
        <p class="learn-more">
          Learn More
          <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-xiayiye"></use>
          </svg>
        </p>
      </a>
    </div>
    <div class="ug-benefit-box box3">
      <a href="/pages/dropshipping-program">
        <div class="title">Dropshipping</div>
        <div class="desc">For large purchases of over 10 items, please contact us for a quote</div>
        <div class="benefit-con">
          <img
            src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/d3225ab021040514f24fda6b9469ff51.png?v=1672917013"
            alt="benefit-icon"
          >
        </div>
        <p class="learn-more">
          Learn More
          <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-xiayiye"></use>
          </svg>
        </p>
      </a>
    </div>
    <div class="ug-benefit-box box4">
      <a href="/pages/ugreen-rewards-program">
        <div class="title">Points & Rewards</div>
        <div class="desc">Earn Points, Get Rewarded w/ Savings</div>
        <div class="benefit-con">
          <img
            src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/member_icon__2X_dcd74648-10bc-48ed-b318-f19cb74e4388.png?v=1681805550"
            alt="benefit-icon"
          >
        </div>
        <p class="learn-more">
          Learn More
          <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-xiayiye"></use>
          </svg>
        </p>
      </a>
    </div>
  </div>
</section>
