<style>
    /**    fit life*!*/
    .ug-fit-life-section {
        width: 100%;
        padding-top: 100px;
        padding-bottom: 100px;
        background: #F0F0F2;
    }
    .ug-fit-life-section .title {
        font-weight: bold;
        color: black;
        line-height: 60px;
        font-size: 36px;
        text-align: center;
        margin-bottom: 36px;
    }

    .fit-life-box {
        background: #fff;
        opacity: .5;
    }
    .fit-life-box.swiper-slide {
        width: 49.74vw;
    }
    .fit-life-box .top-image {
        width: 100%;
        padding-bottom: 50%;
        overflow: hidden;
        position: relative;
    }
    .fit-life-box .top-image img {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
    }
    .fit-life-box.swiper-slide-active {
        opacity: 1;
    }
    .fit-life-box .title {
        font-size: 24px;
        font-weight: bold;
        color: #000000;
        line-height: 1.2;
        margin-bottom: 20px;
    }
    .fit-life-box .bottom {
        text-align: left;
        padding: 1.46vw 1.46vw 2.7vw;
    }
    .fit-life-box .bottom .title {
        font-size: 1.25vw;
        font-weight: bold;
        color: #000000;
        line-height: 1.2;
        text-align: left;
        margin-bottom: 1.04vw;
    }
    .fit-life-box .bottom .content {
        font-size: 1.04vw;
        color: #727273;
        line-height: 1.2;
        margin-bottom: 1.46vw;
    }
    .fit-life-box .bottom .learn-more {
        font-size: 1.04vw;
        color: #00CC88;
        line-height: 1.2;
        text-decoration: underline;
        font-weight: 600;
    }
    .fit-life-box .icon {
        width: 0.8em;
        height: 0.8em;
    }
    .ug-fit-life .swiper-button-next, .ug-fit-life .swiper-button-prev {
        background: none;
        color: #fff;
        top: 35%;
    }
    .ug-fit-life .swiper-button-next:after, .ug-fit-life .swiper-button-prev:after {
        font-size: 1vw;
    }
    .ug-fit-life .swiper-button-prev {
        left: 25vw;
    }
    .ug-fit-life .swiper-button-next {
        right: 25vw;
    }
    .ug-fit-life .swiper-pagination {
        bottom: 35% !important;
    }
    .ug-fit-life .swiper-pagination .swiper-pagination-bullet {
        background: rgba(255, 255, 255, 0.5);
    }
    .ug-fit-life .swiper-pagination .swiper-pagination-bullet-active {
        background: rgba(255, 255, 255, 1);
    }
    .ug-featured-swiper {
        width: 1200px;
    }
    @media (max-width: 767px) {
        .ug-featured-swiper {
            width: 100%;
        }
        .ug-fit-life-section {
            padding-top: 50px;
            padding-bottom: 50px;
        }
        .ug-fit-life-section .title {
            font-size: 24px;
            line-height: 1.2;
            margin-bottom: 20px;
        }
        .fit-life-box {
            width: 76.53vw;
        }
        .ug-fit-life {
            margin-left: 20px;
            flex-shrink: 0;
        }
        .fit-life-box .bottom {
            padding: 18px 12px;
        }
        .ug-fit-life .bottom .title {
            font-size: 20px;
            margin-bottom: 8px;
        }
        .fit-life-box .bottom .content {
            font-size: 14px;
            line-height: 1.2;
            margin-bottom: 16px;
        }
        .fit-life-box .bottom .learn-more {
            font-size: 14px;
        }
    }
    /*    fit life*/
</style>

<section class="ug-fit-life-section">
    <div class="title">Ugreen Fit Your Life</div>
    <div class="ug-fit-life swiper">
        <div class="fit-life-main swiper-wrapper">
            <div class="fit-life-box swiper-slide">
                <a href="/collections/home-solutions">
                    <div class="top-image">
                        <picture>
                            <source
                                    srcset="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/for_home_work_2x_dab5f865-36ac-4fa3-9d4d-f1b4bcac4ebd_750x.jpg?v=1672920279"
                                    media="(max-width: 375px)"
                            >
                            <source
                                    srcset="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/for_home_work_2x_dab5f865-36ac-4fa3-9d4d-f1b4bcac4ebd_1536x.jpg?v=1672920279"
                                    media="(max-width: 768px)"
                            >
                            <source
                                    srcset="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/for_home_work_2x_dab5f865-36ac-4fa3-9d4d-f1b4bcac4ebd_2160x.jpg?v=1672920279"
                                    media="(max-width: 1080px)"
                            >
                            <source
                                    srcset="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/for_home_work_2x_dab5f865-36ac-4fa3-9d4d-f1b4bcac4ebd_2400x.jpg?v=1672920279"
                                    media="(max-width: 1200px)"
                            >
                            <source
                                    srcset="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/for_home_work_2x_dab5f865-36ac-4fa3-9d4d-f1b4bcac4ebd_3840x.jpg?v=1672920279"
                                    media="(max-width: 1920px)"
                            >
                            <img
                                    src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/for_home_work_2x_dab5f865-36ac-4fa3-9d4d-f1b4bcac4ebd_3840x.jpg?v=1672920279"
                                    alt="mainBanner"
                            >
                        </picture>
                    </div>
                    <div class="bottom">
                        <div class="title">Home Solutions</div>
                        <div class="content">
                            Whether it's being productive, watching videos, or looking up cooking recipes, spend more
                            time relaxed at
                            home with our products.
                        </div>
                        <p class="learn-more">
                            <span>Charging Devices for the Home</span>
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-xiayiye"></use>
                            </svg>
                        </p>
                    </div>
                </a>
            </div>
            <div class="fit-life-box swiper-slide">
                <a href="/collections/travel-solutions">
                    <div class="top-image">
                        <picture>
                            <source
                                    srcset="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/for_Travel_2x_f9513e98-64fd-4243-8022-2ac51a18594b_750x.jpg?v=1672920278"
                                    media="(max-width: 375px)"
                            >
                            <source
                                    srcset="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/for_Travel_2x_f9513e98-64fd-4243-8022-2ac51a18594b_1536x.jpg?v=1672920278"
                                    media="(max-width: 768px)"
                            >
                            <source
                                    srcset="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/for_Travel_2x_f9513e98-64fd-4243-8022-2ac51a18594b_2160x.jpg?v=1672920278"
                                    media="(max-width: 1080px)"
                            >
                            <source
                                    srcset="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/for_Travel_2x_f9513e98-64fd-4243-8022-2ac51a18594b_2400x.jpg?v=1672920278"
                                    media="(max-width: 1200px)"
                            >
                            <source
                                    srcset="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/for_Travel_2x_f9513e98-64fd-4243-8022-2ac51a18594b_3840x.jpg?v=1672920278"
                                    media="(max-width: 1920px)"
                            >
                            <img
                                    src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/for_Travel_2x_f9513e98-64fd-4243-8022-2ac51a18594b_3840x.jpg?v=1672920278"
                                    alt="mainBanner"
                            >
                        </picture>
                    </div>
                    <div class="bottom">
                        <div class="title">Travel Solutions</div>
                        <div class="content">
                            Keep your deviced connected while you keep on the go. Reliable, effective products are
                            necessities when on
                            the go, and our products are perfect accessories for any excursion.
                        </div>
                        <p class="learn-more">
                            <span>Portable Devices for Travel</span>
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-xiayiye"></use>
                            </svg>
                        </p>
                    </div>
                </a>
            </div>
            <div class="fit-life-box swiper-slide">
                <a href="/collections/business-solution">
                    <div class="top-image">
                        <picture>
                            <source
                                    srcset="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/for_team-work_2x_937d26e8-6428-4337-838a-acebd41c42c3_750x.jpg?v=1672920279"
                                    media="(max-width: 375px)"
                            >
                            <source
                                    srcset="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/for_team-work_2x_937d26e8-6428-4337-838a-acebd41c42c3_1536x.jpg?v=1672920279"
                                    media="(max-width: 768px)"
                            >
                            <source
                                    srcset="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/for_team-work_2x_937d26e8-6428-4337-838a-acebd41c42c3_2160.jpg?v=1672920279x"
                                    media="(max-width: 1080px)"
                            >
                            <source
                                    srcset="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/for_team-work_2x_937d26e8-6428-4337-838a-acebd41c42c3_2400x.jpg?v=1672920279"
                                    media="(max-width: 1200px)"
                            >
                            <source
                                    srcset="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/for_team-work_2x_937d26e8-6428-4337-838a-acebd41c42c3_3840x.jpg?v=1672920279"
                                    media="(max-width: 1920px)"
                            >
                            <img
                                    src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/for_team-work_2x_937d26e8-6428-4337-838a-acebd41c42c3_3840x.jpg?v=1672920279"
                                    alt="mainBanner"
                            >
                        </picture>
                    </div>
                    <div class="bottom">
                        <div class="title">Business Solutions</div>
                        <div class="content">
                            Our Hubs & Adapters help to maintain productivity, inspire creativity, and encourage
                            collaboration. Get
                            even more done in the office; easier than ever.
                        </div>
                        <p class="learn-more">
                            <span>Hubs & Adapters for Business</span>
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-xiayiye"></use>
                            </svg>
                        </p>
                    </div>
                </a>
            </div>

            {% comment %}<div class="fit-life-box swiper-slide">{% endcomment %}
            {% comment %}<div class="top-image">{% endcomment %}
            {% comment %}<picture>{% endcomment %}
            {% comment %}<source srcset="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/FOR_YOUR_PHONE_PAD_OR_NOTEBOOK_2x_997e39a4-4ff4-4d3a-9b88-3a443ec8ac4f_750x.jpg?v=1672920278"{% endcomment %}
            {% comment %}media="(max-width: 375px)">{% endcomment %}
            {% comment %}<source srcset="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/FOR_YOUR_PHONE_PAD_OR_NOTEBOOK_2x_997e39a4-4ff4-4d3a-9b88-3a443ec8ac4f_1536x.jpg?v=1672920278"{% endcomment %}
            {% comment %}media="(max-width: 768px)">{% endcomment %}
            {% comment %}<source srcset="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/FOR_YOUR_PHONE_PAD_OR_NOTEBOOK_2x_997e39a4-4ff4-4d3a-9b88-3a443ec8ac4f_2160x.jpg?v=1672920278"{% endcomment %}
            {% comment %}media="(max-width: 1080px)">{% endcomment %}
            {% comment %}<source srcset="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/FOR_YOUR_PHONE_PAD_OR_NOTEBOOK_2x_997e39a4-4ff4-4d3a-9b88-3a443ec8ac4f_2400x.jpg?v=1672920278"{% endcomment %}
            {% comment %}media="(max-width: 1200px)">{% endcomment %}
            {% comment %}<source srcset="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/FOR_YOUR_PHONE_PAD_OR_NOTEBOOK_2x_997e39a4-4ff4-4d3a-9b88-3a443ec8ac4f_3840x.jpg?v=1672920278"{% endcomment %}
            {% comment %}media="(max-width: 1920px)">{% endcomment %}
            {% comment %}<img src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/FOR_YOUR_PHONE_PAD_OR_NOTEBOOK_2x_997e39a4-4ff4-4d3a-9b88-3a443ec8ac4f_3840x.jpg?v=1672920278"{% endcomment %}
            {% comment %}alt="mainBanner">{% endcomment %}
            {% comment %}</picture>{% endcomment %}
            {% comment %}</div>{% endcomment %}
            {% comment %}<div class="bottom">{% endcomment %}
            {% comment %}<div class="title">BUSINESS SOLUTIONS</div>{% endcomment %}
            {% comment %}<div class="content">Help you employees get things done from anywhere, with more security,{% endcomment %}
            {% comment %}greater{% endcomment %}
            {% comment %}flexibility, and increased comfort.{% endcomment %}
            {% comment %}</div>{% endcomment %}
            {% comment %}<a href="/" class="learn-more">{% endcomment %}
            {% comment %}<span>Learn More Hubs &amp; Adapters</span>{% endcomment %}
            {% comment %}<svg class="icon" aria-hidden="true">{% endcomment %}
            {% comment %}<use xlink:href="#icon-xiayiye"></use>{% endcomment %}
            {% comment %}</svg>{% endcomment %}
            {% comment %}</a>{% endcomment %}
            {% comment %}</div>{% endcomment %}
            {% comment %}</div>{% endcomment %}
            {% comment %}<div class="fit-life-box swiper-slide">{% endcomment %}
            {% comment %}<div class="top-image">{% endcomment %}
            {% comment %}<picture>{% endcomment %}
            {% comment %}<source srcset="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/for_music_2x_d9c87723-28df-49d2-8c33-f952d4379a40_750x.jpg?v=1672920278"{% endcomment %}
            {% comment %}media="(max-width: 375px)">{% endcomment %}
            {% comment %}<source srcset="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/for_music_2x_d9c87723-28df-49d2-8c33-f952d4379a40_1536x.jpg?v=1672920278"{% endcomment %}
            {% comment %}media="(max-width: 768px)">{% endcomment %}
            {% comment %}<source srcset="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/for_music_2x_d9c87723-28df-49d2-8c33-f952d4379a40_2160x.jpg?v=1672920278"{% endcomment %}
            {% comment %}media="(max-width: 1080px)">{% endcomment %}
            {% comment %}<source srcset="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/for_music_2x_d9c87723-28df-49d2-8c33-f952d4379a40_2400x.jpg?v=1672920278"{% endcomment %}
            {% comment %}media="(max-width: 1200px)">{% endcomment %}
            {% comment %}<source srcset="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/for_music_2x_d9c87723-28df-49d2-8c33-f952d4379a40_3840x.jpg?v=1672920278"{% endcomment %}
            {% comment %}media="(max-width: 1920px)">{% endcomment %}
            {% comment %}<img src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/for_music_2x_d9c87723-28df-49d2-8c33-f952d4379a40_3840x.jpg?v=1672920278"{% endcomment %}
            {% comment %}alt="mainBanner">{% endcomment %}
            {% comment %}</picture>{% endcomment %}
            {% comment %}</div>{% endcomment %}
            {% comment %}<div class="bottom">{% endcomment %}
            {% comment %}<div class="title">BUSINESS SOLUTIONS</div>{% endcomment %}
            {% comment %}<div class="content">Help you employees get things done from anywhere, with more security,{% endcomment %}
            {% comment %}greater{% endcomment %}
            {% comment %}flexibility, and increased comfort.{% endcomment %}
            {% comment %}</div>{% endcomment %}
            {% comment %}<a href="/" class="learn-more">{% endcomment %}
            {% comment %}<span>Learn More Hubs &amp; Adapters</span>{% endcomment %}
            {% comment %}<svg class="icon" aria-hidden="true">{% endcomment %}
            {% comment %}<use xlink:href="#icon-xiayiye"></use>{% endcomment %}
            {% comment %}</svg>{% endcomment %}
            {% comment %}</a>{% endcomment %}
            {% comment %}</div>{% endcomment %}
            {% comment %}</div>{% endcomment %}
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</section>

<script>
    if (isMobile()) {
        $('.ug-fit-life-section .swiper-button-next,.ug-fit-life-section .swiper-button-prev, .ug-fit-life-section .swiper-pagination').hide();
        const fitSwiper = new Swiper('.ug-fit-life', {
            slidesPerView: 1.2,
            spaceBetween: 20,
            loop: true,
            autoplay: {
                delay: 5000,
            },
        })
    } else {
        $('.ug-fit-life-section .swiper-button-next,.ug-fit-life-section .swiper-button-prev').hide();
        $('.ug-fit-life-section').mouseover(function () {
            $('.ug-fit-life-section .swiper-button-next,.ug-fit-life-section .swiper-button-prev').show();
        });

        $('.ug-fit-life-section').mouseleave(function () {
            $('.ug-fit-life-section .swiper-button-next,.ug-fit-life-section .swiper-button-prev').hide();
        });
        const fitSwiper = new Swiper('.ug-fit-life', {
            slidesPerView: 'auto',
            spaceBetween: 20,
            speed: 1000,
            centeredSlides: true,
            loop: true,
            pagination: {
                el: ".swiper-pagination",
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            autoplay: {
                delay: 5000,
            },
        })
    }
</script>
