<style>
  /*ug-link*/
  .ug-link {
      padding-top: 80px;
      padding-bottom: 120px;
      background: #F0F0F2;
  }
  .ug-link .desc {
      font-size: 24px;
      font-weight: 500;
      color: #000000;
      line-height: 1.2;
      text-align: center;
      width: 1200px;
      margin: 0 auto;
  }
  .ug-link .link-images {
      display: flex;
      justify-content: center;
      margin-top: 60px;
  }
  .ug-link .link-images .link-image {
      width: 144px;
      height: 60px;
      margin-right: 40px;
      cursor: pointer;
      position: relative;
  }
  .link-image:last-child {
      margin-right: 0;
  }
  .link-image.active::before {
      content: '';
      width: 80%;
      height: 2px;
      background: black;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
  }
  .ug-link .link-images .link-image img {
      width: 100%;
  }
  @media (max-width: 767px) {
      .ug-link {
          padding-top: 50px;
          padding-bottom: 80px;
      }
      .ug-link .desc {
          font-size: 16px;
          line-height: 1.2;
          width: 100%;
          padding: 0 30px;
      }
      .ug-link .link-images {
          margin-top: 40px;
      }
      .ug-link .link-images .link-image {
          width: 100px;
          height: 40px;
          margin-right: 0;
      }
  }
  /*ug-link*/
</style>

<section class="ug-link">
  <div class="desc">"Ugreen’s Nexode 140W GaN Charger Is Smaller, Cooler And More Efficient"</div>
  <div class="link-images">
    <div class="link-image active">
      <img
        src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/link1.png?v=1670312426"
        alt="link-image"
      >
    </div>
    {% comment %}<div class="link-image"><img{% endcomment %}
    {% comment %}src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/link2.png?v=1670312426"{% endcomment %}
    {% comment %}alt="link-image"></div>{% endcomment %}
    <div class="link-image">
      <img
        src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/link3.png?v=1670312426"
        alt="link-image"
      >
    </div>
    <div class="link-image">
      <img
        src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/lQLPJyHMx-Yx9yh4zOSwczFcsavorKgD1gP5WYBrAA_228_120.png?v=1675332721"
        alt="link-image"
      >
    </div>
    <div class="link-image">
      <img
        src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/lQLPJxbJWOdkNyh4zOSwqMV1zh5hih4D1gP5WABCAA_228_120.png?v=1675332721"
        alt="link-image"
      >
    </div>
  </div>
</section>

<script>
  $(function () {
      const textArray = [
          '"Ugreen’s Nexode 140W GaN Charger Is Smaller, Cooler And More Efficient"',
          '"The Ugreen GaN charger offers a great value and is an utter no-brainer at this price"',
          '"Ugreen Nexode 200W charging station provides one-stop top-ups for all your gadgets."',
          '"The Ugreen Nexode 65W wall charger is affordable and practical, and an excellent choice for any charging station."',
      ]
      $('.ug-link .link-image').hover(function (event) {
          const index = $(this).index()
          $(this).addClass('active').siblings().removeClass('active');
          $('.ug-link .desc').text(textArray[index])
      })
  })
</script>
