{{ 'ug-product-other.css' | asset_url | stylesheet_tag }}
<div id="ugreen-product-top-placeholder"></div>

{% schema %}
{
  "name": "UG 顶部空间",
  "tag": "section",
  "class": "ug-product-top-placeholder-wrap",
  "settings": []
}
{% endschema %}