<script src="https://cdn.jsdelivr.net/npm/sharer.js@latest/sharer.min.js"></script>
<div class="ug-school">
  <div class="ug-school-footer">
    <div class="ug-school-footer-title">Tell Everyone about UGREEN's Back to School Sale! </div>
    <div class="ug-school-footer-share">Share Now:</div>
    <ul>
      <li><img data-sharer="facebook" src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/Group_383.png?v=1659092076"/></li>
      <li><img data-sharer="pinterest" src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/Group_384.png?v=1659092075"/></li>
      <li><img data-sharer="twitter"  src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/Group_385.png?v=1659092075"/></li>
    </ul>
  </div>
</div>
{% schema %}
  {
    "name": "ugreen school footer",
    "settings": [],
    "presets": [
      {
        "name": "ugreen school footer"
      }
    ],
    "templates": ["page"]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
