<style>
    .whatsApp-wrap {
        position: fixed;
        right: 40px;
        bottom: 180px;
        z-index: 100;
    }
    .whatsApp-main {
        display: block;
        width: 46px;
        height: 46px;
        font-size: 46px;
        line-height: 1;
        color: #0c8;
    }
    @media (max-width: 767px) {
        .whatsApp-wrap {
            right: 12px;
            bottom: 120px;
        }
        .whatsApp-main {
            width: 42px;
            height: 42px;
            font-size: 42px;
        }
    }
</style>
<div class="whatsApp-wrap" id="whatsApp-icon">
    <a href="https://wa.me/{{ section.settings.whatsApp_id }}" target="_blank" class="whatsApp-main tob-connection">
        <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-whatsapp-fill"></use>
        </svg>
    </a>
</div>

{% schema %}
{
    "name": "WhatsApp",
    "settings": [
        {
            "type": "header",
            "content": "WhatsApp"
        },
        {
            "type": "text",
            "id": "whatsApp_id",
            "label": "WhatsApp ID"
        }
    ]
}
{% endschema %}