/*Christmas banner style*/

.ug_christmas_banner {
	position: relative;
}

.ug_christmas_banner img {
	width: 100%;
}

.ug_christmas_banner .ug_christmas_banner_mol {
	display: none;
}

.ug_christmas_banner .ug_christmas_banner_box {
	position: absolute;
	top: 25%;
	left: 15%;
}

.ug_christmas_banner .ug_christmas_banner_box h1 {
	font-weight: 600;
	font-size: 64px;
	color: #FFFFFF;
}

.ug_christmas_banner .ug_christmas_banner_box p {
	font-size: 24px;
	color: #FFFFFF;
	margin: 20px 0 40px 0;
}

.ug_christmas_banner .ug_christmas_banner_box a {
	display: inline-block;
	padding: 10px 30px;
	border: 1px solid #fff;
	border-radius: 60px;
	font-weight: 600;
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
	transition: 0.3s;
}

.ug_christmas_banner .ug_christmas_banner_box a:hover {
	background: #00CC88;
	border: 1px solid #00CC88;
}
/*Enjoy Holiday Offers Style*/

.ug_christmas_offers {
	background: #000000;
	padding: 60px 0;
}

.ug_christmas_offers .ug_christmas_offers_box {
	width: 100%;
	max-width: 955px;
	overflow: hidden;
	margin: 0 auto;
	position: relative;
}

.ug_christmas_offers .ug_christmas_offers_box h2 {
	font-weight: 700;
	font-size: 36px;
	color: #FFFFFF;
	margin-bottom: 40px;
	text-align: center;
}

.ug_christmas_offers .ug_christmas_offers_box .content {
	display: flex;
	transition: all 0.5s;
}

.ug_christmas_offers .ug_christmas_offers_box .content>.item {
	width: 100%;
	max-width: 955px;
	flex-shrink: 0;
}

.ug_christmas_offers .ug_christmas_offers_box .buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
}

.ug_christmas_offers .ug_christmas_offers_box .buttons>button {
	background: transparent;
	margin-right: 50px;
	position: relative;
	color: #7E7E83;
	width: 150px;
	padding: 0;
}

.ug_christmas_offers .ug_christmas_offers_box .buttons>button:last-child {
	margin-right: 0;
}

.ug_christmas_offers .ug_christmas_offers_box .buttons>button.active {
	color: #00CC88;
	font-weight: 600;
}

.ug_christmas_offers .ug_christmas_offers_box .buttons>button.active::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 10%;
	width: 80%;
	height: 1px;
	background: #00CC88;
}

.ug_christmas_offers .ug_christmas_offers_box .holiday_solution {
	display: flex;
	justify-content: space-between;
}

.ug_christmas_offers .ug_christmas_offers_box .holiday_solution a {
	display: inline-block;
	width: 100%;
	max-width: 305px;
	background: #1B1A1A;
	border-radius: 20px;
	padding: 50px 0 55px 0;
	text-align: center;
	overflow: hidden;
}

.ug_christmas_offers .ug_christmas_offers_box .holiday_solution a img {
	max-width: 100%;
	transition: all 0.5s;
}

.ug_christmas_offers .ug_christmas_offers_box .holiday_solution a p {
	font-weight: 500;
	font-size: 16px;
	margin: 20px 0 0 0;
	color: #FFFFFF;
	transition: all 0.5s;
}

.ug_christmas_offers .ug_christmas_offers_box .holiday_solution a:hover img {
	transform: scale(1.1);
}

.ug_christmas_offers .ug_christmas_offers_box .holiday_solution a:hover p {
	color: #00CC88;
}

.ug_christmas_offers .ug_christmas_offers_box .discount_coupon {
	display: flex;
	justify-content: space-between;
	border-radius: 20px;
	background: url(https://cdn.shopify.com/s/files/1/0257/5246/9566/files/discount_coupon_bgc.png?v=1669278095)center center no-repeat;
	background-size: 100% 100%;
	padding: 28px 0 40px 0;
}

.discount_coupon>div {
	width: 100%;
	max-width: 318px;
}

.discount_coupon .discount_coupon_code>p {
	font-weight: 600;
	font-size: 20px;
	color: #FFFFFF;
	margin-bottom: 20px;
	text-align: center;
}

.discount_coupon .discount_coupon_code .discount_coupon_code_box {
	padding: 0 44px;
	border-right: 1px dashed #FFFFFF;
}

.discount_coupon .discount_coupon_code .discount_coupon_code_box .discount_coupon_code_box_bgm {
	background: url(https://cdn.shopify.com/s/files/1/0257/5246/9566/files/Subtract.png?v=1669278095)center center no-repeat;
	background-size: 100% 100%;
	text-align: center;
	padding: 15px 0 20px 0;
	position: relative;
}

.discount_coupon .discount_coupon_code .discount_coupon_code_box .coupon_off {
	font-family: 'Lato';
	font-weight: 700;
	font-size: 80px;
	line-height: 80px;
	background: linear-gradient(180deg, #FB2A22 13.98%, #EE8814 142.47%);
	-webkit-background-clip: text;
	color: transparent;
	margin: 0;
	border-radius: 10px;
}

.discount_coupon .discount_coupon_code .discount_coupon_code_box span {
	position: absolute;
	top: 10px;
	right: 8px;
	font-weight: 700;
	font-size: 16px;
	align-items: center;
	color: #F9421F;
}

.discount_coupon .discount_coupon_code .discount_coupon_code_box .coupon_text {
	font-size: 12px;
	color: #EC8116;
	margin: 10px 0;
}

.discount_coupon .discount_coupon_code .discount_coupon_code_box button {
	width: 136px;
	height: 36px;
	background: #F74F1D;
	border-radius: 20px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	line-height: 36px;
	padding: 0;
}

.discount_coupon .discount_coupon_text>p {
	font-weight: 600;
	font-size: 20px;
	color: #FFFFFF;
	margin-bottom: 20px;
	text-align: center;
}

.discount_coupon .discount_coupon_text_box {
	padding: 15px 20px 0 30px;
}

.discount_coupon .discount_coupon_text .discount_coupon_text_box p {
	font-size: 13px;
	line-height: 20px;
	color: #FFFFFF;
  margin-bottom:10px;
}
/*products style*/
.for_home_products{
	background: #000000;
	padding: 40px 0;
}
.for_home_products h2{
	font-weight: 700;
	font-size: 36px;
	color: #FFFFFF;
	margin-bottom: 40px;
	text-align: center;
}
.for_home_products .for_home_products_box{
 width: 100%;
 max-width: 1280px;
 margin: 0 auto;
 display: flex;
     flex-wrap: wrap;
    flex-direction: row;
}
.for_home_products .for_home_products_box div{
	order: 2;
}
.for_home_products .for_home_products_box .for_home_products_banner{
	width: 100%;
	max-width: 66.666%;
	padding: 10px;
}
.for_home_products .for_home_products_box .for_home_products_banner img{
	border-radius: 20px;
	height: 480px;
	object-fit: cover;
	width: 100%;
}
.for_home_products .for_home_products_box .for_home_products_list{
	width: 100%;
	max-width: 33.333%;
	padding: 10px;
}

.for_home_products .for_home_products_list_box{
	position: relative;
    background: #FFFFFF;
    border-radius: 20px;
    height: 480px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.for_home_products .for_home_products_list_box a{
	text-align: center;
}
.for_home_products .for_home_products_list_box img{
	width: 100%;
	max-width: 250px;
	object-fit: cover;
	max-height: 250px;
	transition: all .3s;
}
.for_home_products .for_home_products_box .for_home_products_list:hover img{
		transform:scale(1.1);
		opacity: 0.7;
	}
.for_home_products .for_home_products_list_box .product_title{
	font-weight: 500;
	font-size: 20px;
	color: #000000;
	margin: 20px 0 15px 0;
	padding: 0 20px;
}
.for_home_products .for_home_products_list_box .product_prie{
	font-weight: 500;
	font-size: 24px;
	color: #001107;
	margin: 0;
}
.for_home_products .for_home_products_list_box .product_prie span{
	font-weight: 600;
	font-size: 18px;
	text-decoration-line: line-through;
	color: #929292;
	padding-left: 5px;
}
.for_home_products .for_home_products_list_box .product_sale{
	position: absolute;
	top: -12px;
	right: -12px;
	background: url(https://cdn.shopify.com/s/files/1/0257/5246/9566/files/hot_off.png?v=1669278095) center center no-repeat;
	background-size: 100% 100%;
	width: 100px;
	height: 100px;
}
.for_home_products .for_home_products_list_box .product_sale p{
	font-weight: 900;
	font-size: 16px;
	line-height: 60px;
	color: #FFFFFF;
	transform: rotate(45deg);
	    position: absolute;
    top: 2px;
    right: 18px;
	}
.christmas_products > div:last-child{padding-bottom: 120px;}
@media (min-width:768px) {
	.christmas_products div:nth-child(even) .for_home_products_box div:nth-child(1){
		order: 1;
	}
	.christmas_products div:nth-child(even) .for_home_products_box div:nth-child(2){
		order: 0;
	}
}
@media (max-width:1440px) {
  .ug_christmas_banner .ug_christmas_banner_box h1{
        font-size: 54px;
  }
  .ug_christmas_banner .ug_christmas_banner_box p {
    font-size: 18px;
    margin:10px 0 30px 0
  }
}
@media (max-width:1024px) {
  .ug_christmas_banner .ug_christmas_banner_box{
    top: 20%;
    left: 10%;
  }
  .ug_christmas_banner .ug_christmas_banner_box h1{
        font-size: 48px;
  }
  .ug_christmas_banner .ug_christmas_banner_box p {
    font-size: 16px;
  }
}
@media (max-width:768px) {
	/*Christmas banner mol style*/
	.ug_christmas_banner .ug_christmas_banner_pc {
		display: none;
	}
	.ug_christmas_banner .ug_christmas_banner_mol {
		display: block;
	}
	.ug_christmas_banner .ug_christmas_banner_box {
		left: 0%;
		text-align: center;
		width: 100%;
	}
	.ug_christmas_banner .ug_christmas_banner_box h1 {
		font-weight: 500;
		font-size: 32px;
		line-height: 40px;
	}
	.ug_christmas_banner .ug_christmas_banner_box p {
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		margin: 10px 0 30px 0;
	}
	.ug_christmas_banner .ug_christmas_banner_box a {
		padding: 10px 20px;
	}
	/*Enjoy Holiday Offers Style*/
	.ug_christmas_offers{
		padding: 60px 0 0 0;
	}
	.ug_christmas_offers .ug_christmas_offers_box h2{
		font-size: 32px;
		margin-bottom: 30px;
	}
	.ug_christmas_offers .ug_christmas_offers_box .buttons{
		margin-bottom: 20px;
	}
	.ug_christmas_offers .ug_christmas_offers_box .buttons > button{
		font-size: 12px;
		width: 120px;
		margin-right: 10px;
	}
	.ug_christmas_offers .ug_christmas_offers_box .holiday_solution{
		justify-content: space-evenly;
		    flex-wrap: wrap;
	}
	.ug_christmas_offers .ug_christmas_offers_box .holiday_solution a{
		margin-bottom: 20px;
		padding: 20px 0;
	}
	.ug_christmas_offers .ug_christmas_offers_box .holiday_solution a:last-child{
		margin: 0;
	}
	.ug_christmas_offers .ug_christmas_offers_box .holiday_solution a img{
		max-width: 60px;
	}
	.ug_christmas_offers .ug_christmas_offers_box .holiday_solution a p{
		margin:10px 0 0 0;
	}
	.ug_christmas_offers .ug_christmas_offers_box .discount_coupon{
		flex-wrap: wrap;
		padding: 0 5px 20px 5px;
		background: none;
	}
	.discount_coupon>div{
		width: 50%;
	}
	.discount_coupon .discount_coupon_text{
		max-width: 100%;
      width:100%;
    }
	.discount_coupon .discount_coupon_code .discount_coupon_code_box{
		padding: 5px;
		border: none;
	}
	.discount_coupon .discount_coupon_code>p{
		font-size: 15px;
		margin: 10px 0;
	}
	.discount_coupon .discount_coupon_code .discount_coupon_code_box span{
		top: 8px;
		font-size: 14px;
	}
	.discount_coupon .discount_coupon_code .discount_coupon_code_box .coupon_off{
		font-size: 64px;
	}
	.discount_coupon .discount_coupon_code .discount_coupon_code_box .discount_coupon_code_box_bgm{
		padding: 10px 0;
	}
	.discount_coupon .discount_coupon_text>p{
		margin: 20px 0 0 0;
		font-size: 15px;
	}
	.discount_coupon .discount_coupon_text .discount_coupon_text_box p{margin-bottom: 10px;font-size: 12px;text-align: center;}
	/*products style*/
    .for_home_products{
      padding:20px 0;
    }
	.for_home_products h2{
		font-size: 32px;
		margin-bottom: 12px;
	}
	.for_home_products .for_home_products_box{
		padding: 0 5px;
	}
	.for_home_products .for_home_products_box .for_home_products_banner{
		width: 100%;
		padding: 5px;
      max-width:100%;
	}
	.for_home_products .for_home_products_box .for_home_products_banner img{
		height: 200px;
	}
	.for_home_products .for_home_products_box .for_home_products_list{
		max-width: 50%;
		padding: 5px;
	}
	.for_home_products .for_home_products_list_box{
		padding: 20px;
        height:100%;
	}
	.for_home_products .for_home_products_list_box img{
		width: 120px;
		height: 120px;
	}
	.for_home_products .for_home_products_list_box .product_title{
		font-size: 14px;
   		margin: 5px 0;
   		padding: 0;
	}
	.for_home_products .for_home_products_list_box .product_prie{
		font-size: 16px;
	}
	.for_home_products .for_home_products_list_box .product_prie span{
		font-size: 12px;
	}
	.for_home_products .for_home_products_list_box .product_sale{
		width: 46px;
		height: 46px;
		top: -6px;
   		right: -6px;
	}
	.for_home_products .for_home_products_list_box .product_sale p{
		font-weight: 500;
	    font-size: 12px;
	    top: 8px;
	    right: 3px;
	    line-height: 12px;
	}
  .christmas_products > div:last-child{padding-bottom: 60px;}
}