/* PageFly Element Styles */
						.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.eubWuu .video-wrapper, .eubWuu .mediaWrapper { padding: 0px; position: initial !important; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-aabc8468 {
		padding-top: 0px;
	}
	.__pf .pf-6879d8a2 {
		text-align: center;
	}
	.__pf .pf-a0a7aeb3 {
		font-size: 16px;
		 font-family: Poppins;
	}
	.__pf .pf-684ab619 {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-b619685a {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-685ac020 {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-c020988a {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-988a6bb4 {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-6bb4ddae {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-ddaeb589 {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-b589024f {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-024fe38c {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-89e18fc8 {
		font-size: 20px;
		 font-family: Poppins;
		 background-repeat: repeat-x;
		 background-position: 50% 50%;
		 text-align: left;
	}
	.__pf .pf-068d09bd {
		background-color: rgb(248, 248, 248);
	}
	.__pf .pf-24feed05 {
		font-family: Poppins;
		 text-align: left;
	}
	.__pf .pf-888fc935 {
		font-family: Poppins;
		 text-align: left;
	}
	.__pf .pf-c9351440 {
		font-size: 20px;
		 font-family: Poppins;
		 background-repeat: repeat-x;
		 background-position: 50% 50%;
		 text-align: left;
	}
	.__pf .pf-38fcb57f {
		font-family: Poppins;
		 text-align: left;
	}
	.__pf .pf-b57f7432 {
		font-size: 20px;
		 font-family: Poppins;
		 background-repeat: repeat-x;
		 background-position: 50% 50%;
		 text-align: left;
	}
	.__pf .pf-d87f883c {
		background-color: rgb(248, 248, 248);
		 padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-bd145b5c {
		background-color: rgb(248, 248, 248);
	}
	.__pf .pf-260b6a09 {
		background-color: rgb(248, 248, 248);
	}
	.__pf .pf-9728ee6f {
		font-weight: 700;
	}
	.__pf .pf-22d01100 {
		font-family: Poppins;
		 text-align: center;
	}
	.__pf .pf-110057c5 {
		font-size: 20px;
		 font-family: Poppins;
		 background-repeat: repeat-x;
		 background-position: 50% 50%;
		 text-align: left;
	}
	.__pf .pf-d6628cbd {
		background-color: rgb(248, 248, 248);
	}
	.__pf .pf-f9ca22d0 {
		text-align: center;
	}
	.__pf .pf-04e554a0 {
		font-weight: 700;
	}
	.__pf .pf-35ff6df2 {
		font-family: Poppins;
		 font-size: 36px;
		 text-align: center;
	}
	.__pf .pf-d5de5cb6 {
		background-color: rgb(248, 248, 248);
	}
	.__pf .pf-398b303e {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-47236d2b {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-2b5b096e {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-6e1d8dd9 {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-88653339 {
		padding-bottom: 0px;
		 padding-top: 0px;
	}
	.__pf .pf-f3b0af47 {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-d9a7fa65 {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-fa654208 {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-3a1918bd {
		padding-top: 0px;
		 padding-bottom: 0px;
		 margin-left: -20px;
		 margin-right: -20px;
	}
}
						