/* PageFly Element Styles */
						.gLoNzf { word-break: break-word; }
.gLoNzf span { font-weight: inherit; text-decoration: inherit; }
.gLoNzf i { margin-right: 0.3em; }
.hRSeLE { min-height: 30px; }
.jrwOpx { position: relative; overflow: hidden; display: inline-flex; justify-content: flex-start; align-items: flex-start; max-width: 100%; vertical-align: middle; }
.jrwOpx img { display: inline-block; object-fit: cover; height: auto; width: 100%; }
.bgMQOP { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .bgMQOP { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .bgMQOP { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .bgMQOP { padding: var(--pf-s-xs); }
}
.jklmHY { position: relative; }
.cJJQzT { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .cJJQzT { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cJJQzT { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .cJJQzT { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.iWCqut__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.iWCqut { padding: 15px 0px; position: relative; }
.bsSnEm > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .bsSnEm span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .bsSnEm span + span[contenteditable]:empty::after { display: inline; }
.bsSnEm ol, .bsSnEm ul { list-style-position: inside; }
.bsSnEm blockquote { font-size: inherit; }
.kODwBj { position: relative; border: 1px solid rgba(34, 36, 38, 0.15); background: rgb(255, 255, 255); }
.kODwBj th span, .kODwBj td span { display: inline-block; }
.kODwBj.kODwBj table { width: 100%; max-width: 100%; background: inherit; margin: 0px; box-shadow: none; text-align: left; color: rgba(0, 0, 0, 0.87); border-collapse: separate; border-spacing: 0px; font-family: inherit; }
.kODwBj table:first-child { margin-top: 0px; }
.kODwBj table:last-child { margin-bottom: 0px; }
.kODwBj th, .kODwBj td { transition: background 0.1s ease 0s, color 0.1s ease 0s; }
.kODwBj th { cursor: auto; background: rgb(249, 250, 251); text-align: inherit; padding: 10px 15px; vertical-align: inherit; font-weight: bold; min-width: 50px; border: none; font-family: inherit; }
.kODwBj tr td { border-top: 1px solid rgba(34, 36, 38, 0.1); border-left: none; border-right: none; border-bottom: none; min-width: 50px; }
.kODwBj tr:first-child td { border-top: none; }
.kODwBj td { padding: 10px 15px; text-align: inherit; }
.kODwBj.pagefly__table--striped > tr:nth-child(2n+1), .kODwBj.pagefly__table--striped tbody tr:nth-child(2n+1) { background-color: rgba(0, 0, 50, 0.02); }
.kODwBj.pagefly__table--basic { background: transparent; border: 1px solid rgba(34, 36, 38, 0.15); box-shadow: none; }
.kODwBj.pagefly__table--basic thead, .kODwBj.pagefly__table--basic tfoot { box-shadow: none; }
.kODwBj.pagefly__table--basic th { background: transparent; border-left: none; }
.kODwBj.pagefly__table--basic tbody tr { border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
.kODwBj.pagefly__table--basic td { background: transparent; }
.kODwBj.pagefly__table--basic.striped tbody tr:nth-child(2n) { background-color: rgba(0, 0, 0, 0.05); }
.kODwBj.pagefly__table--basic { border: none; }
.kODwBj.pagefly__table--bordered tr th, .kODwBj.pagefly__table--bordered tr td { border-left: 1px solid rgba(34, 36, 38, 0.1); }
.kODwBj.pagefly__table--bordered tr th:first-child, .kODwBj.pagefly__table--bordered tr td:first-child { border-left: none; }
.kODwBj.pagefly__table--hover tr:hover { background: rgba(0, 0, 0, 0.05); color: rgba(0, 0, 0, 0.95); }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
.bbJvDc::before, .bbJvDc::after { clear: both; display: block; content: ""; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-d4554c76 {
		width: 1400px;
		 height: auto;
	}
	.__pf .pf-4c76bf28 {
		min-height: 1px;
	}
	.__pf .pf-bf2898b7 {
		text-align: center;
	}
	.__pf .pf-7bd0d012 {
		width: 100%;
		 max-width: 100%;
	}
	.__pf .pf-7eeb6ba1 {
		text-align: left;
		 font-size: 28px;
		 padding-bottom: 15px;
		 font-weight: 700;
		 font-family: Whitney, Helvetica, Arial, sans-serif;
	}
	.__pf .pf-26460537 {
		padding: 0px;
	}
	.__pf .pf-30c9468b {
		text-align: left;
		 font-size: 28px;
		 padding-bottom: 15px;
		 font-weight: 700;
		 font-family: Whitney, Helvetica, Arial, sans-serif;
	}
	.__pf .pf-015dd582 {
		text-align: left;
		 font-size: 28px;
		 padding-bottom: 15px;
		 font-weight: 700;
		 font-family: Whitney, Helvetica, Arial, sans-serif;
	}
	.__pf .pf-74841446 {
		text-align: center;
		 font-size: 28px;
		 padding-bottom: 15px;
		 font-weight: 700;
		 font-family: Whitney, Helvetica, Arial, sans-serif;
	}
	.__pf .pf-dffc69bf {
		text-align: center;
	}
	.__pf .pf-69bf90fa {
		padding-bottom: 60px;
		 padding-top: 5px;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-69bf90fa {
		padding-top: 0px;
		 padding-bottom: 25px;
	}
}
						