/* PageFly Element Styles */
						.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.kKVZfa { min-height: 30px; }
.fLDHlO { position: relative; overflow: hidden; display: inline-flex; justify-content: flex-start; align-items: flex-start; max-width: 100%; vertical-align: middle; }
.fLDHlO img { display: inline-block; object-fit: cover; height: auto; width: 100%; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.jjYIOP { border: 1px solid rgba(34, 36, 38, 0.15); background: rgb(255, 255, 255); overflow-x: auto; }
.jjYIOP th span, .jjYIOP td span { display: inline-block; }
.jjYIOP.jjYIOP table { width: 100%; max-width: 100%; background: inherit; margin: 0px; box-shadow: none; text-align: left; color: rgba(0, 0, 0, 0.87); border-collapse: separate; border-spacing: 0px; font-family: inherit; }
.jjYIOP table:first-child { margin-top: 0px; }
.jjYIOP table:last-child { margin-bottom: 0px; }
.jjYIOP th, .jjYIOP td { transition: background 0.1s ease 0s, color 0.1s ease 0s; }
.jjYIOP th { cursor: auto; background: rgb(249, 250, 251); text-align: inherit; padding: 10px 15px; vertical-align: inherit; font-weight: bold; min-width: 50px; border: none; font-family: inherit; }
.jjYIOP tr td { border-top: 1px solid rgba(34, 36, 38, 0.1); border-left: none; border-right: none; border-bottom: none; min-width: 50px; }
.jjYIOP tr:first-child td { border-top: none; }
.jjYIOP td { padding: 10px 15px; text-align: inherit; }
.jjYIOP.pagefly__table--striped > tr:nth-child(2n+1), .jjYIOP.pagefly__table--striped tbody tr:nth-child(2n+1) { background-color: rgba(0, 0, 50, 0.02); }
.jjYIOP.pagefly__table--basic { background: transparent; border: 1px solid rgba(34, 36, 38, 0.15); box-shadow: none; }
.jjYIOP.pagefly__table--basic thead, .jjYIOP.pagefly__table--basic tfoot { box-shadow: none; }
.jjYIOP.pagefly__table--basic th { background: transparent; border-left: none; }
.jjYIOP.pagefly__table--basic tbody tr { border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
.jjYIOP.pagefly__table--basic td { background: transparent; }
.jjYIOP.pagefly__table--basic.striped tbody tr:nth-child(2n) { background-color: rgba(0, 0, 0, 0.05); }
.jjYIOP.pagefly__table--basic { border: none; }
.jjYIOP.pagefly__table--bordered tr th, .jjYIOP.pagefly__table--bordered tr td { border-left: 1px solid rgba(34, 36, 38, 0.1); }
.jjYIOP.pagefly__table--bordered tr th:first-child, .jjYIOP.pagefly__table--bordered tr td:first-child { border-left: none; }
.jjYIOP.pagefly__table--hover tr:hover { background: rgba(0, 0, 0, 0.05); color: rgba(0, 0, 0, 0.95); }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
.dIjrXL::before, .dIjrXL::after { clear: both; display: block; content: ""; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-83c16ae6 {
		width: 1400px;
		 height: auto;
	}
	.__pf .pf-6ae69bbf {
		min-height: 1px;
	}
	.__pf .pf-9bbf64a0 {
		text-align: center;
	}
	.__pf .pf-d14b9e79 {
		margin-left: -15px;
		 margin-right: -15px;
	}
	.__pf .pf-9e79cfef {
		width: 100%;
		 max-width: 100%;
	}
	.__pf .pf-9c875c0a {
		text-align: left;
		 font-size: 28px;
		 padding-bottom: 5px;
		 font-weight: 700;
		 font-family: Whitney, Helvetica, Arial, sans-serif;
	}
	.__pf .pf-5c0a6a5c {
		padding: 10px;
	}
	.__pf .pf-5c5c57e1 {
		margin-left: -15px;
		 margin-right: -15px;
	}
	.__pf .pf-e8c33568 {
		text-align: left;
		 font-size: 28px;
		 padding-bottom: 5px;
		 font-weight: 700;
		 font-family: Whitney, Helvetica, Arial, sans-serif;
	}
	.__pf .pf-16aa8323 {
		text-align: left;
		 font-size: 28px;
		 padding-bottom: 5px;
		 font-weight: 700;
		 font-family: Whitney, Helvetica, Arial, sans-serif;
	}
	.__pf .pf-fe58f2e5 {
		margin-left: -15px;
		 margin-right: -15px;
	}
	.__pf .pf-511290a6 {
		text-align: left;
		 font-size: 28px;
		 padding-bottom: 5px;
		 font-weight: 700;
		 font-family: Whitney, Helvetica, Arial, sans-serif;
	}
	.__pf .pf-6da2b7e9 {
		text-align: center;
		 font-size: 28px;
		 padding-bottom: 15px;
		 font-weight: 700;
		 font-family: Whitney, Helvetica, Arial, sans-serif;
	}
	.__pf .pf-120f483c {
		text-align: center;
	}
	.__pf .pf-483cc661 {
		padding-bottom: 60px;
		 padding-top: 5px;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-9e79cfef {
		margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-5c5c57e1 {
		margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-fe58f2e5 {
		margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-a6582be6 {
		margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-5e26748b {
		margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-e9458900 {
		margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-483cc661 {
		padding-top: 0px;
		 padding-bottom: 25px;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.__pf .pf-9e79cfef {
		margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-5c5c57e1 {
		margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-fe58f2e5 {
		margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-a6582be6 {
		margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-5e26748b {
		margin-left: 0px;
		 margin-right: 0px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-9e79cfef {
		margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-5c5c57e1 {
		margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-fe58f2e5 {
		margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-a6582be6 {
		margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-5e26748b {
		margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-e9458900 {
		margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-120f483c {
		margin-left: 0px;
		 margin-right: 0px;
	}
}
						