@media (min-width: 1230px) {
	.t4s-container.is--tab-layout__wide {
	    max-width: 1600px;
	}
}
@media (min-width: 1025px) {
	.t4s-container.is--tab-layout__full {
	    max-width: 1600px;
	}
	.t4s-container.is--tab-layout__content_full {
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px;
	}
}
.is--tab-design__tab.is--tab-design-mb__tab .t4s-tabs-ul {
	display: block;
}
.is--tab-design__tab.is--tab-design-mb__tab .t4s-tab-wrapper [data-t4s-tab-item] {
	display: none;
}
.t4s-product-tabs-wrapper.is--tab-position__external {
	background-color: var(--bg-tabs-mb);
}
@media (min-width: 768px) {
    .is-pc {
      display:block !important;
    }
    .is-pe {
      display:none !important;
    }
	.t4s-product-tabs-wrapper.is--tab-position__external {
	 --bg-tabs-mb: var(--bg-tabs) !important;
	}
}
@media (max-width: 767px) {
    .is-pc {
      display:none !important;
    }
    .is-pe {
      display:block !important;
    }
}
.t4s-pr_attrs, .t4s-pr_attrs p {
    margin-bottom: 0;
}

/* ------------------------Custom CSS----------------------------- */
.t4s-tabs-pr-ul {
    text-align: center;
    --list-mb: 15px;
}
.t4s-tabs-pr-ul a {
    font-size: 14px;
    font-weight: 600;
    margin: 10px;
    line-height: 1.2;
    color: var(--text-color);
/*     border-bottom: 2px solid transparent; */
    display: inline-block;
}
.t4s-tabs-pr-ul a.t4s-active {
    border-color: var(--secondary-color);
}
.t4s-tabs-pr-ul a.t4s-active,
.t4s-tabs-pr-ul a:hover {
    color: var(--secondary-color);
}
.t4s-product-tabs-wrapper {
  padding: 15px 0 5px;
}
.t4s-product__info-wrapper .t4s-product-tabs-wrapper {
    padding-top: 0;
}
.t4s-product__info-wrapper .t4s-product-tabs-wrapper>.t4s-container {
    padding: 0;
}

/**
 * Accordion
 */
.is--tab-design__accordion .t4s-tab-wrapper > .t4s-tab__title[data-t4s-tab-item] {
    display: flex;
}
.is--tab-design__accordion .t4s-tab-wrapper:not(:last-of-type) {
    margin-bottom: 10px;
}
.is--tab-design__accordion .t4s-tab-content {
    padding: 20px;
    border: 1px solid rgba(var(--text-color-rgb), 0.08);
    border-top: 0;
}
.is--tab-design__accordion .t4s-tab-wrapper:first-child .t4s-tab-content:not([style]) {
	display: none;
}

.t4s-tab__title  {
  align-items: center;
  justify-content: space-between;
  background-color: rgba(var(--text-color-rgb), 0.08);
}

.t4s-tab__title .t4s-tab__text {
	padding: 10px;
}
.t4s-tab__title .t4s-tab__icon {
    width: 44px;
    height: 44px;
    background-color: var(--secondary-color);
    color: var(--t4s-light-color);
    position: relative;
    display: block;
    flex: 0 0 auto;
    margin-left: 5px;
}
.t4s-tab__icon:after, 
.t4s-tab__icon:before {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%) rotate(-90deg);
    transform: translate(-50%,-50%) rotate(-90deg);
    background-color: currentColor;
    transition: transform .35s ease-in-out,opacity .35s ease-in-out,-webkit-transform .35s ease-in-out;
    width: 15px;
    height: 2px;
    opacity: 1;
}
.t4s-tab__icon:after {
    height: 15px;
    width: 2px;
}
.t4s-active > .t4s-tab__title > .t4s-tab__icon:before,
.t4s-active > .t4s-tab__title > .t4s-tab__icon:after {
    -webkit-transform: translate(-50%,-50%) rotate(90deg);
    transform: translate(-50%,-50%) rotate(90deg);
}
.t4s-active > .t4s-tab__title > .t4s-tab__icon:before {
    opacity: 0;
}
/* .t4s-accordion-mb-true .t4s-tabs-ul {
	display: block;
}
.t4s-accordion-mb-true .t4s-tab-wrapper [data-t4s-tab-item] {
	display: none;
}

@media (max-width: 767px) { 
	.t4s-accordion-mb-true .t4s-tabs-ul {
		display: none;
	}
	.is--tab-design-mb__accordion .t4s-tab-wrapper > .t4s-tab__title[data-t4s-tab-item] {
	    display: flex;
	}
	.is--tab-design-mb__accordion .t4s-tab-wrapper:not(:last-of-type) {
	    margin-bottom: 10px;
	}
	.is--tab-design-mb__accordion .t4s-tab-content {
	    padding: 20px;
	    border: 1px solid rgba(var(--text-color-rgb), 0.08);
	    border-top: 0;
	}
} */

@media (max-width: 1024px) { 
/* 	.t4s-accordion-mb-true .t4s-tabs-ul {
		display: none;
	} */
	.is--tab-design-mb__accordion .t4s-tab-wrapper > .t4s-tab__title[data-t4s-tab-item] {
	    display: flex;
	}
	.is--tab-design-mb__accordion .t4s-tab-wrapper:not(:last-of-type) {
	    margin-bottom: 10px;
	}
	.is--tab-design-mb__accordion .t4s-tab-content {
	    padding: 20px;
	    border: 1px solid rgba(var(--text-color-rgb), 0.08);
	    border-top: 0;
	}
}

@media (min-width: 768px) {
  .tabText_wrap {
    background: #F8F8F8;
    margin-bottom: 40px;
    padding: 12px 0;
  }
.t4s-tabs ul.t4s-tabs-ul {
      position: sticky;
      top: 0;
      left: 0;
      background: #F8F8F8;
    z-index: 101;
    }
  
  .products_diff_wrap {
    width: 1200px;
    margin: 0 auto;
  }
  .products_diff_title {
    font-size: 40px;
    font-weight: 600;
    color: #131414;
    line-height: 50px;
    margin: 24px 0;
    text-align: center;
  }
	.t4s-product-tabs-wrapper.is--tab-position__external {
	    padding: 50px 0px 0px;
	    margin: 60px 0px;
	}
	.t4s-product-tabs-wrapper {
	  padding: 30px 0 0;
     margin: 30px 0;
	}
	.t4s-tabs-pr-ul {
     --list-mb: 5px;
    }
	.t4s-tabs-pr-ul a {
    min-height: 40px;
    display: inline-flex;
    align-items: center;
    border-radius: var(--btn-radius);
    border: 1px solid transparent;
    padding: 0 25px;
    margin: 0;
	}

	.is--tab-design__tab .t4s-tab-wrapper .t4s-tab-content {
    padding: 25px 0;
  }

  /**
   * Accordion
   */
	.t4s-tab__title .t4s-tab__text {
		padding: 10px 20px;
	}
  #ugreen-product-tabs .green-custom-tab {
    font-size: 20px;
    font-weight: 400;
  }
  #ugreen-product-tabs .green-custom-tab.active {
    color: #131414;
    font-weight: 600;
  }
}
@media (max-width: 767px) {
  .products_diff_wrap {
/*     height: 110vh; */
    width: 100%;
    overflow-x: auto;
  }
  .products_diff_title {
    font-size: 24px;
    font-weight: 600;
    color: #131414;
    line-height: 30px;
    margin: 24px 0;
    text-align: center;
  }
  .products_diff_wrap > img {
    width: auto;
    height: 62vh;
    max-width: 1000vw;
  }
  .tabText_wrap {
    margin-bottom: 12px;
  }
  #shopify-section-template--14317144047678__166424923084310cbd {
    position: sticky;
    top: 0;
    left: 0;
    background: white;
    border-bottom: 1px solid #f8f8f8;
    z-index: 10;
  }
  #ugreen-product-top-placeholder .flickityt4s-button {
    display: none;
  }
  #ugreen-product-top-placeholder #ugreen-product-tabs {
    margin-bottom: 0;
    display: flex;
    justify-content: space-around;
  }
  #ugreen-product-tabs li {
/*     flex: 1; */
  }
  #ugreen-product-tabs .green-custom-tab {
    position: relative;
    margin: 0 auto;
    padding: 12px 0;
    font-weight: 400;
  }
  #ugreen-product-tabs .green-custom-tab.active {
    color: #131414;
    font-weight: 600;
    transform: scale(1.05);
  }
  .green-custom-tab.active:after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #131414;
  }
}