/*Christmas banner style*/

.ug_christmas_banner {
	position: relative;
}

.ug_christmas_banner img {
	width: 100%;
}

.ug_christmas_banner .ug_christmas_banner_mol {
	display: none;
}

.ug_christmas_banner .ug_christmas_banner_box {
	position: absolute;
	top: 20%;
	left: 50%;
	max-width: 36.979vw;
	transform: translateX(-50%);
	text-align: center;
}

.ug_christmas_banner .ug_christmas_banner_box h1 {
	font-weight: 700;
	font-size: 2.083vw;
	color: #000000;
	margin-bottom: 0.521vw;
}

.ug_christmas_banner .ug_christmas_banner_box p {
	font-size: 1.042vw;
	color: #000000;
	margin: 0;
	opacity: .8;
}

.ug_christmas_banner .ug_christmas_banner_box a {
	display: inline-block;
	padding: 0.521vw 2.083vw;
	border: 0.052vw solid #000000;
	border-radius: 3.125vw;
	font-weight: 600;
	font-size: 0.833vw;
	text-align: center;
	color: #000000;
	transition: 0.3s;
	margin-top: 1.042vw;
}

.ug_christmas_banner .ug_christmas_banner_box a:hover {
	background: #00CC88;
	border: 0.052vw solid #00CC88;
	color: #FFFFFF;
}

/* Four points Style */
.four_points {
	width: 100%;
	background: #000000;
}

.four_points_con {
	max-width: 66.667vw;
	margin: 0 auto;
}

.four_points_box {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.four_points_list {
	display: flex;
	align-items: center;
	padding: 1.042vw;
	max-width: 15.885vw
}

.four_points_list img {
	max-width: 1.510vw;
}

.four_points_list p {
	margin: 0 0 0 0.625vw;
	font-size: 0.729vw;
	line-height: 1.146vw;
	color: #bebebe;
}

/* title and image style */
.title_and_img {
	text-align: center;
}

.title_and_img h2 {
	font-weight: 700;
	font-size: 36px;
	color: #000000;
}

.title_and_img p {
	font-size: 20px;
	color: #000000;
	opacity: 0.8;
	margin: 0.521vw 0 0 0;
}

/*Enjoy Holiday Offers Style*/

.ug_christmas_offers {
	background: #ffffff;
	padding-top: 6.25vw;
}

@keyframes animate{

	from {
		top : -200px;

	}

	to {
		top : 0px;

	}

}

.ug_christmas_offers .ug_christmas_offers_box {
	width: 100%;
	max-width: 66.667vw;
	overflow: hidden;
	margin: 0 auto;
	position: relative;
}
.ug-shadow {
	position: sticky;
	top: 10px;
	left: 0;
	height: 4.84vw;
	margin-top: -5.36vw;
	box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.3);
	z-index: 9;
}
.ug-tob-nav-bar-wrapper {
	position: sticky;
	top: 0;
	left: 0;
	z-index: 10;
	background: #fff;
}
.holiday_solution.ug-tob-nav-bar {
	display: flex;
	justify-content: space-between;
	padding: 0.677vw 0;
	max-width: 1280px;
	margin: 2.083vw auto 0;
}

.holiday_solution.ug-tob-nav-bar a {
	display: inline-block;
	width: 25%;
	text-align: center;
	border-right: 0.052vw solid rgba(0, 0, 0, 0.1);
}

.holiday_solution.ug-tob-nav-bar a:last-child {
	border: none;
}

.holiday_solution.ug-tob-nav-bar a img {
	max-width: 2.083vw;
	transition: all 0.5s;
}

.holiday_solution.ug-tob-nav-bar a .nav_icon_hover {
	display: none;
}

.holiday_solution.ug-tob-nav-bar a p {
	font-weight: 600;
	font-size: 0.833vw;
	margin: 0.521vw 0 0 0;
	color: rgba(0, 0, 0, .5);
	transition: all 0.5s;
}

.holiday_solution.ug-tob-nav-bar a:hover .nav_icon, .holiday_solution.ug-tob-nav-bar a.active .nav_icon {
	display: none;
}

.holiday_solution.ug-tob-nav-bar a:hover .nav_icon_hover, .holiday_solution.ug-tob-nav-bar a.active .nav_icon_hover {
	display: inline;
}

.holiday_solution.ug-tob-nav-bar a:hover p, .holiday_solution.ug-tob-nav-bar a.active p {
	color: rgba(0, 0, 0, 1);
}

/*products style*/
.for_home_products {
	background: #ffffff;
	padding-top: 40px;
}

.for_home_products .for_home_products_box {
	position: relative;
	max-width: 1280px;
	margin: 0 auto;
	padding: 40px 0;
	display: grid;
	width: 100%;
	grid-template-columns: repeat(4,minmax(0,1fr));
	gap: 1vw;
}

.for_home_products .for_home_products_box .for_home_products_banner {
	width: 100%;
	grid-column: 1/3;
	border-radius: 12px;
	overflow: hidden;
	position: relative;
	min-height: 300px;
}
.christmas_products>.for_home_products:nth-child(2) .for_home_products_banner {
	grid-area: 1/3/1/5;
}

.for_home_products .for_home_products_box .for_home_products_banner img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.for_home_products .for_home_products_box .for_home_products_list {
	width: 100%;
	border-radius: 12px;
	padding: 5.4%;
	background: #F5F5F7;
	/*max-width: 25%;*/
	/*padding: 0.521vw;*/
}

.for_home_products .for_home_products_list_box {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.for_home_products .for_home_products_list_box img {
	object-fit: cover;
	transition: all .3s;
	width: 230px;
	height: 230px;
	margin: 0 auto;
	display: block;
}

.for_home_products .for_home_products_box .for_home_products_list:hover img {
	transform: scale(1.1);
	opacity: 0.7;
}

.for_home_products .for_home_products_list_box .product_title {
	font-size: 16px;
	color: #666666;
	line-height: 1.2;
	margin: 12px 0 16px;
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	height: 40px;
}

.for_home_products .for_home_products_list_box .product_prie {
	font-family: 'Lato', serif;
	font-weight: 700;
	font-size: 20px;
	color: #000000;
	margin: 0;
	line-height: 1.2;
}

.for_home_products .for_home_products_list_box ul {
	margin: 12px 0 16px;
	padding: 0;
}

.for_home_products .for_home_products_list_box ul li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: disc;
	margin-bottom: 4px;
}

.for_home_products .for_home_products_list_box ul li p {
	margin: 0;
	font-size: 14px;
	color: #929292;
}

.for_home_products .for_home_products_list_box ul li span {
	display: inline-block;
	/*width: 3.646vw;*/
	/*height: 1.042vw;*/
	border: 1px solid #00CC88;
	border-radius: 4px;
	color: #00CC88;
	font-size: 12px;
	line-height: 1.2;
	text-align: center;
	padding: 4px;
}

.for_home_products .for_home_products_list_box ul li p::before {
	content: '';
	display: inline-block;
	width: 0.104vw;
	height: 0.104vw;
	background: #929292;
	border-radius: 50%;
	position: relative;
	top: -0.208vw;
	margin-right: 0.260vw;
}

.for_home_products .for_home_products_list_box button {
	width: 100%;
	padding: 10px;
	border-radius: 3.125vw;
	color: #ffffff;
	font-size: 16px;
	font-weight: 600;
	transition: all .3s;
}

.for_home_products .for_home_products_box .for_home_products_list:hover button {
	background: #00CC88;
}

.load-more__btn {
	position: absolute;
	bottom: -12px;
	font-weight: 600;
	font-size: 20px;
	line-height: 1.2;
	color: #00CC88;
	width: 100%;
	text-align: center;
}

.load-more__btn span {
	display: inline-block;
	transform: rotate(270deg);
	position: relative;
	top: 0.104vw;
	left: 0.15625vw;
}

.christmas_products>div:last-child {
	padding-bottom: 6.25vw;
}

/*Customized Offers style*/
.customized_offers {
	padding: 4.167vw 0;
	background-color: #F5F5F7;
}

.customized_offers .content {
	max-width: 49.740vw;
	margin: 0 auto;
}

.customized_offers .content .customized_offers_box {
	background-color: #fff;
	padding: 4.167vw 7.083vw;
}

.customized_title {
	text-align: center;
	margin-bottom: 2.083vw;
}

.customized_title h2 {
	font-weight: 600;
	font-size: 1.875vw;
	color: #131414;
	margin-bottom: 0.417vw;
}

.customized_title p {
	font-size: 0.833vw;
	line-height: 1.25vw;
	color: #727273;
	margin: 0;
}

.customized_offers form input,
.customized_offers form select {
	width: 100%;
	background: #F4F4F4;
	margin-bottom: 1.042vw;
	border-radius: inherit;
	font-size: 0.729vw;
	color: #727273;
	height: 3.125vw;
}

.customized_offers form textarea {
	width: 100%;
	padding: 1.146vw 1.458vw;
	font-size: 0.729vw;
	color: #727273;
	background: #F4F4F4;
}

.customized_offers form label {
	display: inline-block;
	font-weight: 600;
	font-size: 0.833vw;
	color: #000000;
	margin-bottom: 0.365vw;
}

.customized_offers form .form_example {
	padding: 1.042vw 5.208vw 0 5.208vw;
}

.customized_offers form .form_example input {
	border-radius: 5.208vw;
	background: #CACACA;
	margin: 0;
	font-weight: 600;
}

/* faq Accordion */
.t4s-accordion {
	padding: 6.25vw 0;
}

.t4s-accordion .t4s-container {
	max-width: 66.667vw;
}

.t4s-accordion .t4s-section-title {
	font-weight: 700;
	font-size: 1.875vw;
	color: #000000;
	padding-bottom: 2.083vw;
}

.t4s-type-accordion .t4s-accor-title {
	padding: 0 0 0 2.604vw !important;
}

.t4s-accor-title .t4s-accor-item-nav {
	left: 0;
	right: inherit !important;
	background-color: #ffffff !important;
}

.t4s-accor-title .t4s-accor-item-nav:before,
.t4s-accor-title .t4s-accor-item-nav:after,
.t4s-tab-wrapper.t4s-active .t4s-accor-title .t4s-accor-item-nav:after,
.t4s-tab-wrapper.t4s-active .t4s-accor-title .t4s-accor-item-nav:before {
	background-color: #000 !important;
}

.t4s-accor-title .t4s-accor-item-nav:before {
	width: 0.990vw;
}

.t4s-accor-title .t4s-accor-item-nav:after {
	height: 0.990vw;
}

.t4s-tab-wrapper.t4s-active .t4s-accor-title .t4s-accor-item-nav {
	background-color: #ffffff !important;
}

.t4s-type-accordion .t4s-tab-content {
	border: none !important;
	padding: 0.78125vw 0 0 2.865vw !important;
}

.t4s-type-accordion .t4s-tab-content p {
	margin: 0;
	font-size: 0.729vw;
	line-height: 1.09375vw;
	color: #939393;
}

.t4s-type-accordion>.t4s-tab-wrapper {
	border-bottom: 0.052vw solid rgba(17, 0, 0, 0.1);
	margin: 0 !important;
	padding: 1.042vw 0;
}

.t4s-accor-title .t4s-accor-text {
	padding: 0;
	font-weight: 600;
	color: #131414;
}

@media (max-width: 1280px) {
	.for_home_products .for_home_products_box {
		grid-template-columns: repeat(3,minmax(0,1fr));
	}
	.christmas_products>.for_home_products:nth-child(2) .for_home_products_banner {
		grid-area: 1/2/1/4;
	}
}

@media (max-width: 1024px) {
	.for_home_products .for_home_products_box {
		grid-template-columns: repeat(2,minmax(0,1fr));
	}
	.christmas_products>.for_home_products:nth-child(2) .for_home_products_banner {
		grid-area: 1/1/1/3;
	}
}

@media (max-width: 820px) {
	.for_home_products .for_home_products_box {
		grid-template-columns: repeat(1,minmax(0,1fr));
	}
	.for_home_products .for_home_products_box .for_home_products_banner {
		grid-column: 1/2;
	}
	.christmas_products>.for_home_products:nth-child(2) .for_home_products_banner {
		grid-area: 1/1/1/2;
	}
}

@media (max-width:1440px) {
	.t4s-accor-title .t4s-accor-text {
		padding: 0 !important;
	}

	.t4s-accor-title .t4s-accor-icon {
		margin-left: 7px !important;
	}
}

@media (max-width:768px) {
	/*Christmas banner mol style*/
	.ug_christmas_banner .ug_christmas_banner_pc {
		display: none;
	}

	.ug_christmas_banner .ug_christmas_banner_mol {
		display: block;
	}

	.ug_christmas_banner .ug_christmas_banner_box {
		top: 15%;
		left: 0%;
		text-align: center;
		width: 100%;
		max-width: 100%;
		padding: 0 10.667vw;
		transform: inherit;
	}

	.ug_christmas_banner .ug_christmas_banner_box h1 {
		font-size: 7.467vw;
		line-height: 10.133vw;
		margin-bottom: 2.667vw;
	}

	.ug_christmas_banner .ug_christmas_banner_box p {
		font-size: 4.267vw;
		line-height: 6.933vw;
		margin: 0;
	}

	.ug_christmas_banner .ug_christmas_banner_box a {
		padding: 1.333vw 6.933vw;
		margin-top: 9.333vw;
		border: 0.4vw solid #000000;
		border-radius: 16vw;
		font-weight: 600;
		font-size: 4.267vw;
	}

	/* four points mol style */
	.four_points_con {
		max-width: 72%;
	}

	.four_points_list {
		padding: 3.467vw 0 10.133vw 0;
		max-width: 100%;
	}

	.four_points_list img {
		max-width: 7.733vw;
	}

	.four_points_list p {
		font-size: 3.733vw;
		line-height: 5.867vw;
		margin: 0 0 0 3.467vw;
	}

	.swiper-pagination-bullet {
		background: rgb(255, 255, 255) !important;
		opacity: .4 !important;
		width: 1.6vw !important;
		height: 1.6vw !important;
	}

	.swiper-pagination-bullet-active {
		background: rgb(255, 255, 255) !important;
		opacity: 1 !important;
	}

	/*Enjoy Holiday Offers Style*/
	.ug_christmas_offers {
		padding: 16vw 0 2.667vw 0;
	}

	.ug_christmas_offers .ug_christmas_offers_box {
		max-width: 100%;
		padding: 0 4vw;
	}

	.title_and_img h2 {
		font-size: 6.4vw;
		line-height: 8vw;
		max-width: 63.467vw;
		margin: 0 auto;
	}

	.title_and_img p {
		font-size: 4.267vw;
		line-height: 6.4vw;
		margin: 2.133vw 0 5.333vw 0;
	}
	.ug-shadow {
		height: 66px;
		margin-top: -76px;
	}
	.ug-tob-nav-bar-wrapper {
		display: flex;
		align-items: center;
		height: 76px;
		width: 100%;
		padding: 0 4vw;
	}
	.holiday_solution.ug-tob-nav-bar {
		justify-content: space-between;
		flex-wrap: wrap;
		padding: 0;
		max-width: 100%;
		width: 100%;
		margin: 0;
	}

	.holiday_solution.ug-tob-nav-bar a {
		max-width: 21.333vw;
		border: none;
	}

	.holiday_solution.ug-tob-nav-bar a img {
		max-width: 7.467vw;
	}

	.holiday_solution.ug-tob-nav-bar a p {
		margin: 1.067vw 0 0 0;
		font-size: 3.2vw;
		line-height: 4.267vw;
	}
	.holiday_solution.ug-tob-nav-bar a p span{
		display: none;
	}
	/*products style*/
	.for_home_products {
		padding: 10.667vw 4vw 22.267vw 4vw;
	}

	.for_home_products .for_home_products_box {
		max-width: 100%;
		padding: 0;
		grid-row-gap: 12px;
	}

	.for_home_products .for_home_products_box .for_home_products_banner {
		width: 100%;
		padding: 0;
		max-width: 100%;
	}

	.for_home_products .for_home_products_box .for_home_products_banner img {
		border-radius: 12px;
	}

	.for_home_products .for_home_products_box .for_home_products_list {
		max-width: 100%;
		padding: 3.2vw 0 0 0;
	}

	.for_home_products .for_home_products_list_box {
		padding: 5.333vw;
		height: 100%;
		border-radius: 2.133vw;
	}

	.for_home_products .for_home_products_list_box .product_mol_style {
		width: 100%;
		display: flex;
	}

	.for_home_products .for_home_products_list_box .product_mol_style .right {
		margin-left: 2.133vw;
	}

	.for_home_products .for_home_products_list_box img {
		width: 32.533vw;
		height: 32.533vw;
		max-width: 32.533vw;
		max-height: 100%;
	}

	.for_home_products .for_home_products_list_box .product_title {
		font-size: 3.2vw;
		margin: 1.333vw 0 4vw 0;
		padding: 0;
		line-height: 4.267vw;
		height: 8vw;
	}

	.for_home_products .for_home_products_list_box .product_prie {
		font-size: 5.333vw;
		line-height: 6.667vw;
	}

	.for_home_products .for_home_products_list_box ul {
		margin: 3.2vw 0 5.333vw 0;
		width: 48vw;
	}

	.for_home_products .for_home_products_list_box ul li p {
		font-size: 3.2vw;
		line-height: 6.4vw;
	}

	.for_home_products .for_home_products_list_box ul li span {
		border: 1px solid #00CC88;
		border-radius: 0.533vw;
		font-size: 12px;
		line-height: 1;
	}

	.for_home_products .for_home_products_list_box button {
		padding: 2.4vw 0;
		font-size: 3.733vw;
		border-radius: 16vw;
	}

	.load-more__btn {
		bottom: -10.333vw;
		font-size: 4.267vw;
		line-height: 6.4vw;
	}

	.christmas_products>div:last-child {
		padding-bottom: 21.333vw;
	}

	/* Customized Offers mobile style */
	.customized_offers {
		padding: 10.667vw 0;
	}

	.customized_offers .content {
		max-width: 100%;
		padding: 0 5.333vw;
	}

	.customized_offers .content .customized_offers_box {
		padding: 16vw 4.267vw 10.667vw 4.267vw;
	}

	.customized_title {
		margin-bottom: 5.333vw;
	}

	.customized_title h2 {
		font-size: 6.4vw;
		line-height: 9.067vw;
		margin-bottom: 2.133vw;
	}

	.customized_title p {
		font-size: 3.2vw;
		line-height: 5.333vw;
	}

	.customized_offers form label {
		font-size: 3.733vw;
		line-height: 5.600vw;
		margin-bottom: 1.067vw;
	}

	.customized_offers form input,
	.customized_offers form select {
		height: 11.733vw;
		font-size: 3.733vw;
		line-height: 5.600vw;
		margin-bottom: 5.333vw;
	}

	.customized_offers form textarea {
		height: 34.667vw;
		font-size: 3.733vw;
		line-height: 5.600vw;
		padding: 3.2vw;
	}

	.customized_offers form .form_example {
		padding: 4vw 20.267vw 0 20.267vw;
	}

	.customized_offers form .form_example input {
		font-size: 4.267vw;
		border-radius: 16vw;
	}

	/* FAQ mobile style */
	.t4s-accordion {
		padding: 21.333vw 0;
	}

	.t4s-accordion .t4s-section-title {
		font-size: 6.4vw;
		line-height: 8vw;
	}

	.t4s-accordion .t4s-container {
		max-width: 100%;
	}

	.t4s-type-accordion .t4s-accor-title {
		padding: 0 0 0 12vw !important;
	}

	.t4s-accor-title .t4s-accor-text {
		padding: 0 !important;
		line-height: 5.600vw !important;
	}

	.t4s-type-accordion>.t4s-tab-wrapper {
		padding: 3.2vw 0;
	}

	.t4s-type-accordion .t4s-tab-content {
		padding: 1.6vw 0 0 13.333vw !important;
	}

	.t4s-type-accordion .t4s-tab-content p {
		font-size: 3.2vw;
		line-height: 4.8vw;
	}

	.t4s-accor-title .t4s-accor-icon {
		margin: 0 !important;
	}
}