.t4s-website-wrapper {
    background: #F5F5F7;
}
@media (min-width: 768px) {
    .is-pc {
        display: block;
    }

    .is-pe {
        display: none;
    }
}
@media (max-width: 767px) {
    .is-pc {
        display: none;
    }

    .is-pe {
        display: block;
    }
}
@media (min-width: 768px) {
    .ug-apple-banner {
        width: 100%;
        height: 31.25vw;
        background-image: url("https://cdn.shopify.com/s/files/1/0257/5246/9566/files/banner_3f12ab95-b904-4f34-9939-dd232716699e.png?v=1663205021");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .ug-apple-banner-box {
        width: 787px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-left: 12.708vw;
    }
    .ug-apple-banner-title {
        font-size: 68px;
        font-weight: 400;
        color: #FFFFFF;
        line-height: 80px;
        margin-bottom: 16px;
    }
    .ug-apple-banner-title img {
        width: 787px;
        height: 108px;
    }
    .ug-apple-banner-off {
        margin-top: 7.552vw;
        font-size: 40px;
        font-family: Poppins-Black, Poppins;
        font-weight: 900;
        color: #FAFF1E;
        line-height: 47px;
        margin-bottom: 12px;
    }
    .ug-apple-banner-off b {
        font-size: 64px;
        font-family: Poppins-Black, Poppins;
        font-weight: 900;
        color: #FAFF1E;
        line-height: 75px;
    }
    .ug-apple-banner-desc {
        font-size: 24px;
        font-family: Poppins-Medium, Poppins;
        font-weight: 500;
        color: #FFFFFF;
        line-height: 28px;
        margin-bottom: 68px;
    }
    .ug-apple-banner-time {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        font-size: 20px;
        font-family: Poppins-Medium, Poppins;
        font-weight: 500;
        color: #FFFFFF;
        line-height: 23px;
    }
    .ug-apple-banner-time span {
        width: 138px;
        text-align: center;
        border-bottom: 1px solid #FFFFFF;
        margin-bottom: 7px;
        padding-bottom: 7px;
    }
    .ug-apple-window {
        width: 1200px;
        overflow: hidden;
        margin: 50px auto;
        position: relative;
        border-radius: 5px;
    }
    .content {
        display: flex;
        transition: all 0.5s;
    }
    .ug-apple-window .content.small-height {
      height: 400px;
    }
    .content > .item {
        width: 1200px;
        flex-shrink: 0;
    }
    .content .item .ug-apple-product-banner {
        position: relative;
        background: #5B4283;
        height: 400px;
        border-radius: 20px;
        overflow: hidden;
        margin-bottom: 24px;
    }
    .ug-apple-product-banner-img-wrap {
        position: absolute;
        right: 0;
        top: 0;
        width: 600px;
    }
    .content .item .ug-apple-product-banner .ug-apple-product-banner-content {
        padding-top: 110px;
        margin-left: 130px;
        color: white;
    }
    .content .item1 .ug-apple-product-banner .ug-apple-product-banner-content, 
    .content .item2 .ug-apple-product-banner .ug-apple-product-banner-content {
        padding-top: 130px;
    }
    .content .item .ug-apple-product-banner .ug-apple-product-banner-title {
        font-size: 32px;
        font-weight: 600;
        color: #FFFFFF;
        line-height: 40px;
        width: 400px;
    }
    .content .item .ug-apple-product-banner .ug-apple-product-banner-sub {
        margin-top: 12px;
        height: 30px;
        font-size: 20px;
        font-weight: 400;
        color: #FFFFFF;
        line-height: 30px;
    }
    .content .item .ug-apple-product-banner .ug-apple-product-banner-btn {
        width: 120px;
        height: 40px;
        background: #FFFFFF;
        border-radius: 20px 20px 20px 20px;
        opacity: 1;
        color: #5B4283;
        text-align: center;
        line-height: 40px;
        margin-top: 36px;
    }
    .item .item-total {
        width: 1200px;
        margin: 0 auto;
        padding-left: 0;
        display: flex;
        justify-content: space-between;
    }
    .item .item-total li {
        flex: 1;
        padding-left: 70px;
        display: flex;
        background: white;
        border-radius: 20px;
    }
    .item .item-total li:first-child {
        margin-right: 20px;
    }
    .item .item-total li .item-left {
        padding-top: 70px;
    }
    .item .item-total li .item-left .item-title {
        height: 66px;
        font-size: 18px;
        font-weight: 600;
        color: #1d1d1f;
        line-height: 1.2;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
    }
    .item .item-total li .item-learn-btn {
        width: 120px;
        height: 40px;
        background: #1D1D1F;
        border-radius: 20px;
        font-size: 14px;
        color: white;
        text-align: center;
        line-height: 40px;
        margin-top: 32px;
        cursor: pointer;
    }
    .item .item-total li .item-learn-btn:hover {
        background: #00A064;
    }
    .item .item-total li .item-right {
        width: 270px;
        height: 270px;
        flex-shrink: 0;
    }
    .item .item-total li .item-right img {
        width: 100%;
        display: block;
    }
    .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 16px;
        border-bottom: 1px solid #D2D2D7;
        margin-bottom: 30px;
    }
    .buttons > button {
        background: transparent;
        border: none;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 60px;
        position: relative;
        color: #7E7E83;
        font-weight: 400;
        width: 180px;
    }

    .buttons > button:last-child {
        margin-right: 0;
    }
    .buttons > button.active {
        color: #1D1F1E;
        font-weight: 600;
    }
    .buttons > button.active::after {
        content: '';
        position: absolute;
        bottom: -16px;
        left: 0;
        width: 100%;
        height: 1px;
        background: black;
    }

    .image-wrap {
        width: 118px;
        height: 76px;
        overflow: hidden;
    }

    .image-wrap > img {
        width: 100%;
    }

    .button-text {
        margin-top: 24px;
        font-size: 18px;
        font-family: Poppins-SemiBold, Poppins;
        line-height: 20px;
    }
    .ug-apple-fixed {
        position: fixed;
        left: 0;
        right: 0;
        z-index: 1002;
        top: 0;
    }
    .ug-apple-tabs-box {
        height: 72px;
    }
    .ug-apple-tabs {
        width: 1185px;
        height: 72px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin: 0 auto;
        border-radius: 53px;
        border: 1px solid #131414;
        background-color: #FFFFFF;
    }
    .ug-apple-tabs a {
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        color: #131414;
        width: 390px;
        height: 60px;
        line-height: 60px;
        border-radius: 30px;
    }
    .ug-apple-tabs .active {
        color: #FFFFFF;
        background-color: #131414;
    }
    .ug-apple-title {
        font-size: 64px;
        font-family: Poppins-ExtraBold, Poppins;
        font-weight: 800;
        color: #131414;
        line-height: 80px;
        text-align: center;
        margin-bottom: 40px;
        padding-top: 100px;
    }
    .ug-apple-more {
        width: 100%;
    }
    .ug-apple-more a {
        font-size: 16px;
        font-family: Poppins-Regular, Poppins;
        font-weight: 400;
        color: #696969;
        line-height: 19px;
        padding-bottom: 4px;
        border-bottom: 1px solid #696969;
        float: right;
    }
    .ug-apple-product-title-line {
        width: 1200px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 80px;
        padding: 32px 0;
        background: #5B4283;
        color: white;
        border-radius: 12px;
    }
    .ug-apple-product-title {
        font-size: 36px;
        color: inherit;
    }
    .ug-apple-product-sub-title {
      font-size: 18px;
    }
    .ug-apple-product-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 1200px;
        margin: 0 auto;
        padding-bottom: 20px;
        margin-bottom: 60px;
        padding-left: 0;
        justify-content: space-between;
    }
    .ug-apple-product-list li {
        height: 500px;
        padding: 40px 36px 0;
        box-shadow: 0px 4px 16px 0px #EAEAEB;
        border-radius: 20px;
        background: white;
        flex: 1;
        margin-right: 24px;
        margin-bottom: 24px;
    }
    .ug-apple-product-list li:hover .ug-apple-product-img-wrap{
      transition: all 0.4s ease-out;
      transform: scale(1.2)
    }
    .ug-apple-product-list li:nth-child(3n) {
        margin-right: 0;
    }
    .ug-apple-product-list li a {
        display: block;
        position: relative;
        overflow: hidden;/*       防止变大后挡住操作 */
    }
    .ug-apple-product-img-wrap {
        width: 250px;
        height: 250px;
        padding: 12px;
        overflow: hidden;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .ug-apple-product-list li img {
        width: 100%;
        display: block;
    }
    .ug-apple-product-options {
        margin-top: 8px;
        margin-bottom: 28px;
        display: flex;
        justify-content: center;
    }
    .ug-apple-product-options .variant-border {
        width: 28px;
        height: 28px;
        margin-right: 12px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }
    .ug-apple-product-options .variant-border:last-child {
        margin-right: 0;
    }
     .ug-apple-product-list li .variant-border.active {
        border: 1px solid #D9D9D9;
      }
    .ug-apple-product-options .variant-border span {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: inline-block;
        -webkit-box-shadow: inset 1px 1px 0px 0px rgba(0, 0, 0, 0.12);
        box-shadow: inset 1px 1px 0px 0px rgba(0, 0, 0, 0.12);
    }
    .ug-apple-product-list li h3 {
        height: 50px;
        font-size: 20px;
        font-weight: 600;
        color: #1D1D1F;
        line-height: 25px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
    .ug-apple-product-list li .variant-box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-top: 16px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 12px;
    }
    .ug-apple-product-list li .variant-box p {
        font-size: 18px;
        font-family: Poppins-Regular, Poppins;
        font-weight: 400;
        color: #353535;
        line-height: 23px;
        margin-top: 8px;
        margin-bottom: 12px;
    }
    .ug-apple-product-list li .variant-box p.has-compare {
        color: #ec0101;
        margin-left: 12px;
    }
    .ug-apple-product-list li .variant-box .active {
        border: 1px solid #D9D9D9 !important;
    }
    .ug-apple-product-list li .variant-box a {
        margin-left: auto;
        width: 62px;
        height: 36px;
        background: #1D1D1F;
        border-radius: 20px;
        text-align: center;
        line-height: 36px;
        color: white;
    }
    .ug-apple-product-list li .variant-box a:hover {
      background: #00A064;
    }
    .ug-apple-product-list li .variant-box a img {
        padding: 0;
        width: 40px;
        height: 40px;
    }
    .ug-apple-product-discount {
        height: 26px;
        background: #FFD338;
        font-size: 13px;
        font-weight: normal;
        color: #000000;
        line-height: 26px;
        position: absolute;
        bottom: 57px;
        text-align: center;
        z-index: 1000;
        left: 0;
        width: 285px;
    }
    .ug-apple-product-ads img {
        width: 285px;
        height: 430px;
        padding: 0 !important;
    }
    .ug-apple-less {
        width: 100%;
        background-color: #ECECEC;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .ug-apple-less h3 {
        font-size: 64px;
        font-family: Poppins-ExtraBold, Poppins;
        font-weight: 800;
        color: #000000;
        line-height: 80px;
        margin-top: 100px;
        margin-bottom: 40px;
        text-align: center;
    }
    .ug-apple-less ul {
        width: 1220px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        padding-bottom: 100px;
        padding-left: 0;
    }
    .ug-apple-less ul li {
        width: 285px;
        margin-left: 10px;
        margin-right: 10px;
        background-color: #FFFFFF;
        padding-bottom: 24px;
        margin-bottom: 40px;
    }
    .ug-apple-less ul li img {
        width: 285px;
        height: 285px;
        background-color: #F8F8F8;
        padding: 45px;
    }
    .ug-apple-less ul li .title {
        height: 40px;
        font-size: 16px;
        font-family: Poppins-Medium, Poppins;
        font-weight: 500;
        color: #1A1A1A;
        line-height: 20px;
        padding-left: 16px;
        padding-right: 16px;
        margin-top: 16px;
        margin-bottom: 8px;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
    .ug-apple-less ul li .price {
        font-size: 18px;
        font-family: Poppins-Regular, Poppins;
        font-weight: 400;
        color: #353535;
        line-height: 23px;
        padding-left: 16px;
    }
    .ug-apple-less ul li .variant-box {
        height: 28px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-left: 16px;
    }
    .ug-apple-less ul li .variant-box .active {
        border: 1px solid #D9D9D9 !important;
    }
    .ug-apple-less ul li .variant-box .variant-border {
        padding: 4px;
        width: 28px;
        height: 28px;
        border-radius: 14px;
        margin-right: 9px;
        margin-top: 12px;
        border: 1px solid #FFFFFF;
    }
    .ug-apple-less ul li .variant-box .variant-border span {
        width: 18px;
        height: 18px;
        border-radius: 9px;
        display: inline-block;
    }
    .ug-apple-footer {
        width: 1200px;
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #F8F8F8;
        margin-top: 65px;
        margin-bottom: 100px;
    }
    .ug-apple-footer-title {
        font-size: 24px;
        font-family: Poppins-SemiBold, Poppins;
        font-weight: 600;
        color: #000000;
        line-height: 28px;
        margin-bottom: 6px;
    }
    .ug-apple-footer-share {
        font-size: 16px;
        font-family: Poppins-Medium, Poppins;
        font-weight: 500;
        color: #131414;
        line-height: 24px;
        margin-bottom: 12px;
    }
    .ug-apple-footer ul {
        width: 192px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .ug-apple-footer ul li img {
        width: 40px;
        height: 40px;
    }
}
@media (max-width: 767px) {
    .ug-apple-banner {
        width: 100%;
        height: 106.67vw;
        background-image: url("https://cdn.shopify.com/s/files/1/0257/5246/9566/files/banner-pe.png?v=1663205020");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .ug-apple-banner-box {
        width: 100%;
        height: 154.67vw;
        background-image: url("https://cdn.shopify.com/s/files/1/0257/5246/9566/files/Group_10_1.webp?v=1659147959");
        background-size: cover;
        background-repeat: no-repeat;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .ug-apple-window {
        width: 100%;
        overflow: hidden;
        margin: 0 auto;
        position: relative;
        border-radius: 5px;
    }
    .content {
        display: flex;
        transition: all 0.5s;
        margin-bottom: 12px;
    }
    .ug-apple-window .content.small-height {
      height: 550px;
    }
    .content > .item {
        width: 100vw;
        flex-shrink: 0;
        padding: 0 20px;
    }
    .content .item .ug-apple-product-banner {
        position: relative;
        background: #5B4283;
        height: 470px;
        border-radius: 20px;
        overflow: hidden;
        margin-bottom: 24px;
    }
    .ug-apple-product-banner-img-wrap {
        position: absolute;
          left: 50%;
          bottom: 0;
          width: 283px;
          transform: translateX(-50%);
    }
    .content .item .ug-apple-product-banner .ug-apple-product-banner-content {
            color: #fff;
            padding-top: 40px;
            text-align: center;
    }
    .content .item .ug-apple-product-banner .ug-apple-product-banner-title {
      font-size: 24px;
      font-weight: 600;
      color: #fff;
      line-height: 30px;
      width: 240px;
      margin: 0 auto;
    }
    .content .item .ug-apple-product-banner .ug-apple-product-banner-sub {
      margin-top: 8px;
      height: 20px;
      font-size: 14px;
      font-weight: 400;
      color: #FFFFFF;
      line-height: 20px;
    }
    .content .item .ug-apple-product-banner .ug-apple-product-banner-btn {
      width: 120px;
      height: 40px;
      background: #FFFFFF;
      border-radius: 20px;
      opacity: 1;
      color: #5b4283;
      text-align: center;
      line-height: 40px;
      margin: 16px auto 0;
    }
    .item .item-total {
        width: 100%;
        margin: 0 auto;
        padding-left: 0;
        margin-bottom: 16px;
    }
    .item .item-total li {
        padding-left: 20px;
        display: flex;
        background: white;
        border-radius: 20px;
        width: 100%;
        flex-shrink: 0;
    }
  .item .item-total li:first-child {
      margin-bottom: 16px;
  }
    .item .item-total li .item-left {
        padding-top: 36px;
    }
    .item .item-total li .item-left .item-title {
        height: 58px;
        font-size: 16px;
        font-weight: 600;
        color: #1d1d1f;
        line-height: 1.2;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
    }
    .item .item-total li .item-learn-btn {
        width: 120px;
        height: 40px;
        background: #1D1D1F;
        border-radius: 20px;
        font-size: 14px;
        color: white;
        text-align: center;
        line-height: 40px;
        margin-top: 16px;
        cursor: pointer;
    }
    .item .item-total li .item-learn-btn:hover {
        background: #00A064;
    }
    .item .item-total li .item-right {
        width: 176px;
        height: 176px;
        flex-shrink: 0;
        padding: 16px;
    }
    .item .item-total li .item-right img {
        width: 100%;
        display: block;
    }
    .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 16px;
        border-bottom: 1px solid #D2D2D7;
        margin-bottom: 16px;
        background: white;
    }
    .buttons > button {
        background: transparent;
        border: none;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        color: #7E7E83;
        font-weight: 400;
    }

    .buttons > button:last-child {
        margin-right: 0;
    }
    .buttons > button.active {
        color: #1D1F1E;
        font-weight: 600;
    }
    .buttons > button.active::after {
        content: '';
        position: absolute;
        bottom: -16px;
        left: 0;
        width: 100%;
        height: 1px;
        background: black;
    }

    .image-wrap {
        width: 100%;
        height: 76px;
        overflow: hidden;
    }

    .image-wrap > img {
        width: 100%;
    }

    .button-text {
        margin-top: 12px;
        font-size: 14px;
        font-family: Poppins-SemiBold, Poppins;
        line-height: 20px;
        padding: 0 6px;
        line-height: 1.2;
        height: 32px;
    }
    .ug-apple-banner-title {
        font-size: 28px;
        font-weight: 400;
        color: #FFFFFF;
        line-height: 33px;
        margin-bottom: 1.07vw;
    }
    .ug-apple-banner-title img {
        width: 324px;
        height: 45px;
    }
    .ug-apple-banner-desc {
        font-size: 14px;
        font-family: Poppins-Medium, Poppins;
        font-weight: 500;
        color: #FFFFFF;
        line-height: 16px;
        margin-bottom: 10.67vw;
    }
    .ug-apple-banner-time {
        font-size: 16px;
        font-family: Poppins-Medium, Poppins;
        font-weight: 500;
        color: #FFFFFF;
        line-height: 19px;
        width: 186px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .ug-apple-banner-time span {
        display: block;
        width: 100%;
        border-bottom: 1px solid #FFFFFF;
        padding-bottom: 2.13vw;
        margin-bottom: 2.13vw;
        text-align: center;
    }
    .ug-apple-fixed {
        position: fixed;
        left: 0;
        right: 0;
        z-index: 1002;
        top: 0;
    }
    .ug-apple-discount-box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 20px;
    }
    .ug-apple-tabs-box {
        height: 48px;
    }
    .ug-apple-tabs {
        width: 100%;
        height: 48px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        background-color: #F4F4F4;
    }
    .ug-apple-tabs a {
        width: 33.33vw;
        height: 48px;
        display: inline-block;
        font-size: 12px;
        font-family: Poppins-SemiBold, Poppins;
        font-weight: 600;
        color: #131414;
        line-height: 48px;
        background: #F4F4F4;
        text-align: center;
    }
    .ug-apple-tabs .active {
        color: #FFFFFF;
        background-color: #131414;
    }
    .ug-apple-title {
        font-size: 24px;
        font-weight: 400;
        color: #131414;
        line-height: 30px;
        text-align: center;
        padding-top: 48px;
        margin-bottom: 5.33vw;
    }
    .ug-apple-product-list {
        padding-left: 20px;
        padding-right: 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .ug-apple-product-list .ug-apple-more {
        width: 100%;
        text-align: center;
        margin-bottom: 16vw;
    }
    .ug-apple-product-list .ug-apple-more a {
        font-size: 16px;
        font-family: Poppins-Regular, Poppins;
        font-weight: 400;
        color: #696969;
        line-height: 19px;
        padding-bottom: 4px;
        border-bottom: 1px solid #696969;
    }
    .ug-apple-product-list .ug-apple-product-ads {
        width: 100%;
    }
    .ug-apple-product-list .ug-apple-product-ads img {
        padding: 0 !important;
    }
    .ug-apple-product-title-line {
        width: calc(100% - 40px);
        margin: 0 auto;
        text-align: center;
        margin-bottom: 24px;
        padding: 12px 0;
        background: #5B4283;
        color: white;
        border-radius: 8px;
    }
    .ug-apple-product-title {
        font-size: 20px;
        color: inherit;
    }
    .ug-apple-product-sub-title {
      font-size: 12px;
      padding: 0 40px;
      line-height: 1.2;
    }
    .ug-apple-product-list li {
        width: 49%;
        margin-right: 2%;
        background-color: #FFFFFF;
        margin-bottom: 20px;
    }
    .ug-apple-product-list li:nth-child(2n) {
      margin-right: 0;
    }
    .ug-apple-product-list li .ug-apple-product-img-wrap {
      width: 100%;
      height: 0;
      padding-bottom: 100%;
      overflow: hidden;
    }
    .ug-apple-product-list li a {
        display: block;
        position: relative;
    }
    .ug-apple-product-list li img {
        padding: 12.5%;
    }
    .ug-apple-product-list li .variant-box {
        margin-top: 16px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 16px;
        padding-left: 9px;
        padding-right: 9px;
    }
    .ug-apple-product-list li .variant-box a {
        margin-left: auto;
    }
    .ug-apple-product-list li .variant-box a img {
        width: 36px;
        height: 36px;
        padding: 0;
        background-color: #FFFFFF;
    }
    .ug-apple-product-list li .active {
        border: 1px solid #D9D9D9;
    }
    .ug-apple-product-list li .variant-border {
        width: 20px;
        height: 20px;
        border-radius: 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-right: 4px;
    }
    .ug-apple-product-list li .variant-box  .ug-apple-product-buy-btn {
      width: 52px;
      height: 24px;
      background: #1D1D1F;
      border-radius: 20px;
      color: white;
      line-height: 24px;
      text-align: center;
    }
    .ug-apple-product-list li .variant-box  .ug-apple-product-buy-btn:hover {
      background: #00A064;
    }
    .ug-apple-product-list li .variant-border span {
        display: inline-block;
        width: 14px;
        height: 14px;
        border-radius: 7px;
      box-shadow: inset 1px 1px #0000001f;
    }
    .ug-apple-product-list li .ug-apple-product-discount {
        width: 100%;
        height: 24px;
        line-height: 24px;
        background: #FFD338;
        position: absolute;
        bottom: 50px;
        left: 0;
        font-size: 12px;
        font-weight: normal;
        color: #000000;
        text-align: center;
    }
    .ug-apple-product-list li h3 {
        height: 40px;
        font-size: 14px;
        font-family: Poppins-Medium, Poppins;
        font-weight: 500;
        color: #1A1A1A;
        line-height: 20px;
        padding-left: 10px;
        padding-right: 10px;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        margin-top: 12px;
        margin-bottom: 8px;
    }
    .ug-apple-product-list .price-line {
        display: flex;
        align-items: center;
        padding: 0 9px;
    }
    .ug-apple-product-list li p.has-compare {
      color: #ec0101;
    }
    .ug-apple-product-list li p {
        font-size: 18px;
        font-family: Poppins-Regular, Poppins;
        font-weight: 400;
        color: #353535;
        line-height: 23px;
        padding-left: 10px;
        margin-bottom: 0;
    }
    .ug-apple-less {
        background-color: #ECECEC;
    }
    .ug-apple-less h3 {
        font-size: 24px;
        font-weight: 400;
        color: #131414;
        line-height: 28px;
        text-align: center;
        padding-top: 10.67vw;
        padding-bottom: 5.33vw;
    }
    .ug-apple-less ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding-left: 15px;
        padding-right: 15px;
    }
    .ug-apple-less ul li {
        width: 47%;
        margin-left: 1.5%;
        margin-right: 1.5%;
        background-color: #FFFFFF;
        margin-bottom: 20px;
    }
    .ug-apple-less ul li img {
        background-color: #F8F8F8;
        padding: 12.5%;
    }
    .ug-apple-less ul li .title {
        height: 40px;
        font-size: 14px;
        font-family: Poppins-Medium, Poppins;
        font-weight: 500;
        color: #1A1A1A;
        line-height: 20px;
        padding-left: 10px;
        padding-right: 10px;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        margin-top: 12px;
        margin-bottom: 8px;
    }
    .ug-apple-less ul li .price {
        font-size: 18px;
        font-family: Poppins-Regular, Poppins;
        font-weight: 400;
        color: #353535;
        line-height: 23px;
        padding-left: 10px;
    }
    .ug-apple-less ul li .variant-box {
        margin-top: 16px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 16px;
        padding-left: 9px;
    }
    .ug-apple-less ul li .active {
        border: 1px solid #D9D9D9;
    }
    .ug-apple-less ul li .variant-border {
        width: 20px;
        height: 20px;
        border-radius: 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .ug-apple-less ul li .variant-border span {
        display: inline-block;
        width: 14px;
        height: 14px;
        border-radius: 7px;
    }
    .ug-apple-footer {
        width: 100%;
        margin-top: 36px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        background-color: #F8F8F8;
        padding-top: 40px;
        padding-bottom: 40px;
        margin-bottom: 40px;
    }
    .ug-apple-footer-title {
        font-size: 20px;
        font-family: Poppins-SemiBold, Poppins;
        font-weight: 600;
        color: #000000;
        line-height: 25px;
        text-align: center;
        margin-bottom: 24px;
    }
    .ug-apple-footer-share {
        font-size: 16px;
        font-family: Poppins-Medium, Poppins;
        font-weight: 500;
        color: #131414;
        line-height: 24px;
        margin-bottom: 20px;
    }
    .ug-apple-footer ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding-left: 0;
    }
    .ug-apple-footer ul li {
        margin-left: 10px;
        margin-right: 10px;
    }
    .ug-apple-product-options {
      display: flex;
    }
}
