@media (min-width: 768px) {
  .is-pc {
    display: block;
  }

  .is-pe {
    display: none;
  }
}
@media (max-width: 767px) {
  .is-pc {
    display: none;
  }

  .is-pe {
    display: block;
  }
}
@media (min-width: 768px) {
  .ug-school-banner {
    width: 100%;
    height: 36.5625vw;
    background-image: url("https://cdn.shopify.com/s/files/1/0257/5246/9566/files/Group_10.webp?v=1658991074");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .ug-school-banner-box {
    width: 787px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 12.708vw;
  }
  .ug-school-banner-title {
    font-size: 68px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 80px;
    margin-bottom: 16px;
  }
  .ug-school-banner-title img {
    width: 787px;
    height: 108px;
  }
  .ug-school-banner-off {
    margin-top: 7.552vw;
    font-size: 40px;
    font-family: Poppins-Black, Poppins;
    font-weight: 900;
    color: #FAFF1E;
    line-height: 47px;
    margin-bottom: 12px;
  }
  .ug-school-banner-off b {
    font-size: 64px;
    font-family: Poppins-Black, Poppins;
    font-weight: 900;
    color: #FAFF1E;
    line-height: 75px;
  }
  .ug-school-banner-desc {
    font-size: 24px;
    font-family: Poppins-Medium, Poppins;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 28px;
    margin-bottom: 68px;
  }
  .ug-school-banner-time {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 20px;
    font-family: Poppins-Medium, Poppins;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 23px;
  }
  .ug-school-banner-time span {
    width: 138px;
    text-align: center;
    border-bottom: 1px solid #FFFFFF;
    margin-bottom: 7px;
    padding-bottom: 7px;
  }
  .ug-school-discount-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 32px;
    padding-top: 48px;
    background-color: #FAFAFA;
  }
  .ug-school-discount-box .item {
    margin-left: 20px;
    margin-right: 20px;
    background-image: url("https://cdn.shopify.com/s/files/1/0257/5246/9566/files/Group_276_2.png?v=1659600158");
    background-size: cover;
    background-repeat: no-repeat;
    width: 560px;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 12px;
    padding-bottom: 12px;
    position: relative;
  }
  .ug-school-discount-box .item .badge {
    position: absolute;
    top: 0;
    left: 0;
    width: 76px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 12px;
    background-color: #DC3030;
    color: #FFFFFF;
  }
  .ug-school-discount-box .item .left {
    width: 272px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-right: 1px dotted #E9631D;
  }
  .ug-school-discount-box .item .left .save {
    font-size: 18px;
    font-family: Inter-Regular, Inter;
    font-weight: 400;
    color: #E9631D;
    line-height: 21px;
    margin-left: 32px;
  }
  .ug-school-discount-box .item .left .off {
    font-size: 32px;
    font-family: Inter-Semi Bold, Inter;
    font-weight: normal;
    color: #E9631D;
    line-height: 40px;
    margin-left: 6px;
  }
  .ug-school-discount-box .item .left .desc {
    font-size: 12px;
    font-family: Inter-Regular, Inter;
    font-weight: 400;
    color: #E9631D;
    line-height: 16px;
    margin-left: 32px;
  }
  .ug-school-discount-box .item .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 295px;
  }
  .ug-school-discount-box .item .right .code {
    font-size: 14px;
    font-family: Inter-Regular, Inter;
    font-weight: 400;
    color: #E9631D;
    line-height: 16px;
    margin-left: 18px;
    margin-right: 47px;
  }
  .ug-school-discount-box .item .right button {
    font-size: 18px;
    font-family: Inter-Semi Bold, Inter;
    font-weight: normal;
    color: #FFFFFF;
    line-height: 40px;
    width: 120px;
    height: 40px;
    background: #E9631D;
    border-radius: 22px;
    padding: 0;
  }
  .ug-school-discount-box .item .right button.active {
    height: 38px;
    background-color: #FFFFFF;
    border: 1px solid #E9631D;
    color: #E9631D;
    line-height: 38px;
  }
  .ug-school-discount-off {
    padding-top: 0;
    padding-bottom: 48px;
    margin-bottom: 80px;
  }
  .ug-school-discount-off .item .left .save {
    font-size: 32px;
  }
  .ug-school-discount-off .item .left .off {
    font-size: 18px;
  }
  .ug-school-fixed {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1002;
    top: 0;
  }
  .ug-school-tabs-box {
    height: 72px;
  }
  .ug-school-tabs {
    width: 1185px;
    height: 72px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    border-radius: 53px;
    border: 1px solid #131414;
    background-color: #FFFFFF;
  }
  .ug-school-tabs a {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #131414;
    width: 390px;
    height: 60px;
    line-height: 60px;
    border-radius: 30px;
  }
  .ug-school-tabs .active {
    color: #FFFFFF;
    background-color: #131414;
  }
  .ug-school-title {
    font-size: 64px;
    font-family: Poppins-ExtraBold, Poppins;
    font-weight: 800;
    color: #131414;
    line-height: 80px;
    text-align: center;
    margin-bottom: 40px;
    padding-top: 100px;
  }
  .ug-school-more {
    width: 100%;
  }
  .ug-school-more a {
    font-size: 16px;
    font-family: Poppins-Regular, Poppins;
    font-weight: 400;
    color: #696969;
    line-height: 19px;
    padding-bottom: 4px;
    border-bottom: 1px solid #696969;
    float: right;
  }
  .ug-school-product-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 1220px;
    margin: 0 auto;
    border-bottom: 1px solid #EAEAEA;
    padding-bottom: 20px;
    margin-bottom: 60px;
    padding-left: 0;
  }
  .ug-school-product-list li {
    width: 305px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 26px;
  }
  .ug-school-product-list li a {
    display: block;
    position: relative;
  }
  .ug-school-product-list li img {
    width: 100%;
    padding: 45px;
    background-color: #F8F8F8;
  }
  .ug-school-product-list li h3 {
    padding-left: 16px;
    padding-right: 16px;
    font-size: 16px;
    font-family: Poppins-Medium, Poppins;
    font-weight: 500;
    color: #1A1A1A;
    line-height: 20px;
    margin-top: 16px;
    height: 40px;
  }
  .ug-school-product-list li p {
    padding-left: 16px;
    padding-right: 16px;
    font-size: 18px;
    font-family: Poppins-Regular, Poppins;
    font-weight: 400;
    color: #353535;
    line-height: 23px;
    margin-top: 8px;
    margin-bottom: 12px;
  }
  .ug-school-product-list li .variant-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 16px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 12px;
  }
  .ug-school-product-list li .variant-box .active {
    border: 1px solid #D9D9D9 !important;
  }
  .ug-school-product-list li .variant-box a {
    margin-left: auto;
    margin-right: 28px;
  }
  .ug-school-product-list li .variant-box a img {
    padding: 0;
    width: 40px;
    height: 40px;
  }
  .ug-school-product-list li .variant-box .variant-border {
    padding: 4px;
    width: 28px;
    height: 28px;
    border-radius: 14px;
    margin-right: 9px;
    border: 1px solid #FFFFFF;
  }
  .ug-school-product-list li .variant-box .variant-border span {
    width: 18px;
    height: 18px;
    border-radius: 9px;
    display: inline-block;
    -webkit-box-shadow: inset 1px 1px 0px 0px rgba(0, 0, 0, 0.12);
            box-shadow: inset 1px 1px 0px 0px rgba(0, 0, 0, 0.12);
  }
  .ug-school-product-discount {
    height: 26px;
    background: #FFD338;
    font-size: 13px;
    font-weight: normal;
    color: #000000;
    line-height: 26px;
    position: absolute;
    bottom: 57px;
    text-align: center;
    z-index: 1000;
    left: 0;
    width: 285px;
  }
  .ug-school-product-ads img {
    width: 285px;
    height: 430px;
    padding: 0 !important;
  }
  .ug-school-less {
    width: 100%;
    background-color: #ECECEC;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ug-school-less h3 {
    font-size: 64px;
    font-family: Poppins-ExtraBold, Poppins;
    font-weight: 800;
    color: #000000;
    line-height: 80px;
    margin-top: 100px;
    margin-bottom: 40px;
    text-align: center;
  }
  .ug-school-less ul {
    width: 1220px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-bottom: 100px;
    padding-left: 0;
  }
  .ug-school-less ul li {
    width: 285px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #FFFFFF;
    padding-bottom: 24px;
    margin-bottom: 40px;
  }
  .ug-school-less ul li img {
    width: 285px;
    height: 285px;
    background-color: #F8F8F8;
    padding: 45px;
  }
  .ug-school-less ul li .title {
    height: 40px;
    font-size: 16px;
    font-family: Poppins-Medium, Poppins;
    font-weight: 500;
    color: #1A1A1A;
    line-height: 20px;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 16px;
    margin-bottom: 8px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
  .ug-school-less ul li .price {
    font-size: 18px;
    font-family: Poppins-Regular, Poppins;
    font-weight: 400;
    color: #353535;
    line-height: 23px;
    padding-left: 16px;
  }
  .ug-school-less ul li .variant-box {
    height: 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 16px;
  }
  .ug-school-less ul li .variant-box .active {
    border: 1px solid #D9D9D9 !important;
  }
  .ug-school-less ul li .variant-box .variant-border {
    padding: 4px;
    width: 28px;
    height: 28px;
    border-radius: 14px;
    margin-right: 9px;
    margin-top: 12px;
    border: 1px solid #FFFFFF;
  }
  .ug-school-less ul li .variant-box .variant-border span {
    width: 18px;
    height: 18px;
    border-radius: 9px;
    display: inline-block;
  }
  .ug-school-footer {
    width: 1200px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #F8F8F8;
    margin-top: 65px;
    margin-bottom: 100px;
  }
  .ug-school-footer-title {
    font-size: 24px;
    font-family: Poppins-SemiBold, Poppins;
    font-weight: 600;
    color: #000000;
    line-height: 28px;
    margin-bottom: 6px;
  }
  .ug-school-footer-share {
    font-size: 16px;
    font-family: Poppins-Medium, Poppins;
    font-weight: 500;
    color: #131414;
    line-height: 24px;
    margin-bottom: 12px;
  }
  .ug-school-footer ul {
    width: 192px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .ug-school-footer ul li img {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 767px) {
  .ug-school-banner-box {
    width: 100%;
    height: 154.67vw;
    background-image: url("https://cdn.shopify.com/s/files/1/0257/5246/9566/files/Group_10_1.webp?v=1659147959");
    background-size: cover;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .ug-school-banner-off {
    font-size: 24px;
    font-family: Poppins-Black, Poppins;
    font-weight: 500;
    color: #FAFF1E;
    line-height: 28px;
    margin-bottom: 4px;
    margin-top: 22.67vw;
  }
  .ug-school-banner-off b {
    font-size: 36px;
    font-family: Poppins-Black, Poppins;
    font-weight: 900;
    color: #FAFF1E;
    line-height: 42px;
  }
  .ug-school-banner-title {
    font-size: 28px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 33px;
    margin-bottom: 1.07vw;
  }
  .ug-school-banner-title img {
    width: 324px;
    height: 45px;
  }
  .ug-school-banner-desc {
    font-size: 14px;
    font-family: Poppins-Medium, Poppins;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 16px;
    margin-bottom: 10.67vw;
  }
  .ug-school-banner-time {
    font-size: 16px;
    font-family: Poppins-Medium, Poppins;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 19px;
    width: 186px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .ug-school-banner-time span {
    display: block;
    width: 100%;
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 2.13vw;
    margin-bottom: 2.13vw;
    text-align: center;
  }
  .ug-school-fixed {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1002;
    top: 0;
  }
  .ug-school-discount-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
  }
  .ug-school-discount-box .item {
    background-image: url("https://cdn.shopify.com/s/files/1/0257/5246/9566/files/Group_278_2.png?v=1659603847");
    background-size: cover;
    background-repeat: no-repeat;
    width: 89.33vw;
    height: 24vw;
    padding-top: 8px;
    padding-bottom: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 9px;
    margin-bottom: 9px;
    position: relative;
  }
  .ug-school-discount-box .item .badge {
    position: absolute;
    top: 0;
    left: 0;
    width: 76px;
    height: 20px;
    color: #FFFFFF;
    font-size: 12px;
    text-align: center;
    background-color: #DC3030;
  }
  .ug-school-discount-box .item .left {
    width: 53.33vw;
    min-width: 53.33vw;
    max-width: 53.33vw;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 5.33vw;
    border-right: 1px dotted #E9631D;
  }
  .ug-school-discount-box .item .left .save {
    font-size: 14px;
    font-family: Inter-Regular, Inter;
    font-weight: 400;
    color: #E9631D;
    line-height: 16px;
    padding-top: 18px;
    padding-bottom: 6px;
    margin-right: 6px;
  }
  .ug-school-discount-box .item .left .off {
    font-size: 30px;
    font-family: Inter-Semi Bold, Inter;
    font-weight: normal;
    color: #E9631D;
    line-height: 40px;
  }
  .ug-school-discount-box .item .left .desc {
    font-size: 12px;
    font-family: Inter-Regular, Inter;
    font-weight: 400;
    color: #E9631D;
    line-height: 15px;
  }
  .ug-school-discount-box .item .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: auto;
  }
  .ug-school-discount-box .item .right .code {
    font-size: 12px;
    font-family: Inter-Regular, Inter;
    font-weight: 400;
    color: #E9631D;
    line-height: 14px;
    margin-top: 8px;
  }
  .ug-school-discount-box .item .right button {
    width: 96px;
    height: 32px;
    background: #E9631D;
    border-radius: 22px;
    font-size: 16px;
    font-family: Inter-Semi Bold, Inter;
    font-weight: normal;
    color: #FFFFFF;
    padding: 0;
    line-height: 32px;
  }
  .ug-school-discount-box .item .right button.active {
    height: 30px;
    color: #E9631D;
    border: 1px solid #E9631D;
    background-color: #FFFFFF;
    line-height: 30px;
  }
  .ug-school-discount-off {
    margin-top: 0;
    margin-bottom: 40px;
  }
  .ug-school-discount-off .item .left .save {
    font-size: 30px;
    line-height: 38px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .ug-school-discount-off .item .left .off {
    font-size: 14px;
  }
  .ug-school-tabs-box {
    height: 48px;
  }
  .ug-school-tabs {
    width: 100%;
    height: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #F4F4F4;
  }
  .ug-school-tabs a {
    width: 33.33vw;
    height: 48px;
    display: inline-block;
    font-size: 12px;
    font-family: Poppins-SemiBold, Poppins;
    font-weight: 600;
    color: #131414;
    line-height: 48px;
    background: #F4F4F4;
    text-align: center;
  }
  .ug-school-tabs .active {
    color: #FFFFFF;
    background-color: #131414;
  }
  .ug-school-title {
    font-size: 24px;
    font-weight: 400;
    color: #131414;
    line-height: 30px;
    text-align: center;
    padding-top: 48px;
    margin-bottom: 5.33vw;
  }
  .ug-school-product-list {
    padding-left: 15px;
    padding-right: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .ug-school-product-list .ug-school-more {
    width: 100%;
    text-align: center;
    margin-bottom: 16vw;
  }
  .ug-school-product-list .ug-school-more a {
    font-size: 16px;
    font-family: Poppins-Regular, Poppins;
    font-weight: 400;
    color: #696969;
    line-height: 19px;
    padding-bottom: 4px;
    border-bottom: 1px solid #696969;
  }
  .ug-school-product-list .ug-school-product-ads {
    width: 100%;
  }
  .ug-school-product-list .ug-school-product-ads img {
    padding: 0 !important;
  }
  .ug-school-product-list li {
    width: 47%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    background-color: #FFFFFF;
    margin-bottom: 20px;
  }
  .ug-school-product-list li a {
    display: block;
    position: relative;
  }
  .ug-school-product-list li img {
    background-color: #F8F8F8;
    padding: 12.5%;
  }
  .ug-school-product-list li .variant-box {
    margin-top: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 16px;
    padding-left: 9px;
    padding-right: 9px;
  }
  .ug-school-product-list li .variant-box a {
    margin-left: auto;
  }
  .ug-school-product-list li .variant-box a img {
    width: 36px;
    height: 36px;
    padding: 0;
    background-color: #FFFFFF;
  }
  .ug-school-product-list li .active {
    border: 1px solid #D9D9D9;
  }
  .ug-school-product-list li .variant-border {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .ug-school-product-list li .variant-border span {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 7px;
  }
  .ug-school-product-list li .ug-school-product-discount {
    width: 100%;
    height: 24px;
    line-height: 24px;
    background: #FFD338;
    position: absolute;
    bottom: 50px;
    left: 0;
    font-size: 12px;
    font-weight: normal;
    color: #000000;
    text-align: center;
  }
  .ug-school-product-list li h3 {
    height: 40px;
    font-size: 14px;
    font-family: Poppins-Medium, Poppins;
    font-weight: 500;
    color: #1A1A1A;
    line-height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-top: 12px;
    margin-bottom: 8px;
  }
  .ug-school-product-list li p {
    font-size: 18px;
    font-family: Poppins-Regular, Poppins;
    font-weight: 400;
    color: #353535;
    line-height: 23px;
    padding-left: 10px;
    margin-bottom: 0;
  }
  .ug-school-less {
    background-color: #ECECEC;
  }
  .ug-school-less h3 {
    font-size: 24px;
    font-weight: 400;
    color: #131414;
    line-height: 28px;
    text-align: center;
    padding-top: 10.67vw;
    padding-bottom: 5.33vw;
  }
  .ug-school-less ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 15px;
    padding-right: 15px;
  }
  .ug-school-less ul li {
    width: 47%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    background-color: #FFFFFF;
    margin-bottom: 20px;
  }
  .ug-school-less ul li img {
    background-color: #F8F8F8;
    padding: 12.5%;
  }
  .ug-school-less ul li .title {
    height: 40px;
    font-size: 14px;
    font-family: Poppins-Medium, Poppins;
    font-weight: 500;
    color: #1A1A1A;
    line-height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-top: 12px;
    margin-bottom: 8px;
  }
  .ug-school-less ul li .price {
    font-size: 18px;
    font-family: Poppins-Regular, Poppins;
    font-weight: 400;
    color: #353535;
    line-height: 23px;
    padding-left: 10px;
  }
  .ug-school-less ul li .variant-box {
    margin-top: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 16px;
    padding-left: 9px;
  }
  .ug-school-less ul li .active {
    border: 1px solid #D9D9D9;
  }
  .ug-school-less ul li .variant-border {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .ug-school-less ul li .variant-border span {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 7px;
  }
  .ug-school-footer {
    width: 100%;
    margin-top: 36px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #F8F8F8;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 40px;
  }
  .ug-school-footer-title {
    font-size: 20px;
    font-family: Poppins-SemiBold, Poppins;
    font-weight: 600;
    color: #000000;
    line-height: 25px;
    text-align: center;
    margin-bottom: 24px;
  }
  .ug-school-footer-share {
    font-size: 16px;
    font-family: Poppins-Medium, Poppins;
    font-weight: 500;
    color: #131414;
    line-height: 24px;
    margin-bottom: 20px;
  }
  .ug-school-footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 0;
  }
  .ug-school-footer ul li {
    margin-left: 10px;
    margin-right: 10px;
  }
}
