{{ 'ug-140w.css' | asset_url | stylesheet_tag }}
<script src="https://unpkg.com/micromodal/dist/micromodal.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/ScrollTrigger.min.js"></script>
{% assign isMobile =  window %}
    <script>
        function isMobile() {
            let flag = /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);
            return flag;
        }
      gsap.registerPlugin(ScrollTrigger);
      $('#shopify-section-header-inline').hide()
       if（isMobile（）） {
         $('.is-pc').remove()
       } else {
          $('.is-pe').remove()
       }
    </script>
    {% style %}
    #shopify-section-header-inline {
        display: none;
    }
    {% endstyle %}

<div class="ug-104w-sticky-header">
    <div><a href="https://www.ugreen.com/">UGREEN</a></div>
    <div class="mail">
        <script charset="utf-8" type="text/javascript" src="https://js.hsforms.net/forms/v2.js?pre=1"></script>
        <script>
            hbspt.forms.create({
                region: "na1",
                portalId: "8447814",
                formId: "795a7e7b-fb24-4b78-97f9-d20719860ff4",
                onFormSubmit: function(){
                    $('.ug-104w-screen1 .mail').hide()
                    $('.ug-104w-sticky-header .mail').hide()
                }
            });
        </script>
    </div>
</div>
<div class="ug-104w-screen1">
    <div class="ug-stacky" id="screen1-trigger">
<!--        <div class="box screen1 is-pc">-->
<!--            <video class="is-pc" autoplay muted id="video1">-->
<!--                <source src="https://cdn.shopify.com/videos/c/o/v/1a20d431ac7f4ae389506bb42707625f.mp4"-->
<!--                        type="video/mp4">-->
<!--            </video>-->
<!--            <img class="is-pe"-->
<!--                 src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/Snipaste_2022-08-18_22-38-27.png?v=1660834155"/>-->
<!--            <div class="content1">-->
<!--                <div class="title">Nexode 140W Charger</div>-->
<!--                <div class="desc">Max Output: 140W for Single Port</div>-->
<!--            </div>-->
<!--        </div>-->
        <div class="box screen2">
            <div class="banner-wrap is-pc">
                <video class="banner-video" autoplay muted>
                    <source src="https://cdn.shopify.com/videos/c/o/v/c576ead57c3c4af7822a79c16f0a28fe.mp4"
                            type="video/mp4">
                </video>
                <div class="pe-title banner-title">
                    <div class="title"><span>Nexode</span> 140W Charger</div>
                    <div class="desc">Max Output: 140W for Single Port</div>
                </div>
                <div class="content2 banner-detail">
                    <div class="title"> Register to <span>WIN 1 of 30</span> New Nexode 140W!</div>
                    <div class="time">08/22-09/12</div>
                    <ul class="discount">
                        <li class="left">Extra
                            Bonus
                        </li>
                        <li class="center">
                            <span class="img-wrap"><img src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/2x_e7aaecb7-4c41-41be-9f09-73a154b23860.png?v=1660703554"/></span>
                            $30 Coupon
                        </li>
                        <li class="right">
                            <span class="img-wrap"><img src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/MacBook_Pro_16_2x_1cf94091-070b-47c6-ae26-2fd13334ef05.png?v=1660703554"/></span>
                            MacBook Pro 16"
                        </li>
                    </ul>
                    <div class="desc">
                        *Towards the purchase of the Nexode 140W Charger.<br>
                        **Use the coupon for a chance to win a MacBook Pro 16".
                    </div>
                    <div class="mail">
                        <script charset="utf-8" type="text/javascript" src="https://js.hsforms.net/forms/v2.js?pre=1"></script>
                    <script>
                        var mailTop = 0;
                        if(!isMobile()){
                          hbspt.forms.create({
                            region: "na1",
                            portalId: "8447814",
                            formId: "795a7e7b-fb24-4b78-97f9-d20719860ff4",
                            onFormSubmit: function(){
                                $('.ug-104w-screen1 .mail').hide()
                                $('.ug-104w-sticky-header .mail').hide()
                            },
                            onFormSubmitted: function(){
                              var w = $('.submitted-message').offsetWidth
                              var h = $('.submitted-message').offsetHeight
                              $('.mail').addClass('submitted')
                              $('.mail').height(h).width(w)
                              $('html').css({overflow: 'hidden'})
                              $('.mail-close-btn').addClass('submitted').click(function(){
                                $('html').css({overflow: 'auto'})
                                $('.mail').hide()
                              })
                            }
                        });
                        }
                    </script>
                      <span  class="mail-close-btn">+</span>
                    </div>
                    <div class="only">The event is open to the US&CA ONLY.</div>
                </div>
            </div>

            <div class="is-pe">
                <video class="is-pe" autoplay muted>
                    <source src="https://cdn.shopify.com/videos/c/o/v/7c9a73a59cdb4a8c8e586d8b3703956e.mp4"
                            type="video/mp4">
                </video>
                <div class="content2">
                    <div class="is-pe pe-title">
                        <div class="title"><span>Nexode</span> 140W Charger</div>
                        <div class="desc">Max Output: 140W for Single Port</div>
                    </div>
                    <div class="title"> Register to <span class="strong-text">WIN 1 of 30</span> New Nexode 140W!</div>
                    <div class="time">08/22-09/12</div>
                    <ul class="discount">
                        <li class="left">Extra
                            Bonus
                        </li>
                        <li class="center">
                            <span class="img-wrap"><img src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/2x_e7aaecb7-4c41-41be-9f09-73a154b23860.png?v=1660703554"/></span>
                            $30 Coupon
                        </li>
                        <li class="right">
                            <span class="img-wrap"><img src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/MacBook_Pro_16_2x_1cf94091-070b-47c6-ae26-2fd13334ef05.png?v=1660703554"/></span>
                            <span class="right-mac">MacBook Pro 16"</span>
                        </li>
                    </ul>
                    <div class="desc">
                        *Towards the purchase of the Nexode 140W Charger.<br>
                        **Use the coupon for a chance to win a MacBook Pro 16".
                    </div>
                    <div class="mail">
                        <script charset="utf-8" type="text/javascript" src="https://js.hsforms.net/forms/v2.js?pre=1"></script>
                        <script>
                            if(isMobile()){
                              hbspt.forms.create({
                                region: "na1",
                                portalId: "8447814",
                                formId: "795a7e7b-fb24-4b78-97f9-d20719860ff4",
                                onFormSubmit: function(){
                                  $('.ug-104w-screen1 .mail').hide()
                                  $('.ug-104w-sticky-header .mail').hide()
                                },
                                onFormSubmitted: function(){
                                var w = $('.submitted-message').offsetWidth
                                var h = $('.submitted-message').offsetHeight
                                $('.mail').addClass('submitted')
                                $('.mail').height(h).width('80vw')
                                $('html').css({overflow: 'hidden'})
                                $('.mail-close-btn').addClass('submitted').click(function(){
                                  $('html').css({overflow: 'auto'})
                                  $('.mail').hide()
                                })
                              }
                            });
                            }
                        </script>
                      <span  class="mail-close-btn">+</span>
                    </div>
                    <div class="only">The event is open to the US&CA ONLY.</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ug-104w-screen2-wrap">
    <div class="ug-104w-screen2">
        <div class="ug-stacky test1">
            <div class="img-slot"></div>
            <div class="box">
                <div class="title">Why Nexode 140W？</div>
                <div class="sub">
                    <div>NEW Cutting-Edge</div>
                    <div>Protocol: PD3.1</div>
                    <div class="more">More Charge in Less Time</div>
                </div>
                <button class="is-pc modal modal-show">inside PD3.1 <img
                        src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/ICON_2x_6abbfe1b-5236-4318-8794-ff6a15bce94a.png?v=1660715811"/>
                </button>
                <button class="is-pe modal modal-show pe-button">inside PD3.1 +
                </button>
            </div>
        </div>
        <div class="ug-stacky test2">
            <div class="box2">
                <div class="left">
                    <video class="is-pc" autoplay muted>
                        <source src="https://cdn.shopify.com/videos/c/o/v/4e1e9c85bfdd4a6ca1e5e17381ce3113.mp4"
                                type="video/mp4">
                    </video>
                    <video class="is-pe" autoplay muted>
                        <source src="https://cdn.shopify.com/videos/c/o/v/60d75c9a34954a779393c032dd6cb56f.mp4"
                                type="video/mp4">
                    </video>
                </div>
                <div class="right">
                    <div class="charging">HyperFast Charging</div>
                    <div class="goodbye">Goodbye to Slow Charging</div>
                </div>
            </div>
        </div>
        <div class="ug-stacky test3">
        <div class="box3">
            <div class="left">
                <img class="is-pc" src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/2.3.png?v=1660908547"/>
                <img class="is-pe"
                     src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/2.3_b0365579-c9e4-42af-8080-b3c6880942ec.png?v=1660921050"/>
            </div>
            <div class="right">
                <div class="charging">More Charge
                    For More Devices
                </div>
                <div class="goodbye">Charge Them All, No Favorites Needed</div>
            </div>
            <!--            <button class="is-pe modal">inside PD3.1 <img-->
            <!--                    src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/ICON_2x_6abbfe1b-5236-4318-8794-ff6a15bce94a.png?v=1660715811"/>-->
            <!--            </button>-->
        </div>
    </div>
    </div>
</div>

<div class="ug-104w-screen3">
    <div class="ug-stacky">
        <div class="box">
            <div class="fast">
                <div class="left">
                    Fast-Charging Workhorse
                </div>
                <div class="right">
                    <div class="title"><span class="mac">MacBook Pro 16'' </span><span>0-60%</span></div>
                    <ul>
                        <li>
                            <div class="progress">
                                <div class="bar-wrap">
                                    <div class="bar fast-bar"></div>
                                </div>
                                <div class="text">Nexode 140W Charger</div>
                            </div>
                            <div class="min">
                                <span class="fast-min min-count">0</span><span>min</span>
                            </div>
                        </li>
                        <li>
                            <div class="progress">
                                <div class="bar other normal-bar"></div>
                                <div class="text">Other 100W Charger</div>
                            </div>
                            <div class="min other">
                                <span class="normal-min min-count">0</span><span>min</span>
                            </div>
                        </li>
                        <li>
                            <div class="progress">
                                <div class="bar other slow-bar"></div>
                                <div class="text">Other 65W Charger</div>
                            </div>
                            <div class="min other">
                                <span class="slow-min min-count">0</span><span>min</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ug-104w-screen4">
    <div class="ug-stacky">
        <div class="box port1">
            <div class="title">Three Ports, Your Choice</div>
            <div class="sub"><span class="strong-num">One</span>-Port Charging</div>
            <video class="is-pc" autoplay muted loop="loop">
                <source src="https://cdn.shopify.com/videos/c/o/v/814e7de59af74334929e39744c57bb13.mp4"
                        type="video/mp4">
            </video>
            <video class="is-pe" autoplay muted loop="loop">
                <source src="https://cdn.shopify.com/videos/c/o/v/bbe775c49c314ef399eefccc88c17219.mp4"
                        type="video/mp4">
            </video>
        </div>
        <div class="box port2">
            <div class="title">Three Ports, Your Choice</div>
            <div class="sub"><span class="strong-num">Two</span>-Port Charging</div>
            <video class="is-pc" autoplay muted loop="loop">
                <source src="https://cdn.shopify.com/videos/c/o/v/63b465038f6e4ee5aa692467af61654a.mp4"
                        type="video/mp4">
            </video>
            <video class="is-pe" autoplay muted loop="loop">
                <source src="https://cdn.shopify.com/videos/c/o/v/c665dc8af5cb4d6ba2d15ae4ec5038bb.mp4"
                        type="video/mp4">
            </video>
        </div>
        <div class="box port3">
            <div class="title">Three Ports, Your Choice</div>
            <div class="sub"><span class="strong-num">Three</span>-Port Charging</div>
            <video class="is-pc" autoplay muted loop="loop">
                <source src="https://cdn.shopify.com/videos/c/o/v/fe1a83f7a70140e88c01c685821ceb70.mp4"
                        type="video/mp4">
            </video>
            <video class="is-pe" autoplay muted loop="loop">
                <source src="https://cdn.shopify.com/videos/c/o/v/a557d9e8af7145d8ba227ac46007e41d.mp4"
                        type="video/mp4">
            </video>
        </div>
    </div>
</div>

<div class="ug-104w-screen5">
    <ul>
        <li class="power">
            <video class="is-pc" autoplay muted loop="loop">
                <source src="https://cdn.shopify.com/videos/c/o/v/a1e47bee91784f15a1bfb0e93527b823.mp4"
                        type="video/mp4">
            </video>
            <video class="is-pe" autoplay muted loop="loop">
                <source src="https://cdn.shopify.com/videos/c/o/v/4b427d19e2774ce499f9d6e6cb4f17cb.mp4"
                        type="video/mp4">
            </video>
            <div class="content">
                <div class="title">Power Dispenser System</div>
                <div class="desc">Cleverly adjusting power output, protecting battery life.</div>
            </div>
        </li>
        <li class="the">
            <video class="is-pc" autoplay muted loop="loop">
                <source src="https://cdn.shopify.com/videos/c/o/v/b844b2318cbc4f08968298c5c526c8f3.mp4"
                        type="video/mp4">
            </video>
            <video class="is-pe" autoplay muted loop="loop">
                <source src="https://cdn.shopify.com/videos/c/o/v/c07be389e6e3429b8f91b5753e4bb91e.mp4"
                        type="video/mp4">
            </video>
            <div class="content">
                <div class="title">Thermal Guard™ Technology</div>
                <div class="desc">800 temperature readings a second protect from overheating.</div>
            </div>
        </li>
    </ul>
</div>

<div class="ug-104w-screen6">
    <div class="title">World's Leading GaNFast™ Chip</div>
    <ul>
        <li>
            <img src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/Efficient_Power_Conversion_2x_87274ed3-c803-4298-8ed0-250cad6a9ede.png?v=1660741164"/>
            Efficient Power<br> Conversion
        </li>
        <li>
            <img src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/Better_Heat_Diffusion_2x_c2e61947-292a-41e9-bec1-942eeb32c3b6.png?v=1660741164">
            Better Heat<br> Diffusion
        </li>
        <li>
            <img src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/Smaller_Size_2x_14205ae9-e5b5-4b01-bc56-6d88f9175902.png?v=1660741164">
            Smaller<br> Size
        </li>
    </ul>
        <div class="gan-wrap">
        <video class="gan is-pc gan1" autoplay muted loop="loop">
            <source src="https://cdn.shopify.com/videos/c/o/v/07b43f143a074624b47ecf4e2e2ca272.mp4"
                    type="video/mp4">
        </video>
        <video class="gan is-pe gan1" autoplay muted loop="loop">
            <source src="https://cdn.shopify.com/videos/c/o/v/2211867a6cc04a1c98e7150bcff474a3.mp4"
                    type="video/mp4">
        </video>
        <img class="gan is-pc gan2" src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/643ab9c00bbccb209e95bddd9c550ec3_e23a98d3-4448-42d2-9df0-0c37c1028456.png?v=1661326000" alt="">
        <img class="gan is-pe gan2" src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/643ab9c00bbccb209e95bddd9c550ec3_359ccaf0-3a4d-45db-8d17-e405b90b112b.png?v=1661332571" alt="">
    </div>
</div>

<div class="ug-104w-screen7">
    <div class="title">Contest Sign-Up</div>
    <div class="sub">Chance to <span>WIN 1 of 30</span> New Nexode 140W Chargers</div>
    <ul>
        <li>
            <img class="left"
                 src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/d5e3d65c279ecfec5b550b1eb82ba462.png?v=1660811273"/>
            <div class="right">
                <div class="item-title">Receive $30 Coupon</div>
                <div class="item-desc">Your purchase of the Nexode 140W Charger</div>
            </div>
        </li>
        <li>
            <img class="left"
                 src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/MacBook_Pro_16.png?v=1660811273"/>
            <div class="right">
                <div class="item-title">Use The Coupon</div>
                <div class="item-desc">Get a chance to win a MacBook Pro 16"</div>
            </div>
        </li>
    </ul>
    <div class="mail">
         <script charset="utf-8" type="text/javascript" src="https://js.hsforms.net/forms/v2.js?pre=1"></script>
                        <script>
                            hbspt.forms.create({
                                region: "na1",
                                portalId: "8447814",
                                formId: "795a7e7b-fb24-4b78-97f9-d20719860ff4",
                                onFormSubmitted: function(){
                                  console.log(isMobile(), 'isMobile')
                                var w = $('.submitted-message').offsetWidth
                                var h = $('.submitted-message').offsetHeight
                                $('.mail').addClass('submitted')
                                $('.mail').height(h).width(isMobile() ? '80vw' : w)
                                $('html').css({overflow: 'hidden'})
                                $('.mail-close-btn').addClass('submitted').click(function(){
                                  $('html').css({overflow: 'auto'})
                                  $('.mail').hide()
                                })
                              }
                            });
                        </script>
                        <span  class="mail-close-btn">+</span>
    </div>
</div>

<div class="modal micromodal-slide" id="modal-1" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
            <header class="modal__header">
                <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
            </header>
            <div class="modal__content" id="modal-1-content">
                <div class="title">PD3.1</div>
                <p>The Nexode 140W Charger with PD3.1 gets MORE charge to your devices, FASTER.</p>
                <div class="sub">Unlock the Future of Charging</div>
                <p>The Nexode 140W Charger utilizes the PD3.1 protocol to charge the MacBook Pro 16" at unprecedented
                    speeds. More tech companies are expected to support PD3.1 for upcoming laptop devices.</p>
                <ul>
                    <li><img
                            src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/gaming_laptop.png?v=1660916966">
                        <p>Gaming laptops</p></li>
                    <li><img
                            src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/Smart_appliances.png?v=1660916967">
                        <p>Smart appliances</p></li>
                    <li><img src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/Scooter.png?v=1660916967">
                        <p>Scooter</p></li>
                    <li><img src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/Power_tools.png?v=1660916967">
                        <p>Power tools</p></li>
                </ul>
                <p class="more">...and much more...</p>
                <p>In the near future, PD3.1 is predicted to support up to 240 watts of charging power. With this
                    innovative protocol, gaming laptops and devices, power tools, IoT devices and more are expected to
                    fully support this technology.</p>
                <ul>
                    <li><img
                            src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/Multi-person_office.png?v=1660916966">
                        <p>Multi-person office</p></li>
                    <li><img src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/Gaming.png?v=1660916966">
                        <p>Gaming</p></li>
                    <li><img src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/Garage.png?v=1660916966">
                        <p>Garage</p></li>
                    <li><img src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/Home_IoT.png?v=1660916967">
                        <p>Home IoT</p></li>
                </ul>
                <p class="more">...and much more...</p>
            </div>
        </div>
    </div>
</div>
</body>

<!--<script src="js/jquery.disablescroll.min.js"></script>-->
<script>
    $(function () {
        MicroModal.init();
        $('.modal-show').click(function () {
            MicroModal.show('modal-1');
            $('html').css({overflow: 'hidden'})
        })
      $('#modal-1').click(function(){
         MicroModal.close('modal-1');
        $('html').css({overflow: 'auto'})
      })
if(isMobile()) {
    peInit()
} else {
    pcInit()
}

function pcInit () {
    preLoadImg()
    bannerTrigger()
    detailTrigger()
    progressTrigger()
    portSTrigger()
    ganTrigger()
}

function peInit () {
    preLoadImg()
    detailTrigger()
    progressTrigger()
    portSTrigger()
    ganTriggerByPe()
}

function bannerTrigger() {
    var bannerWrap = document.querySelector('.banner-wrap')
    gsap.to('.banner-wrap', {
        scrollTrigger: {
            trigger: ".banner-wrap",
            start: "top top",
            // end: "center center",
            end: () => "+=" + bannerWrap.offsetHeight,
            scrub: true,
            pin: true,
            // markers: true
        }
    })
    gsap.to(".banner-video", {
        scrollTrigger: {
            trigger: ".banner-wrap",
            start: "top top",
            // end: "center center",
            end: () => "+=" + bannerWrap.offsetHeight,
            scrub: true,
            // pin: true
        },
        scale: 0.8
    });
    gsap.to(".banner-title", {
        scrollTrigger: {
            trigger: ".banner-wrap",
            start: "top 0px",
            end: "+=100",
            // end: "bottom top",
            // end: () => "+=" - 800,
            scrub: true,
            // pin: true
        },
        opacity: 0,
        // duration: 0.5
    });

    gsap.to(".banner-detail", {
        scrollTrigger: {
            trigger: ".banner-wrap",
            start: "top top",
            // end: "center center",
            // end: () => "+=" - 200,
            scrub: true,
            // pin: true
        },
        opacity: 1,
        bottom: 100
    });
}

function detailTrigger() {
    var screen2 = getDom('ug-104w-screen2')
        const frame_count = isMobile() ? 60 :30,
        offset_value = 100;

    gsap.timeline({
        scrollTrigger: {
            trigger: '.ug-104w-screen2',
            start: 'top top',
            end: "+=" + 5000,
            pin: true,
            scrub: true
        },
    })
        .to(".test1 .img-slot", {
        transform: `translateX(${-offset_value * frame_count }vw)`,
        // backgroundPosition: (-offset_value * frame_count * 2) + "px 50%",
        ease: "steps(" + frame_count + ")", // use a stepped ease for the sprite sheet

    })
        .to('.test1 .box', {opacity: 1})
        .to('.test1', {zIndex: 50})
        .to('.test1', {zIndex: -1})
        .to('.test1', {visibility: "hidden"})
        .to('.test2', { zIndex: 13})
        .to('.test2', {zIndex: -1,  opacity: 0})
        .to('.test3', {zIndex: 13})
}

function progressTrigger() {
    function numberAdd (target, result, timeTotal) {
        let i = 0;
        let time = timeTotal / result
        let timeId = setInterval(() => {
            if(i < result) {
                i++
                target.textContent = Number(target.textContent) + 1
            } else {
                clearInterval(timeId)
            }

        }, time)
    }

    gsap.to('.ug-104w-screen3  .fast-bar', {
        scrollTrigger: {
            trigger: ".ug-104w-screen3 .box",
            start: "top center",
            once: true,
            onEnter: () => numberAdd(getDom('fast-min'), 34, 500)
            // end: "center center",
            // scrub: true,
        },
        width: '100%',
        duration: 0.5,
    })
    gsap.to('.ug-104w-screen3  .normal-bar', {
        scrollTrigger: {
            trigger: ".ug-104w-screen3 .box",
            start: "top center",
            once: true,
            onEnter: () => numberAdd(getDom('normal-min'), 40, 2500)
            // end: "center center",
            // scrub: true,
        },
        width: '100%',
        duration: 2.5
    })
    gsap.to('.ug-104w-screen3  .slow-bar', {
        scrollTrigger: {
            trigger: ".ug-104w-screen3 .box",
            start: "top center",
            once: true,
            onEnter: () => numberAdd(getDom('slow-min'), 61, 3500)
            // end: "center center",
            // scrub: true,
        },
        width: '100%',
        duration: 3.5
    })
}

function portSTrigger() {
    var screen4 = getDom('ug-104w-screen4 .ug-stacky')
    gsap.to(screen4, {
        scrollTrigger: {
            trigger: screen4,
            start: 'top top',
            end:  () => "+=" + screen4.offsetHeight,
            pin: true,
            scrub: true,
        }
    })

    gsap.timeline({
        scrollTrigger: {
            trigger: screen4,
            start: 'top top',
            scrub: true,
            // markers: true,
            // toggleActions: 'restart none reverse none'
        },
    })
        .to('.port1', {zIndex: 50})
        .to('.port1', {zIndex: -1})
        .to('.port2', { zIndex: 13})
        .to('.port2', {zIndex: 0,  opacity: 0})
        .to('.port3', {zIndex: 13})
}

function ganTrigger() {
    var ganWrap = getDom('gan-wrap')
    gsap.to('.ug-104w-screen6  .gan-wrap', {
        scrollTrigger: {
            trigger: ".ug-104w-screen6  .gan-wrap",
            start: "top top",
            end:  () => "+=" + ganWrap.offsetHeight,
            pin: true,
            scrub: true,
        }
    })
    gsap.timeline({
        scrollTrigger: {
            trigger: ".ug-104w-screen6  .gan-wrap",
            start: "top top",
            end:  () => "+=" + ganWrap.offsetHeight,
            pin: true,
            scrub: true,
            // markers: true,
            // toggleActions: 'restart none reverse none'
        },
    })
        .to('.gan1', {zIndex: 50})
        .to('.gan1', {zIndex: -1})
        .to('.gan1', {visibility: "hidden"})
        .to('.gan2', { zIndex: 13})
}

function ganTriggerByPe() {
    var ganWrap = getDom('gan-wrap')
    gsap.timeline({
        scrollTrigger: {
            trigger: ".ug-104w-screen6",
            start: "top top",
            end:  () => "+=" + ganWrap.offsetHeight,
            pin: true,
            scrub: true,
            // markers: true,
            // toggleActions: 'restart none reverse none'
        },
    })
        .to('.gan1', {zIndex: 50})
        .to('.gan1', {zIndex: -1})
        .to('.gan1', {visibility: "hidden"})
        .to('.gan2', { zIndex: 13})
}

function preLoadImg() {
    let imgUrlArray = [];
    const pcUrl = [
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pc1.webp?v=1661363101",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pc2.webp?v=1661363101",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pc3.webp?v=1661363101",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pc4.webp?v=1661363101",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pc5.webp?v=1661363101",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pc6.webp?v=1661363101",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pc7.webp?v=1661363101",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pc8.webp?v=1661363101",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pc9.webp?v=1661363101",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pc10.webp?v=1661363101",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pc11.webp?v=1661363101",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pc12.webp?v=1661363101",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pc13.webp?v=1661363101",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pc14.webp?v=1661363101",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pc15.webp?v=1661363101",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pc16.webp?v=1661363101",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pc17.webp?v=1661363101",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pc18.webp?v=1661363101",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pc19.webp?v=1661363101",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pc20.webp?v=1661363101",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pc21.webp?v=1661363101",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pc22.webp?v=1661363101",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pc23.webp?v=1661363101",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pc24.webp?v=1661363101",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pc25.webp?v=1661363101",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pc26.webp?v=1661363101",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pc27.webp?v=1661363101",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pc28.webp?v=1661363101",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pc29.webp?v=1661363101",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pc30.webp?v=1661363101",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pc31.webp?v=1661363101"
    ];
    let peUrl = [
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe1.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe2.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe3.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe4.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe5.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe6.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe7.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe8.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe9.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe10.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe11.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe12.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe13.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe14.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe15.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe16.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe17.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe18.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe19.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe20.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe21.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe22.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe23.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe24.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe25.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe26.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe27.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe28.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe29.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe30.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe31.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe32.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe33.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe34.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe35.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe36.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe37.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe38.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe39.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe40.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe41.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe42.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe43.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe44.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe45.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe46.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe47.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe48.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe49.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe50.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe51.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe52.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe53.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe54.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe55.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe56.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe57.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe58.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe59.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe60.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe61.webp?v=1661422945"
    ]
    imgUrlArray = isMobile() ? peUrl : pcUrl;
    const newImageUrls = [];
    const imgSlot = getDom('img-slot')
    for (let i = 0; i < imgUrlArray.length; i++) {
        newImageUrls[i] = new Image();
        newImageUrls[i].src = imgUrlArray[i]
        let div = document.createElement('div')
        div.className = `img-wrap wrap${i}`
        div.setAttribute('style', `z-index: ${-i}`);
        div.appendChild(newImageUrls[i])
        imgSlot.appendChild(div)
    }
    imgSlot.setAttribute('style', `width: ${imgUrlArray.length *100 }vw`)
}


function getDom (name) {
    return document.querySelector('.' + name)
}
    })
  
</script>