{{ '140w-product.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/swiper-bundle.min_b4c60233-5e07-47dc-800a-583c16079d0b.css?v=1655275790">
<script src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/swiper-bundle.min_23a60c44-0efc-4129-bf9f-c046f688609a.js?v=1655275790"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/ScrollTrigger.min.js"></script>

    <script>
        function isMobile() {
            let flag = /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);
            return flag;
        }
      gsap.registerPlugin(ScrollTrigger);
    </script>

<div class="ug-104w-sticky-header">
    <div class="ug-104w-sticky-header-content">
        <div><a href="https://www.ugreen.com/">Nexode 140W Charger</a></div>
        <div class="ug-104w-sticky-header-menu">
            <div class="ug-104w-sticky-header-menu-overview active">Overview</div>
            <div class="ug-104w-sticky-header-menu-specs">Specs</div>
            <a href="https://www.ugreen.com/products/ugreen-nexode-140w-usb-c-wall-charger" target="_blank">
                <div class="ug-104w-sticky-header-menu-buy">
                    Buy
                </div>
            </a>
        </div>
    </div>
</div>

<div class="ug-104w-specs">
    <div class="ug-104w-specs-product">
        <div class="ug-104w-specs-product-wrap">
            <img class="is-pc lazy" data-src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/57915bb7498c17e420b96e51cd9e4a7b.png?v=1663031555"
                 alt="">
            <img class="is-pe lazy" data-src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/27192c0c4c57a3225675972b11f12037.png?v=1662903701"
                 alt="">
        </div>
    </div>
    <div class="ug-104w-specs-content">
        <div class="ug-104w-specs-left">Input & Output</div>
        <ul class="ug-104w-specs-right">
            <li class="ug-104w-specs-list">
                <span class="ug-104w-specs-list-title">Input:</span>
                <span class="ug-104w-specs-list-desc">
                    100-240V~50 / 60HZ 2A Max
                </span>
            </li>
            <li class="ug-104w-specs-list">
                <span class="ug-104w-specs-list-title">USB-C1 Output:</span>
                <span class="ug-104w-specs-list-desc">
                    5V⎓3A, 9V⎓3A, 12V⎓3A, 15V⎓3A<br/>
                    20V⎓5A, 28V⎓5A. 140W Max<br/>
                    PPS: 3.3~21V/5A
                </span>
            </li>
            <li class="ug-104w-specs-list">
                <span class="ug-104w-specs-list-title">USB-C2 Output:</span>
                <span class="ug-104w-specs-list-desc">
                    5V⎓3A, 9V⎓3A, 12V⎓3A, 15V⎓3A<br/>
                    20V⎓5A. 100W Max<br/>
                    PPS: 3.3~21V/5A
                </span>
            </li>
            <li class="ug-104w-specs-list">
                <span class="ug-104w-specs-list-title">USB-A Output:</span>
                <span class="ug-104w-specs-list-desc">
                    5V⎓4.5A, 4.5V⎓5A, 5V⎓3A, 9V⎓2A<br/>
                    12V⎓1.5A. 22.5W Max
                </span>
            </li>
            <li class="ug-104w-specs-list">
                <span class="ug-104w-specs-list-title">Total Output:</span>
                <span class="ug-104w-specs-list-desc">
                    140W Max
                </span>
            </li>
        </ul>
    </div>
    <div class="ug-104w-specs-content">
        <div class="ug-104w-specs-left">Cable included</div>
        <ul class="ug-104w-specs-right">
            <li class="ug-104w-specs-list">
                <span class="ug-104w-specs-list-title">Connector Type:</span>
                <span class="ug-104w-specs-list-desc">
                    100-240V~50 / 60HZ 2A Max
                </span>
            </li>
            <li class="ug-104w-specs-list">
                <span class="ug-104w-specs-list-title">USB-C1 Output:</span>
                <span class="ug-104w-specs-list-desc">USB-C to USB-C</span>
            </li>
            <li class="ug-104w-specs-list">
                <span class="ug-104w-specs-list-title">Cable Length:</span>
                <span class="ug-104w-specs-list-desc">1.5 m (4.95 feet)</span>
            </li>
            <li class="ug-104w-specs-list">
                <span class="ug-104w-specs-list-title">Data Transfer Rate:</span>
                <span class="ug-104w-specs-list-desc">480.00 megabytes_per_second</span>
            </li>
            <li class="ug-104w-specs-list">
                <span class="ug-104w-specs-list-title">Wattage:</span>
                <span class="ug-104w-specs-list-desc">240W Max</span>
            </li>
        </ul>
    </div>
    <div class="ug-104w-specs-content">
        <div class="ug-104w-specs-left">Protocol</div>
        <ul class="ug-104w-specs-right">
            <li class="ug-104w-specs-list">
                <span class="ug-104w-specs-list-title">USB-C Port: </span>
                <span class="ug-104w-specs-list-desc">
                    PD3.1(PD3.0\PD2.0), QC4+(QC4.0\QC3.0\QC2.0), PPS, AFC, APPLE 5V2.4A, BC1.2
                </span>
            </li>
            <li class="ug-104w-specs-list">
                <span class="ug-104w-specs-list-title">USB-A Port:</span>
                <span class="ug-104w-specs-list-desc">
                    SCP, QC3.0, AFC, FCP, APPLE 5V2.4A, BC1.2
                </span>
            </li>
        </ul>
    </div>
    <div class="ug-104w-specs-content">
        <div class="ug-104w-specs-left">Product</div>
        <ul class="ug-104w-specs-right">
            <li class="ug-104w-specs-list column">
                <span class="ug-104w-specs-list-title">Compatible for laptop, tablet, smartphone, Nintendo Switch, true wireless earbuds, and more.</span>
                <span class="ug-104w-specs-list-desc"></span>
            </li>
            <li class="ug-104w-specs-list column">
                <span class="ug-104w-specs-list-title">Laptops:</span>
                <span class="ug-104w-specs-list-desc">
                   Mac Book Pro 16", MacBook Pro 14", MacBook Pro 13", MacBook Air, Dell XPS / Inspiron, HP Elite, Google Pixelbook, Microsoft Surface Book 2, ThinkPad, and more.
                </span>
            </li>
            <li class="ug-104w-specs-list column">
                <span class="ug-104w-specs-list-title">Tablet:</span>
                <span class="ug-104w-specs-list-desc">
                    iPad 12.9", iPad Pro 11", iPad mini 5, iPad Air 3, and more.
                </span>
            </li>
            <li class="ug-104w-specs-list column">
                <span class="ug-104w-specs-list-title">Mobile:</span>
                <span class="ug-104w-specs-list-desc">
                    iPhone 14 / iPhone 13 / 13 Mini / 13 Pro / 13 Pro Max, iPhone 12 / 12 mini / 12 Pro / 12 Pro Max, iPhone SE (2nd generation), iPhone 11 / 11 Pro / 11 Pro Max, iPhone XS / XS Max / XR / X, iPhone 8 Plus / 8;
                    Samsung Galaxy S22 / S22+ / S21 / S21+ / S20 / S20+ / S20 Ultra / S10 / S10e / S10+ / S9 / S9+ / S8 / S8+ / Note 20 Ultra / Note 20 / Note 10 / Note 9 / Note 8;
                    Google Pixel / Pixel 3XL / 3 / 2XL / 2, Sony Xperia, LG G7 / V30+, and more.
                </span>
            </li>
            <li class="ug-104w-specs-list column">
                <span class="ug-104w-specs-list-title">Other:</span>
                <span class="ug-104w-specs-list-desc">
                    Nintendo Switch Docking Station, Switch Dock, DJI Mavic 3 / Air 2S, AirPods, Apple Watch and more.
                </span>
            </li>
        </ul>
    </div>
    <div class="ug-104w-specs-content">
        <div class="ug-104w-specs-left">Product Size</div>
        <ul class="ug-104w-specs-right">
            <li class="ug-104w-specs-list">
                <span class="ug-104w-specs-list-title">Charger Size:</span>
                <span class="ug-104w-specs-list-desc">
                    2.99×2.99×1.37 in (75.9×75.9×34.7 mm)
                </span>
            </li>
            <li class="ug-104w-specs-list">
                <span class="ug-104w-specs-list-title">Charger Weight:</span>
                <span class="ug-104w-specs-list-desc">
                    10.39 oz (294.5 g)
                </span>
            </li>
            <li class="ug-104w-specs-list">
                <span class="ug-104w-specs-list-title">Package Size:</span>
                <span class="ug-104w-specs-list-desc">
                    5.30×5.30×1.67 in (134.5×134.5×42.3 mm)
                </span>
            </li>
            <li class="ug-104w-specs-list">
                <span class="ug-104w-specs-list-title">Package Weight:</span>
                <span class="ug-104w-specs-list-desc">
                    17.21 oz (488 g)
                </span>
            </li>
            <li class="ug-104w-specs-list ug-104w-specs-list-product">
                <div>
                    <img class="is-pc lazy"
                         data-src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/2_6323787e-afb2-46df-8a43-1c1f284da69f.png?v=1662903701"
                         alt="">
                    <img class="is-pe lazy"
                         data-src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/2_6323787e-afb2-46df-8a43-1c1f284da69f.png?v=1662903701"
                         alt="">
                </div>
                <div>
                    <img class="is-pc lazy"
                         data-src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/3_409c2a8e-df18-42b7-ba07-9e646a6d9381.png?v=1662903701"
                         alt="">
                    <img class="is-pe lazy"
                         data-src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/3_409c2a8e-df18-42b7-ba07-9e646a6d9381.png?v=1662903701"
                         alt="">
                </div>
            </li>
        </ul>
    </div>
    <div class="ug-104w-specs-content">
        <div class="ug-104w-specs-left">Protection</div>
        <ul class="ug-104w-specs-right">
            <li class="ug-104w-specs-list column">
                <span class="ug-104w-specs-list-title">Input Overvoltage Protection, Output Overcurrent / Overvoltage / Over Temperature / Short Circuit Protection</span>
                <span class="ug-104w-specs-list-desc"></span>
            </li>
        </ul>
    </div>
    <div class="ug-104w-specs-content">
        <div class="ug-104w-specs-left">Temperature</div>
        <ul class="ug-104w-specs-right">
            <li class="ug-104w-specs-list">
                <span class="ug-104w-specs-list-title">Working Temperature:</span>
                <span class="ug-104w-specs-list-desc">14~77 °F(-10~25 °C)</span>
            </li>
            <li class="ug-104w-specs-list">
                <span class="ug-104w-specs-list-title">Storage Temperature:</span>
                <span class="ug-104w-specs-list-desc">-4℉~176 °F(-20~80 °C)</span>
            </li>
        </ul>
    </div>
    <div class="ug-104w-specs-content">
        <div class="ug-104w-specs-left">What’s in the box</div>
        <ul class="ug-104w-specs-right">
            <li class="ug-104w-specs-list column">
                <span class="ug-104w-specs-list-title">What’s in the box:</span>
                <span class="ug-104w-specs-list-desc">
                    1. Ugreen Nexode 140W Charger<br/>
                    2. 1.5 m (4.95 feet) USB-C to USB-C Cable<br/>
                    3. User Manual & User Instruction
                </span>
            </li>
        </ul>
    </div>
    <div class="is-pe ug-104w-specs-pla"></div>
</div>

<div class="ug-104w-main">

    <div class="ug-104w-screen1">
        <div class="ug-stacky" id="screen1-trigger">
            <div class="box screen2">
                <div class="banner-wrap is-pc">
                    <video class="banner-video lazy" autoplay muted data-src="https://cdn.shopify.com/videos/c/o/v/c576ead57c3c4af7822a79c16f0a28fe.mp4">
<!--                        <source src="https://cdn.shopify.com/videos/c/o/v/c576ead57c3c4af7822a79c16f0a28fe.mp4"-->
<!--                                type="video/mp4">-->
                    </video>
                    <div class="pe-title banner-title">
                        <div class="title screen1-animation-item1"><span>Nexode</span> 140W Charger</div>
                        <div class="desc screen1-animation-item2">Max Output: 140W for Single Port</div>
                        <a href="https://www.ugreen.com/products/ugreen-nexode-140w-usb-c-wall-charger" target="_blank">
                            <div class="buy-now screen1-animation-item3">Buy now</div>
                        </a>
                    </div>
                </div>

                <div class="banner-wrap is-pe">
                    <!--                <video class="is-pe" autoplay muted>-->
                    <!--                    <source src="https://cdn.shopify.com/videos/c/o/v/7c9a73a59cdb4a8c8e586d8b3703956e.mp4"-->
                    <!--                            type="video/mp4">-->
<!--                    </video>-->
                    <div class="ug-104w-screen1-pe-video">
                        <img class="lazy" data-src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/1_2_96f70aa0-64a8-48f8-8aa8-8d685113738d.png?v=1663049973"
                             alt="">
                    </div>

                    <div class="content2">
                        <div class="is-pe pe-title">
                            <div class="title screen1-animation-item1"><span>Nexode</span> 140W Charger</div>
                            <div class="desc screen1-animation-item2">Max Output: 140W for Single Port</div>
                          <a href="https://www.ugreen.com/products/ugreen-nexode-140w-usb-c-wall-charger" target="_blank">
                            <div class="buy-now screen1-animation-item3">Buy now</div>
                          </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ug-104w-screen8">
        <div class="ug-104w-screen8-video-wrap">
            <video class="is-pc mask lazy" autoplay muted loop="loop" data-src="https://cdn.shopify.com/videos/c/o/v/84cde188ba2049c48dfe4f75974c0c3c.mp4">
<!--                <source src="https://cdn.shopify.com/videos/c/o/v/84cde188ba2049c48dfe4f75974c0c3c.mp4"-->
<!--                        type="video/mp4">-->
            </video>
            <!--            <video class="is-pe mask" autoplay muted loop="loop">-->
            <!--                <source src="https://cdn.shopify.com/videos/c/o/v/d33b451b095e4b2eb13df623c8a863a8.mp4"-->
            <!--                        type="video/mp4">-->
            <!--            </video>-->
            <div class="ug-104w-screen8-video-pe is-pe">
                <img class="lazy" data-src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/video-mask.png?v=1663062029" alt="">
            </div>

            <div class="ug-104w-screen8-text-box">
                <div class="ug-104w-screen8-text">Charge Fast, Work Faster</div>
                <div class="ug-104w-screen8-play-btn">
                    <span>Watch video</span>
                    <div class="ug-104w-screen8-play-icon">
                        <div class="ug-104w-screen8-play-icon-inner"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ug-104w-screen9">
        <div class="is-pc">
            <div class="ug-104w-screen9-box">
                <div class="ug-104w-screen9-box-column1">
                    <div class="ug-104w-screen9-box-img1"><img
                            class="lazy"
                            data-src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/Cutting-Edge_GaN_Tech.png?v=1662627896"
                            alt=""></div>
                    <div class="ug-104w-screen9-box-img2"><img
                            class="lazy"
                            data-src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/PD3.1.png?v=1662627896" alt="">
                    </div>
                </div>
                <div class="ug-104w-screen9-box-column2">
                    <div class="ug-104w-screen9-box-img3"><img
                            class="lazy"
                            data-src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/140W.png?v=1662627896" alt="">
                    </div>
                    <div class="ug-104w-screen9-box-inline">
                        <div class="ug-104w-screen9-box-img4"><img
                                class="lazy"
                                data-src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/lQLPJxauYV4QJXPNARjNAVawiimli9IMxmoDHsVkNoCtAA_342_280.png?v=1663040748"
                                alt=""></div>
                        <div class="ug-104w-screen9-box-img5"><img
                                class="lazy"
                                data-src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/b0b9dce09b4d103b71ca4c9239bad33c.png?v=1662627896"
                                alt=""></div>
                    </div>
                </div>
                <div class="ug-104w-screen9-box-column3">
                    <div class="ug-104w-screen9-box-img6"><img
                            class="lazy"
                            data-src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/Power_Dispenser_System.png?v=1662627896"
                            alt=""></div>
                    <div class="ug-104w-screen9-box-img7"><img
                            class="lazy"
                            data-src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/37f1d6bc49ed8f4362c025aac65b8fc0.png?v=1663041001"
                            alt=""></div>
                </div>
            </div>
        </div>
        <div class="is-pe">
            <div class="ug-104w-screen9-box">
                <div class="ug-104w-screen9-box-top">
                    <div class="ug-104w-screen9-box-img1"><img
                            class="lazy"
                            data-src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/140W_f6ea9f24-fffd-4841-b1a9-e1e6eea0b11b.png?v=1663062028"
                            alt="">
                    </div>
                </div>
                <div class="ug-104w-screen9-box-bottom">
                    <div class="ug-104w-screen9-box-bottom-left">
                        <div class="ug-104w-screen9-box-img3"><img
                                class="lazy"
                                data-src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/Group_337.png?v=1663062027"
                                alt=""></div>
                        <div class="ug-104w-screen9-box-img2"><img
                                class="lazy"
                                data-src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/Group_325.png?v=1663062027"
                                alt=""></div>
                        <div class="ug-104w-screen9-box-img5"><img
                                class="lazy"
                                data-src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/tm_aa975be7-b94c-4502-aa5b-9bf1fe3d017a.png?v=1663062028"
                                alt=""></div>
                    </div>
                    <div class="ug-104w-screen9-box-bottom-right">
                        <div class="ug-104w-screen9-box-img4"><img
                                class="lazy"
                                data-src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/Group_338.png?v=1663062027"
                                alt=""></div>
                        <div class="ug-104w-screen9-box-img6"><img
                                class="lazy"
                                data-src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/3_d6e9043e-b5dc-4a5c-b63f-313229e3e9dc.png?v=1663062028"
                                alt="">
                        </div>
                        <div class="ug-104w-screen9-box-img7"><img
                                class="lazy"
                                data-src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/b0b9dce09b4d103b71ca4c9239bad33c_7526073d-b3bc-4110-ae03-da2674232774.png?v=1663062028" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ug-104w-screen10">

    </div>

    <div class="ug-104w-screen3">
        <div class="ug-stacky">
            <div class="box">
                <div class="fast">
                    <div class="left">
                        Fast-Charging Workhorse
                    </div>
                    <div class="right">
                        <div class="title"><span class="mac">MacBook Pro 16'' </span><span>0-60%</span></div>
                        <ul>
                            <li>
                                <div class="progress">
                                    <div class="bar-wrap">
                                        <div class="bar fast-bar"></div>
                                    </div>
                                    <div class="text">Nexode 140W Charger</div>
                                </div>
                                <div class="min">
                                    <span class="fast-min min-count">0</span><span>min</span>
                                </div>
                            </li>
                            <li>
                                <div class="progress">
                                    <div class="bar other normal-bar"></div>
                                    <div class="text">Other 100W Charger</div>
                                </div>
                                <div class="min other">
                                    <span class="normal-min min-count">0</span><span>min</span>
                                </div>
                            </li>
                            <li>
                                <div class="progress">
                                    <div class="bar other slow-bar"></div>
                                    <div class="text">Other 65W Charger</div>
                                </div>
                                <div class="min other">
                                    <span class="slow-min min-count">0</span><span>min</span>
                                </div>
                            </li>
                        </ul>
                        <div>
                            *To reach 140 watts, MacBooks MagSafe C-Type cable required <br/>
                            **Data collected in Ugreen's Lab
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ug-104w-screen4">
        <div class="ug-stacky">
            <div class="box port3">
                <div class="title"><span class="green-strong">Three</span> Ports, Your Choice</div>
                <!--            <div class="sub"><span class="strong-num">Three</span>-Port Charging</div>-->
                <video class="is-pc lazy" autoplay muted loop="loop" data-src="https://cdn.shopify.com/videos/c/o/v/fe1a83f7a70140e88c01c685821ceb70.mp4">
<!--                    <source src="https://cdn.shopify.com/videos/c/o/v/fe1a83f7a70140e88c01c685821ceb70.mp4"-->
<!--                            type="video/mp4">-->
                </video>
              <img class="is-pe lazy" data-src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/3_chongdian.png?v=1663660251" alt="">
            </div>
        </div>
    </div>

    <div class="ug-104w-screen5">
        <ul>
            <li class="power">
                <video class="is-pc lazy" autoplay muted loop="loop" data-src="https://cdn.shopify.com/videos/c/o/v/a1e47bee91784f15a1bfb0e93527b823.mp4">
<!--                    <source src="https://cdn.shopify.com/videos/c/o/v/a1e47bee91784f15a1bfb0e93527b823.mp4"-->
<!--                            type="video/mp4">-->
                </video>
                <!--            <video class="is-pe" autoplay muted loop="loop">-->
                <!--                <source src="https://cdn.shopify.com/videos/c/o/v/4b427d19e2774ce499f9d6e6cb4f17cb.mp4"-->
                <!--                        type="video/mp4">-->
                <!--            </video>-->
                <div class="ug-104w-screen5-pe-video is-pe">
                    <img class="lazy" data-src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/2_c45aebc3-3d35-44aa-908e-e9170f227435.png?v=1663049025"
                         alt="">
                </div>

                <div class="content">
                    <div class="title">Power Dispenser System</div>
                    <div class="desc">Cleverly adjusting power output, protecting battery life.</div>
                </div>
            </li>
            <li class="the">
                <video class="is-pc lazy" autoplay muted loop="loop" data-src="https://cdn.shopify.com/videos/c/o/v/b844b2318cbc4f08968298c5c526c8f3.mp4">
<!--                    <source src="https://cdn.shopify.com/videos/c/o/v/b844b2318cbc4f08968298c5c526c8f3.mp4"-->
<!--                            type="video/mp4">-->
                </video>
                <!--            <video class="is-pe" autoplay muted loop="loop">-->
                <!--                <source src="https://cdn.shopify.com/videos/c/o/v/c07be389e6e3429b8f91b5753e4bb91e.mp4"-->
                <!--                        type="video/mp4">-->
                <!--            </video>-->
                <div class="ug-104w-screen5-pe-video is-pe">
                    <img class="lazy" data-src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/3_f440bbc4-f341-49af-86d5-c694a4a84f7b.png?v=1663049026"
                         alt="">
                </div>
                <div class="content">
                    <div class="title">Thermal Guard™ Technology</div>
                    <div class="desc">800 temperature readings a second protect from overheating.</div>
                </div>
            </li>
        </ul>
    </div>

    <div class="ug-104w-screen6">
        <div class="ug-104w-screen6-info ug-104w-screen6-info1 order">
            <div class="ug-104w-screen6-info-detail">
                <div class="ug-104w-screen6-info-title">
                    World's Leading <span class="green-strong">GaN</span> Chip
                </div>
                <div class="ug-104w-screen6-info-icons">
                    <div class="ug-104w-screen6-info-icon-wrap">
                        <div><img
                                class="lazy"
                                data-src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/Efficient_Power_Conversion.png?v=1662630466"
                                alt=""></div>
                        <div>Efficient Power<br/> Conversion</div>
                    </div>
                    <div class="ug-104w-screen6-info-icon-wrap">
                        <div class="ug-104w-screen6-info-icon"><img
                                class="lazy"
                                data-src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/Better_Heat_Diffusion.png?v=1662630466"
                                alt=""></div>
                        <div>Better Heat<br/> Diffusion</div>
                    </div>
                    <div class="ug-104w-screen6-info-icon-wrap">
                        <div><img
                                class="lazy"
                                data-src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/Frame_3f7b0d92-59ed-4ba5-80de-77cbcea5e318.png?v=1662630467"
                                alt=""></div>
                        <div>Smaller<br/> Size</div>
                    </div>
                </div>
            </div>
            <div class="ug-104w-screen6-info-img-wrap">
                <div class="ug-104w-screen6-info-img">
                    <img class="is-pc lazy"
                         data-src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/Rectangle_352.png?v=1662630446"
                         alt="">
                    <img class="is-pe lazy"
                         data-src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe_Group_325_983a93a8-93cd-4186-a314-d353e5a100c4.png?v=1662801861"
                         alt="">
                </div>
            </div>
        </div>
        <div class="ug-104w-screen6-info ug-104w-screen6-info2">
            <div class="ug-104w-screen6-info-img">
                <img class="is-pc lazy"
                     data-src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/Mask_group-1.png?v=1662630447" alt="">
                <img class="is-pe lazy"
                     data-src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe_Mask_group.png?v=1662801862" alt="">
            </div>
            <div class="ug-104w-screen6-info-detail">
                <div class="ug-104w-screen6-info-title">
                    Compact, Light,& Dependable
                </div>
                <div class="ug-104w-screen6-info-other">
                    <div><img class="lazy" data-src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/Frame.png?v=1662630445"
                              width="233" height="144"></div>
                    <div class="ug-104w-screen6-info-other-desc">
                        <div class="ug-104w-screen6-info-other-desc-percentage">
                            <div class="percentage">22</div>
                            <div class="percent-sign">%</div>
                            smaller
                        </div>
                        <p>Than Apple 140W Charger</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="ug-104w-screen6-info ug-104w-screen6-info3 order">
            <div class="ug-104w-screen6-info-detail">
                <div class="ug-104w-screen6-info-title info3">
                    <div>Also In the Box</div>
                    <span class="green-strong">240W PD3.1 Cable</span>
                </div>
                <div class="ug-104w-screen6-info-icons">
                    <div class="ug-104w-screen6-info-icon-wrap">
                        <div><img class="lazy" data-src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/Frame-1.png?v=1662630466"
                                  alt=""></div>
                        <div>48V 5A <br/>Technology</div>
                    </div>
                    <div class="ug-104w-screen6-info-icon-wrap">
                        <div class="ug-104w-screen6-info-icon"><img
                                class="lazy"
                                data-src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/Frame-2.png?v=1662630466"
                                alt=""></div>
                        <div>E-Marker <br/>Chip</div>
                    </div>
                    <div class="ug-104w-screen6-info-icon-wrap">
                        <div class="ug-104w-screen6-info-icon"><img
                                class="lazy"
                                data-src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/Frame-3.png?v=1662630466"
                                alt=""></div>
                        <div>Nylon <br/>Braided</div>
                    </div>
                    <div class="ug-104w-screen6-info-icon-wrap">
                        <div class="ug-104w-screen6-info-icon"><img
                                class="lazy"
                                data-src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/Frame-4.png?v=1662630466"
                                alt=""></div>
                        <div>480 <br/>Mbps</div>
                    </div>
                </div>
            </div>
            <div class="ug-104w-screen6-info-img">
                <img class="is-pc lazy"
                     data-src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/Mask_group.png?v=1662630446"
                     alt="">
                <img class="is-pe lazy"
                     data-src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe_3_f981ceac-5f52-4093-8a90-509299c2085b.png?v=1662801862"
                     alt="">
            </div>
        </div>
    </div>

    <div class="ug-104w-screen7">
        <div class="ug-104w-screen7-title">What Professionals Say...</div>
        <div class="is-pc">
            <div class="carousel-wrap swiper-container mySwiper">
                <div class="swiper-wrapper">
                    <div class="carousel-item swiper-slide">
                        <img class="lazy" data-src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/Group_315-1.png?v=1662637567"
                             alt="">
                    </div>
                    <div class="carousel-item swiper-slide">
                        <img class="lazy" data-src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/Group_315.png?v=1662637566"
                             alt="">
                    </div>
                    <div class="carousel-item swiper-slide">
                        <img class="lazy" data-src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/Group_316_87eab6f9-8317-4198-953d-33287c9ee4e9.png?v=1662780142"
                             alt="">
                    </div>
                    <div class="carousel-item swiper-slide">
                        <img class="lazy" data-src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/Group_317_0d83add3-d497-4643-be7b-4eace8960388.png?v=1662780141"
                             alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="is-pe">
            <div class="carousel-wrap swiper-container mySwiper">
                <div class="swiper-wrapper">
                    <div class="carousel-item swiper-slide">
                        <img class="lazy" data-src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe___1.png?v=1662803827"
                             alt="">
                    </div>
                    <div class="carousel-item swiper-slide">
                        <img class="lazy" data-src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe___2.png?v=1662803826"
                             alt="">
                    </div>
                    <div class="carousel-item swiper-slide">
                        <img class="lazy" data-src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe___3.png?v=1662803827"
                             alt="">
                    </div>
                    <div class="carousel-item swiper-slide">
                        <img class="lazy" data-src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/Group_3413.png?v=1663049026"
                             alt="">
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="ug-104w-screen11">
        <div class="ug-104w-screen11-title">Charging Guide</div>
        <div class="is-pc">
            <div class="ug-104w-screen11-btn-tabs pc">
                <div class="ug-104w-screen11-btn-tab active">3-Port Charging</div>
                <div class="ug-104w-screen11-btn-tab">2-Port Charging</div>
                <div class="ug-104w-screen11-btn-tab">1-Port Charging</div>
            </div>
        </div>
        <div class="is-pe">
            <div class="ug-104w-screen11-btn-tabs pe">
                <div class="ug-104w-screen11-btn-tab active">3-Port</div>
                <div class="ug-104w-screen11-btn-tab">2-Port</div>
                <div class="ug-104w-screen11-btn-tab">1-Port</div>
            </div>
        </div>
        <div class="is-pc">
            <div class="ug-104w-screen11-img-wrap  pc">
                <img class="three lazy"
                     data-src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/3_541830dd-de7a-47dd-afee-f4ebb20f592a.png?v=1662638590"
                     alt="">
                <img class="two lazy" data-src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/2kou_1.png?v=1662638590"
                     alt="">
                <img class="one lazy"
                     data-src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/1_d004bf88-a5d2-4dce-be3a-a833467e5b8b.png?v=1662638590"
                     alt="">
            </div>
        </div>
        <div class="is-pe">
            <div class="ug-104w-screen11-img-wrap pe">
                <img class="three lazy"
                     data-src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe_3_6adea72c-5085-4788-9d26-01c81c57ea37.png?v=1662812627"
                     alt="">
                <img class="two lazy" data-src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe_2.png?v=1662812627"
                     alt="">
                <img class="one lazy"
                     data-src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe_1.png?v=1662812627"
                     alt="">
            </div>
        </div>

    </div>

    <div class="ug-104w-screen12">
        <div class="ug-104w-screen12-bg">
            <img class="is-pc lazy"
                 data-src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/Mask_group_76dec8bf-8fef-49eb-8c09-8c5dea41d8bb.png?v=1662782722"
                 alt="">
            <img class="is-pe lazy"
                 data-src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/126a45873d036a95955c08325c7b0b99.png?v=1662903702"
                 alt="">
        </div>
<!--        <div class="fake-title">-->
<!--            A Greener World with Ugreen-->
<!--        </div>-->
        <div class="ug-104w-screen12-content">
            <div class="ug-104w-screen12-logo">
                <div><img class="lazy" data-src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/Group.png?v=1662782721" alt="">
                </div>
                <div><img
                        class="lazy"
                        data-src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/Frame-1_6e9ec1e7-7b89-4c73-8070-f37f02ab8e33.png?v=1662782721"
                        alt=""></div>
            </div>
            <div class="ug-104w-screen12-title">A Greener World with Ugreen</div>
            <div class="ug-104w-screen12-detail-box">
                <div>
                    <div class="top-text">GaN Saves</div>
                    <div class="inline">
                        <span class="green-text">5,503</span>
                        <span class="white-text">Tons CO<span class="zoom">2</span></span>
                    </div>
                </div>
                <div class="same">≈</div>
                <div>
                    <div class="inline">
                        <div class="green-text">
                            <div class="top-text">Planting</div>
                            <span>220,775</span>
                        </div>
                        <div class="same-img"><img
                                class="lazy"
                                data-src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/Frame_0d3a60ac-8d4b-45fa-9963-0dd2ac5c50cd.png?v=1662782720"
                                alt=""></div>
                        <div class="white-text">Per Year</div>
                    </div>
                </div>
            </div>
            <div class="ug-104w-screen12-desc">Data source: Producing one GaN chip can save 8.8 pounds of CO<span
                    class="zoom">2</span> compared to
                silicon chips from Navitas official calculation. *5,503 tons, that's the same amount of CO<span
                        class="zoom">2</span> that 220,775
                trees can remove from the atmosphere.
            </div>
        </div>
    </div>

    <div class="youtube-video-wrap">
        <div class="youtube-video">
            <span class="video-close">+</span>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/XTzEbl0Gh3w"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
    </div>

</div>

<script>
  if (isMobile()) {
  $('.is-pc').remove()
} else {
  $('.is-pe').remove()
}
     document.addEventListener("DOMContentLoaded", function () {
        let lazyImages = [].slice.call(document.querySelectorAll(".lazy"));
        if("IntersectionObserver" in window) {
            let lazyImageObserver = new IntersectionObserver(function(entries, observer) {
                entries.forEach(function(entry) {
                    if(entry.isIntersecting) {
                        let lazyImage = entry.target;
                        lazyImage.src = lazyImage.dataset.src;
                        // lazyImage.srcset = lazyImage.dataset.srcset;
                        lazyImage.classList.remove("lazy");
                        lazyImageObserver.unobserve(lazyImage);
                    }
                });
            }, {rootMargin: '300px 0px 300px 0px'});
            lazyImages.forEach(function(lazyImage) {
                lazyImageObserver.observe(lazyImage);
            });
        } else {
            // Possibly fall back to a more compatible method here
        }
    })
</script>

<script>
$(function(){
if (isMobile()) {
    peInit()
} else {
    pcInit()
}

function pcInit() {
    changeProductInfoOnClick()
    // preLoadImg()
    bannerTrigger()
    detailTrigger()
    progressTrigger()
    // portSTrigger()
    screen9Trigger()
    changeApi()
    // screen6Trigger()
    swiperScreen7()
    // screen12Trigger()
    toggleVideo()
    // ganTrigger()
}

function peInit() {
    changeProductInfoOnClick()
    // preLoadImg()
    bannerTrigger()
    detailTrigger()
    progressTrigger()
    // portSTrigger()
    screen9Trigger()
    changeApi()
    // screen6Trigger()
    swiperScreen7()
    // screen12TriggerByPe()
    toggleVideo()
    // ganTriggerByPe()
}

/**动画效果**/

function bannerTrigger() {
    gsap.to('.screen1-animation-item1', {y: 0, opacity: 1, duration: 1.5, delay: 0.5})
    gsap.to('.screen1-animation-item2', {y: 0, opacity: 1, duration: 1.5, delay: 1})
    gsap.to('.screen1-animation-item3', {y: 0, opacity: 1, duration: 1.5, delay: 1.5})
}

function detailTrigger() {
    const frame_count = isMobile() ? 60 : 30, // 帧数
        offset_value = 100;

    gsap.timeline({
        scrollTrigger: {
            trigger: '.ug-104w-screen2',
            start: 'top top',
            end: "+=" + '3000',
            pin: true,
            scrub: true
        },
    })
        .to(".test1 .img-slot", {
            transform: `translateX(${-offset_value * frame_count}vw)`,
            ease: "steps(" + frame_count + ")", // use a stepped ease for the sprite sheet
        })
        .from('.test1 .sub1', {opacity: 0, y: 60, ease: "power3.out"})
        .from('.test1 .sub2', {opacity: 0, y: 60, ease: "power3.out"})
        .from('.test1 .sub3', {opacity: 0, y: 60, ease: "power3.out"})
        .from('.test1 .an-btn', {opacity: 0, y: 60, ease: "power3.out"})
}

function screen2Animation() {
    $('.ug-104w-screen2  .box').css({opacity: 1})
    gsap.from('.test1 .sub1', {opacity: 0, y: 60, ease: "power3.out", duration: 1.5, delay: 0.5})
    gsap.from('.test1 .sub2', {opacity: 0, y: 60, ease: "power3.out", duration: 1.5, delay: 1})
    gsap.from('.test1 .sub3', {opacity: 0, y: 60, ease: "power3.out", duration: 1.5, delay: 1.5})
    gsap.from('.test1 .an-btn', {opacity: 0, y: 60, ease: "power3.out", duration: 1.5, delay: 2})
}

function progressTrigger() {
    function numberAdd(target, result, timeTotal) {
        let i = 0;
        let time = timeTotal / result
        let timeId = setInterval(() => {
            if (i < result) {
                i++
                target.textContent = Number(target.textContent) + 1
            } else {
                clearInterval(timeId)
            }

        }, time)
    }

    gsap.to('.ug-104w-screen3  .fast-bar', {
        scrollTrigger: {
            trigger: ".ug-104w-screen3 .box",
            start: "top center",
            once: true,
            onEnter: () => numberAdd(getDom('fast-min'), 34, 500),
            // markers: true
            // end: "center center",
            // scrub: true,
        },
        width: '100%',
        ease: "power3.out",
        duration: 1,
    })
    gsap.to('.ug-104w-screen3  .normal-bar', {
        scrollTrigger: {
            trigger: ".ug-104w-screen3 .box",
            start: "top center",
            once: true,
            onEnter: () => numberAdd(getDom('normal-min'), 40, 2500)
            // end: "center center",
            // scrub: true,
        },
        width: '100%',
        ease: "power3.out",
        duration: 2.5
    })
    gsap.to('.ug-104w-screen3  .slow-bar', {
        scrollTrigger: {
            trigger: ".ug-104w-screen3 .box",
            start: "top center",
            once: true,
            onEnter: () => numberAdd(getDom('slow-min'), 61, 3500)
            // end: "center center",
            // scrub: true,
        },
        width: '100%',
        ease: "power3.out",
        duration: 3.5
    })
}

function portSTrigger() {
    var screen4 = getDom('ug-104w-screen4 .ug-stacky')
    gsap.to(screen4, {
        scrollTrigger: {
            trigger: screen4,
            start: 'top top',
            end: () => "+=" + screen4.offsetHeight,
            pin: true,
            scrub: true,
        }
    })

    gsap.timeline({
        scrollTrigger: {
            trigger: screen4,
            start: 'top top',
            scrub: true,
            // markers: true,
            // toggleActions: 'restart none reverse none'
        },
    })
        .to('.port1', {zIndex: 50})
        .to('.port1', {zIndex: -1})
        .to('.port2', {zIndex: 13})
        .to('.port2', {zIndex: 0, opacity: 0})
        .to('.port3', {zIndex: 13})
    // .to('.port1', {opacity: 0})
    // .to('.port2', { opacity: 1})
    // .to('.port2', {opacity: 0})
    // .to('.port3', {opacity: 1})
}

function ganTrigger() {
    var ganWrap = getDom('gan-wrap')
    gsap.to('.ug-104w-screen6  .gan-wrap', {
        scrollTrigger: {
            trigger: ".ug-104w-screen6  .gan-wrap",
            start: "top top",
            end: () => "+=" + ganWrap.offsetHeight,
            pin: true,
            scrub: true,
        }
    })
    gsap.timeline({
        scrollTrigger: {
            trigger: ".ug-104w-screen6  .gan-wrap",
            start: "top top",
            end: () => "+=" + ganWrap.offsetHeight,
            pin: true,
            scrub: true,
            // markers: true,
            // toggleActions: 'restart none reverse none'
        },
    })
        .to('.gan1', {zIndex: 50})
        .to('.gan1', {zIndex: -1})
        .to('.gan1', {visibility: "hidden"})
        .to('.gan2', {zIndex: 13})
}

function ganTriggerByPe() {
    var ganWrap = getDom('gan-wrap')
    gsap.timeline({
        scrollTrigger: {
            trigger: ".ug-104w-screen6",
            start: "top top",
            end: () => "+=" + ganWrap.offsetHeight,
            pin: true,
            scrub: true,
            // markers: true,
            // toggleActions: 'restart none reverse none'
        },
    })
        .to('.gan1', {zIndex: 50})
        .to('.gan1', {zIndex: -1})
        .to('.gan1', {visibility: "hidden"})
        .to('.gan2', {zIndex: 13})
}

function screen9Trigger() {
    const imgs = ['.ug-104w-screen9-box-img1', '.ug-104w-screen9-box-img3', '.ug-104w-screen9-box-img4', '.ug-104w-screen9-box-img2', '.ug-104w-screen9-box-img6', '.ug-104w-screen9-box-img5', '.ug-104w-screen9-box-img7']
    imgs.forEach((item, index) => {
        gsap.from(item,
            {
                scrollTrigger: {
                    trigger: '.ug-104w-screen9',
                    start: `-${100 * (imgs.length - index)} 100`,
                    end: "+=" + '500',
                    scrub: true,
                    // markers: true,
                },
                y: 60
            })
    })
}

function screen6Trigger() {
    const info1 = gsap.to('.ug-104w-screen6-info1 .ug-104w-screen6-info-img', {
        scrollTrigger: {
            trigger: ".ug-104w-screen6-info1",
            start: "top bottom",
            // markers: true,
            // restart: truer
            // end: "center center",
            // scrub: true,
            onEnter: () => info1.restart(),
            onLeave:() => {
                $('.ug-104w-screen6-info1 .ug-104w-screen6-info-img').css({
                transform: 'scale(1.2)',
                clipPath: 'inset(calc(100% - 1px) 0 0 0)'
            })},
            onEnterBack: () => info1.restart(),
            onLeaveBack:() =>  {
                $('.ug-104w-screen6-info1 .ug-104w-screen6-info-img').css({
                    transform: 'scale(1.2)',
                    clipPath: 'inset(calc(100% - 1px) 0 0 0)'
                })}
        },
        clipPath: 'inset(0 0 0 0)',
        transform: 'scale(1)'
    })
    const info2 = gsap.to('.ug-104w-screen6-info2 .ug-104w-screen6-info-img', {
        scrollTrigger: {
            trigger: ".ug-104w-screen6-info2",
            start: "top bottom",
            // markers: true,
            // restart: truer
            // end: "center center",
            // scrub: true,
            onEnter: () => info2.restart(),
            onLeave:() => {
                $('.ug-104w-screen6-info2 .ug-104w-screen6-info-img').css({
                    transform: 'scale(1.2)',
                    clipPath: 'inset(calc(100%) 0 0 0)'
                })},
            onEnterBack: () => info2.restart(),
            onLeaveBack:() =>  {
                $('.ug-104w-screen6-info2 .ug-104w-screen6-info-img').css({
                    transform: 'scale(1.2)',
                    clipPath: 'inset(calc(100%) 0 0 0)'
                })}
        },
        restart: true,
        clipPath: 'inset(0 0 0 0)',
        transform: 'scale(1)'
    })
    const info3 = gsap.to('.ug-104w-screen6-info3 .ug-104w-screen6-info-img', {
        scrollTrigger: {
            trigger: ".ug-104w-screen6-info3",
            start: "top bottom",
            // markers: true,
            // end: "center center",
            // scrub: true,
            onEnter: () => info3.restart(),
            onLeave:() => {
                $('.ug-104w-screen6-info3 .ug-104w-screen6-info-img').css({
                    transform: 'scale(1.2)',
                    clipPath: 'inset(calc(100%) 0 0 0)'
                })},
            onEnterBack: () => info3.restart(),
            onLeaveBack:() =>  {
                $('.ug-104w-screen6-info3 .ug-104w-screen6-info-img').css({
                    transform: 'scale(1.2)',
                    clipPath: 'inset(calc(100%) 0 0 0)'
                })}
        },
        restart: true,
        clipPath: 'inset(0 0 0 0)',
        transform: 'scale(1)'
    })

}

function swiperScreen7() {
    var swiper = new Swiper('.carousel-wrap', {
        speed: 5000, //匀速时间
        loop: true,
        slidesPerView: 'auto',
        autoplay: {
            delay: 0,
            stopOnLastSlide: false,
            disableOnInteraction: false
        }
    });
}

function screen12Trigger() {
    const titleTop = '12%'
    const windowWidth = window.innerWidth > 1920 ? 1920 : window.innerWidth
    const ratio = (windowWidth / 1920).toFixed(2)
    $('.ug-104w-screen12 .fake-title').css({zoom: ratio})
    $('.ug-104w-screen12-content').css({zoom: ratio})
    gsap.timeline({
        scrollTrigger: {
            trigger: ".ug-104w-screen12",
            start: "top top",
            end: () => "+=" + 3000,
            pin: true,
            scrub: true,
            // markers: true,
            // toggleActions: 'restart none reverse none'
        },
    })
        .to('.ug-104w-screen12-bg', {
            // transform: 'scale(0.85, 0.6)',
            // borderRadius: '24px'
            transform: 'scale(0.5)',
            borderRadius: '24px'
        })
    gsap.timeline({
        scrollTrigger: {
            trigger: ".ug-104w-screen12",
            start: "top top",
            end: () => "+=" + 3000,
            scrub: true,
            // markers: true,
            // toggleActions: 'restart none reverse none'
        },
    })
        .to('.ug-104w-screen12 .fake-title', {
            opacity: 0
        })
        .from('.ug-104w-screen12 .ug-104w-screen12-content', {
            y: 60,
            opacity: 0
        })
}

function screen12TriggerByPe() {
    gsap.timeline({
        scrollTrigger: {
            trigger: ".ug-104w-screen12",
            start: "top top",
            end: () => "+=" + 3000,
            pin: true,
            scrub: true,
        },
    })
        .to('.ug-104w-screen12-bg', {
            transform: 'scale(0.85, 0.6)',
            borderRadius: '24px'
        })
    gsap.timeline({
        scrollTrigger: {
            trigger: ".ug-104w-screen12",
            start: "top top",
            end: () => "+=" + 3000,
            scrub: true,
            // markers: true,
            // toggleActions: 'restart none reverse none'
        },
    })
        .to('.ug-104w-screen12 .fake-title', {
            opacity: 0
        })
        .from('.ug-104w-screen12 .ug-104w-screen12-content', {
            y: 60,
            opacity: 0
        })
}

/**动画效果**/


// 图片预加载
function preLoadImg() {
    let imgUrlArray = [];
    const pcUrl = [
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pc1.webp?v=1661363101",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pc2.webp?v=1661363101",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pc3.webp?v=1661363101",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pc4.webp?v=1661363101",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pc5.webp?v=1661363101",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pc6.webp?v=1661363101",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pc7.webp?v=1661363101",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pc8.webp?v=1661363101",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pc9.webp?v=1661363101",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pc10.webp?v=1661363101",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pc11.webp?v=1661363101",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pc12.webp?v=1661363101",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pc13.webp?v=1661363101",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pc14.webp?v=1661363101",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pc15.webp?v=1661363101",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pc16.webp?v=1661363101",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pc17.webp?v=1661363101",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pc18.webp?v=1661363101",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pc19.webp?v=1661363101",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pc20.webp?v=1661363101",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pc21.webp?v=1661363101",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pc22.webp?v=1661363101",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pc23.webp?v=1661363101",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pc24.webp?v=1661363101",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pc25.webp?v=1661363101",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pc26.webp?v=1661363101",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pc27.webp?v=1661363101",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pc28.webp?v=1661363101",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pc29.webp?v=1661363101",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pc30.webp?v=1661363101",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pc31.webp?v=1661363101"
    ];
    let peUrl = [
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe1.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe2.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe3.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe4.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe5.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe6.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe7.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe8.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe9.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe10.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe11.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe12.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe13.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe14.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe15.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe16.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe17.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe18.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe19.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe20.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe21.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe22.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe23.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe24.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe25.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe26.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe27.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe28.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe29.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe30.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe31.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe32.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe33.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe34.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe35.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe36.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe37.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe38.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe39.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe40.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe41.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe42.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe43.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe44.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe45.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe46.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe47.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe48.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe49.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe50.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe51.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe52.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe53.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe54.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe55.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe56.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe57.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe58.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe59.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe60.webp?v=1661422945",
        "https://cdn.shopify.com/s/files/1/0257/5246/9566/files/pe61.webp?v=1661422945"
    ]
    imgUrlArray = isMobile() ? peUrl : pcUrl;
    const newImageUrls = [];
    const imgSlot = getDom('img-slot')
    for (let i = 0; i < imgUrlArray.length; i++) {
        newImageUrls[i] = new Image();
        newImageUrls[i].src = imgUrlArray[i]
        let div = document.createElement('div')
        div.className = `img-wrap wrap${i}`
        div.setAttribute('style', `z-index: ${-i}`);
        div.appendChild(newImageUrls[i])
        imgSlot.appendChild(div)
    }
    imgSlot.setAttribute('style', `width: ${imgUrlArray.length * 100}vw`)
}

// 展示商品详情
function changeProductInfoOnClick() {
    const specsBtn = $('.ug-104w-sticky-header-menu-specs')
    const overViewBtn = $('.ug-104w-sticky-header-menu-overview')
    const specs = $('.ug-104w-specs')

    specsBtn.click(function () {
        specsBtn.addClass('active')
        overViewBtn.removeClass('active')
        specs.show()
        $('html').css('overflow-y', 'hidden')
        $('.ug-104w-sticky-header').css('position', 'fixed')
    })
    overViewBtn.click(function () {
        overViewBtn.addClass('active')
        specsBtn.removeClass('active')
        specs.hide()
        $('html').css('overflow-y', 'auto')
        $('.ug-104w-sticky-header').css('position', 'sticky')
    })
}

// 接口切换
function changeApi() {
    const tabs = isMobile() ? '.ug-104w-screen11-btn-tabs.pe' : '.ug-104w-screen11-btn-tabs.pc'
    const imgWrap = isMobile() ? '.ug-104w-screen11-img-wrap.pe' : '.ug-104w-screen11-img-wrap.pc'
    $(tabs).on('click', '.ug-104w-screen11-btn-tab', function (e) {
        const target = $(e.currentTarget)
        const index = target.index()
        target.addClass('active').siblings().removeClass('active')
        $(`${imgWrap} img`).eq(index).show().siblings().hide()
    })
}

function getDom(name) {
    return document.querySelector('.' + name)
}

function toggleVideo () {
    $('.ug-104w-screen8 .ug-104w-screen8-play-btn').click(function () {
        $('.youtube-video-wrap').addClass('show')
    })
    $('.youtube-video-wrap .video-close').click(function () {
        $('.youtube-video-wrap').removeClass('show')
    })
}
})
  
</script>